Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2023-04, with the labels that each got.

#9467 testing(bigquery): skip all datalab tests
  bigquery/datalab-migration/samples_test.py
Labels: automerge, api: bigquery, samples

#9335 chore(functions/v2/firebase/hello-firestore): Update firestore sample to use cloud event signature
  functions/v2/firebase/hello-firestore/main.py
  functions/v2/firebase/hello-firestore/main_test.py
  functions/v2/firebase/hello-firestore/requirements-test.txt
  functions/v2/firebase/hello-firestore/requirements.txt
Labels: api: cloudfunctions, samples

#9413 Auto-label PoC with multiLabelPaths
  .github/auto-label.yaml
Labels: automerge, samples

#9474 chore(deps): Updating OSLogin dependencies
  compute/oslogin/requirements-test.txt
  compute/oslogin/requirements.txt
Labels: api: compute, samples

#9489 fix: Add update_mask to SetAgentRequest in set_agent.py::set_agent
  dialogflow/set_agent.py
Labels: api: dialogflow, samples

#9496 retries for data-science-onramp
  data-science-onramp/data-ingestion/ingestion_test.py
  data-science-onramp/data-processing/process_test.py
Labels: samples

#9464 [DLP] Implemented dlp_deidentify_exception_list
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
Labels: api: dlp, samples

#9498 Skip IoT tests, add deprecation notice to readme
  iot/api-client/README.md
  iot/api-client/codelabs/noxfile_config.py
  iot/api-client/end_to_end_example/noxfile_config.py
  iot/api-client/gcs_file_to_device/noxfile_config.py
  iot/api-client/http_example/noxfile_config.py
  iot/api-client/mqtt_example/noxfile_config.py
Labels: api: cloudiot, samples

#9491 fix: use same project for all testing
  appengine/standard_python3/bundled-services/blobstore/django/noxfile_config.py
  appengine/standard_python3/bundled-services/blobstore/flask/noxfile_config.py
  appengine/standard_python3/bundled-services/blobstore/wsgi/noxfile_config.py
  appengine/standard_python3/bundled-services/deferred/django/noxfile_config.py
  appengine/standard_python3/bundled-services/deferred/flask/noxfile_config.py
  appengine/standard_python3/bundled-services/deferred/wsgi/noxfile_config.py
  appengine/standard_python3/bundled-services/mail/django/noxfile_config.py
  appengine/standard_python3/bundled-services/mail/flask/noxfile_config.py
  appengine/standard_python3/bundled-services/mail/wsgi/noxfile_config.py
  batch/noxfile_config.py
  compute/client_library/noxfile_config.py
  data-science-onramp/data-ingestion/noxfile_config.py
  data-science-onramp/data-processing/noxfile_config.py
  dataproc/snippets/noxfile_config.py
  dialogflow/noxfile_config.py
  healthcare/api-client/v1/consent/noxfile_config.py
  healthcare/api-client/v1/datasets/noxfile_config.py
  healthcare/api-client/v1/dicom/noxfile_config.py
  healthcare/api-client/v1/fhir/noxfile_config.py
  healthcare/api-client/v1/hl7v2/noxfile_config.py
  iam/api-client/noxfile_config.py
  jobs/v3/api_client/noxfile_config.py
  kms/snippets/noxfile_config.py
  monitoring/snippets/v3/alerts-client/noxfile_config.py
  monitoring/snippets/v3/cloud-client/noxfile_config.py
  monitoring/snippets/v3/uptime-check-client/noxfile_config.py
  recaptcha_enterprise/snippets/noxfile_config.py
  secretmanager/snippets/noxfile_config.py
  securitycenter/snippets/noxfile_config.py
  talent/noxfile_config.py
Labels: api: appengine, api: iam, api: monitoring, api: compute, api: dialogflow, api: dataproc, api: cloudkms, api: jobs, api: recaptchaenterprise, samples, api: security-privateca, api: batch, api: asset, api: healhcare

#9499 fix(pubsublite): pyspark pip install
  noxfile-template.py
  pubsublite/spark-connector/README.md
Labels: samples, api: pubsublite

#9497 chore: remove codelabs/ samples
  .github/CODEOWNERS
  codelabs/flex_and_vision/README.md
  codelabs/flex_and_vision/app.yaml
  codelabs/flex_and_vision/main.py
  codelabs/flex_and_vision/main_test.py
  codelabs/flex_and_vision/requirements-test.txt
  codelabs/flex_and_vision/requirements.txt
  codelabs/flex_and_vision/templates/homepage.html
  codelabs/functions/python_powered/app.py
  codelabs/functions/python_powered/main.py
  codelabs/functions/python_powered/python_powered.jpg
  codelabs/functions/python_powered/test_main.py
Labels: automerge, api: cloudfunctions, samples

#9502 fix: Get project and credentials from the ADC (dialogflow dialogflow_analyze_content_audio_stream)
  dialogflow/analyze_content_stream_test.py
  dialogflow/participant_management.py
Labels: api: dialogflow, samples

#9506 fix: add backoff and retry
  dataproc/snippets/quickstart/quickstart_test.py
Labels: api: dataproc, samples

#9507 fix: temporarily disable testing
  people-and-planet-ai/land-cover-classification/noxfile_config.py
  people-and-planet-ai/weather-forecasting/tests/dataset_tests/noxfile_config.py
Labels: samples, api: people-and-planet-ai

#9523 add retries for subnetwork not ready errors
  dataproc/snippets/create_cluster_test.py
  dataproc/snippets/submit_job_test.py
  dataproc/snippets/update_cluster_test.py
Labels: api: dataproc, samples

#9536 fix: Adding temporary skipif while product team fixes server-side error
  talent/job_search_commute_search_test.py
Labels: api: jobs, samples

#9538 fix: minimize custom tests used
  iam/api-client/custom_roles_test.py
Labels: api: iam, samples

#9539 fix: Adding temporary skipif while product team fixes server-side error
  jobs/v3/api_client/commute_search_sample_test.py
Labels: api: jobs, samples

#9547 fix: use standard mock library
  functions/billing/main_test.py
  functions/billing/requirements-test.txt
Labels: api: cloudbilling, samples

#9548 fix space, add cmd
  composer/workflows/kubernetes_pod_operator_c2.py
Labels: samples, api: workflows

#9479 chore(samples): added samples for Regional endpoint
  datastore/cloud-client/snippets.py
  datastore/cloud-client/snippets_test.py
  firestore/cloud-client/snippets.py
  firestore/cloud-client/snippets_test.py
Labels: api: firestore, samples

#9329 Update CODEOWNERS to include functions-framework-google
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: samples

#9531 [DLP] Implemented dlp_redact_image_listed_infotypes with unit test cases
  dlp/snippets/redact.py
  dlp/snippets/redact_test.py
Labels: api: dlp, samples

#9622 fix: slow down secretmanager writes
  secretmanager/snippets/snippets_test.py
Labels: api: secretmanager, samples

#9624 fix: try longer delay for quota
  secretmanager/snippets/snippets_test.py
Labels: api: secretmanager, samples

#9614 Update test-env.tmpl.sh
  testing/test-env.tmpl.sh
Labels: samples

#9631 fix: backoff on cancelled
  dataproc/snippets/update_cluster_test.py
Labels: api: dataproc, samples

#9632 fix: parameter count
  iam/api-client/custom_roles_test.py
Labels: api: iam, samples

#9519 [DLP] Implemented dlp_deidentify_table_bucketing
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
Labels: api: dlp, samples

#9595 chore: Issue template updates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: automerge, samples

#9561 chore: PR Template updates
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automerge, samples

#9520 [DLP] Implemented dlp_deidentify_table_condition_infotypes
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
Labels: api: dlp, samples

#9625 chore(functions/spanner): update sample to use declarative signature
  functions/spanner/main.py
  functions/spanner/requirements.txt
Labels: api: cloudfunctions, samples

#9480 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: samples

#9412 chore(functions/v2/firebase/upper-firestore): Make upper firestore sample gcf gen 2 compatible
  functions/v2/firebase/upper-firestore/main.py
  functions/v2/firebase/upper-firestore/main_test.py
  functions/v2/firebase/upper-firestore/requirements-test.txt
  functions/v2/firebase/upper-firestore/requirements.txt
Labels: api: cloudfunctions, samples

#9669 Update CODEOWNERS
  .github/CODEOWNERS
Labels: samples

#9666 fix: Reorganizing fixtures for the dataproc quickstart
  dataproc/snippets/quickstart/quickstart.py
  dataproc/snippets/quickstart/quickstart_test.py
Labels: api: dataproc, samples

#9671 fix: retry auth with delays
  auth/api-client/api_key_test.py
Labels: samples, api: auth

#9674 fix: initialize in case of exceptions
  auth/api-client/api_key_test.py
Labels: samples, api: auth

#9627 [DLP] Implemented dlp_redact_image_all_infotypes with unit test cases
  dlp/snippets/redact.py
  dlp/snippets/redact_test.py
Labels: api: dlp, samples

#9716 fix: DocAI Warehouse - Add UserInfo to quickstart sample
  contentwarehouse/snippets/quickstart_sample.py
  contentwarehouse/snippets/quickstart_sample_test.py
Labels: samples

#9599 fix: remove unwanted testcase from asset
  asset/snippets/quickstart_listassets_test.py
Labels: samples, api: asset

#9560 chore(functions/v2/firebase): update firebase samples
  functions/v2/firebase/hello-remote-config/main.py
  functions/v2/firebase/hello-remote-config/main_test.py
  functions/v2/firebase/hello-remote-config/requirements-test.txt
  functions/v2/firebase/hello-remote-config/requirements.txt
  functions/v2/firebase/hello-rtdb/main.py
  functions/v2/firebase/hello-rtdb/main_test.py
  functions/v2/firebase/hello-rtdb/requirements-test.txt
  functions/v2/firebase/hello-rtdb/requirements.txt
Labels: api: cloudfunctions, samples

#9722 fix: add Retail retries
  retail/interactive-tutorials/README.md
  retail/interactive-tutorials/TEST_RESOURCES_SETUP_CLEANUP.md
  retail/interactive-tutorials/events/import_user_events_bigquery_test.py
  retail/interactive-tutorials/events/import_user_events_gcs_test.py
  retail/interactive-tutorials/events/import_user_events_inline_test.py
  retail/interactive-tutorials/events/purge_user_event_test.py
  retail/interactive-tutorials/events/rejoin_user_event_test.py
  retail/interactive-tutorials/events/write_user_event_test.py
  retail/interactive-tutorials/product/add_fulfillment_places_test.py
  retail/interactive-tutorials/product/create_product_test.py
  retail/interactive-tutorials/product/crud_product_test.py
  retail/interactive-tutorials/product/delete_product_test.py
  retail/interactive-tutorials/product/get_product_test.py
  retail/interactive-tutorials/product/import_products_bq_test.py
  retail/interactive-tutorials/product/import_products_gcs_test.py
  retail/interactive-tutorials/product/import_products_inline_test.py
  retail/interactive-tutorials/product/remove_fulfillment_places_test.py
  retail/interactive-tutorials/product/set_inventory_test.py
  retail/interactive-tutorials/product/update_product_test.py
  retail/interactive-tutorials/search/search_simple_query_test.py
  retail/interactive-tutorials/search/search_with_boost_spec_test.py
  retail/interactive-tutorials/search/search_with_facet_spec_test.py
  retail/interactive-tutorials/search/search_with_filtering_test.py
  retail/interactive-tutorials/search/search_with_ordering_test.py
  retail/interactive-tutorials/search/search_with_pagination_test.py
  retail/interactive-tutorials/search/search_with_query_expansion_spec_test.py
Labels: automerge, samples, api: retail

#9744 fix: Adds Aborted as retriable test error dataproc
  dataproc/snippets/instantiate_inline_workflow_template_test.py
Labels: api: dataproc, samples

#9463 [DLP] Implemented de-identify with simple word list
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
Labels: automerge, api: dlp, samples

#9768 fix: allow test to be a little flaky
  vision/snippets/web/web_detect_test.py
Labels: api: vision, samples

#9767 fix: retry appengine/standard pip install
  appengine/standard/noxfile_config.py
Labels: api: appengine, samples

#9764 fix: changes default region for dataproc quickstart test to us-central2
  dataproc/snippets/submit_job_test.py
  dataproc/snippets/update_cluster_test.py
  pubsublite/spark-connector/spark_streaming_test.py
Labels: api: dataproc, samples

#9773 fix: Adjusting test case to new behavior, upper case in response
  dialogflow/analyze_content_stream_test.py
Labels: api: dialogflow, samples

#9774 fix: changes default region for data-science test to us-west1
  data-science-onramp/data-processing/process_test.py
Labels: samples

#9749 chore: CODEOWNERS audit
  .github/CODEOWNERS
Labels: samples

#9775 chore: use standard noxfile_config.py in CCAI Insights
  contact-center-insights/snippets/noxfile_config.py
Labels: automerge, samples, api: contactcenterinsights

#9786 fix: allow speech tests to be flaky
  speech/snippets/requirements-test.txt
  speech/snippets/transcribe_streaming_voice_activity_timeouts_test.py
Labels: api: speech, samples

#9787 fix: wait longer for bundled services
  appengine/standard_python3/bundled-services/blobstore/django/main_test.py
  appengine/standard_python3/bundled-services/blobstore/flask/main_test.py
  appengine/standard_python3/bundled-services/blobstore/wsgi/main_test.py
Labels: api: appengine, samples

#9602 Add public key conversion to JWK format.
  kms/snippets/get_public_key_jwk.py
  kms/snippets/requirements.txt
  kms/snippets/snippets_test.py
Labels: api: cloudkms, samples

#9793 fix: ensure cleanup even if exceptions
  appengine/standard_python3/bundled-services/blobstore/django/main_test.py
  appengine/standard_python3/bundled-services/blobstore/flask/main_test.py
  appengine/standard_python3/bundled-services/blobstore/wsgi/main_test.py
Labels: api: appengine, samples

#9796 fix: reorganize run pubsun e2e test fixtures with backoff
  run/pubsub/e2e_test.py
  run/pubsub/requirements-test.txt
Labels: api: pubsub, samples

#9720 chore: cleanup blunderbuss assignments
  .github/blunderbuss.yml
Labels: automerge, samples

#9746 feat: update recaptcha demosite front end
  recaptcha_enterprise/demosite/app/static/demo-6df0841a.js
  recaptcha_enterprise/demosite/app/static/global-e680a49614fd8ff8.js
  recaptcha_enterprise/demosite/app/templates/comment.html
  recaptcha_enterprise/demosite/app/templates/home.html
  recaptcha_enterprise/demosite/app/templates/login.html
  recaptcha_enterprise/demosite/app/templates/signup.html
  recaptcha_enterprise/demosite/app/templates/store.html
Labels: api: recaptchaenterprise, samples, asset: flagship

#9754 fix(private-ca): Fixing private CA testing
  privateca/snippets/conftest.py
  privateca/snippets/delete_certificate_authority.py
  privateca/snippets/disable_certificate_authority.py
  privateca/snippets/enable_certificate_authority.py
  privateca/snippets/test_ca_pools.py
  privateca/snippets/test_certificate_authorities.py
Labels: automerge, samples, api: security-privateca

#9790 Update the CI/CD tutorial link
  composer/cicd_sample/README.md
Labels: api: composer, samples

#9800 Update renovate.json
  renovate.json
Labels: samples

#9802 Update dependencies on pyproject.toml
  renovate.json
Labels: samples

#9784 add check for existing cluster
  dataproc/snippets/submit_job_test.py
Labels: api: dataproc, samples

#9812 chore: refactor test fixture logic
  firestore/cloud-client/query_filter_or.py
  firestore/cloud-client/query_filter_or_test.py
  firestore/cloud-client/requirements-test.txt
Labels: api: firestore, samples

#9813 chore(cloudsql): update DB_IAM_USER comment
  cloud-sql/mysql/sqlalchemy/connect_connector_auto_iam_authn.py
Labels: api: cloudsql, samples

#9769 feat(firestore): adds OR filter query
  firestore/cloud-client/query_filter_or.py
  firestore/cloud-client/query_filter_or_test.py
  firestore/cloud-client/requirements-test.txt
Labels: api: firestore, samples

#9817 fix: accept flaky behavior of service
  batch/requirements-test.txt
  batch/tests/test_basics.py
  batch/tests/test_bucket.py
  batch/tests/test_template.py
Labels: samples, api: batch

#9819 fix: allow subset for shorter response
  asset/snippets/quickstart_exportassets.py
  asset/snippets/quickstart_exportassets_test.py
Labels: automerge, samples, api: asset

#9823 fix: rework teardown logic to work correctly with backoff strategy
  dataproc/snippets/create_cluster_test.py
Labels: automerge, api: dataproc, samples

#9221 Document AI Warehouse: create ACL sample code
  contentwarehouse/snippets/fetch_acl_sample.py
  contentwarehouse/snippets/fetch_acl_sample_test.py
  contentwarehouse/snippets/set_acl_sample.py
  contentwarehouse/snippets/set_acl_sample_test.py
Labels: samples

#9824 fix: Adds InvalidArgument as caught exception
  dataproc/snippets/submit_job_test.py
Labels: api: dataproc, samples

#9827 update tensorflow and other dependencies
  dataflow/gpu-examples/tensorflow-landsat-prime/Dockerfile
  dataflow/gpu-examples/tensorflow-landsat-prime/noxfile_config.py
  dataflow/gpu-examples/tensorflow-landsat-prime/requirements-test.txt
  dataflow/gpu-examples/tensorflow-landsat-prime/requirements.txt
  dataflow/gpu-examples/tensorflow-landsat/Dockerfile
  dataflow/gpu-examples/tensorflow-landsat/noxfile_config.py
  dataflow/gpu-examples/tensorflow-landsat/requirements-test.txt
  dataflow/gpu-examples/tensorflow-landsat/requirements.txt
  dataflow/gpu-examples/tensorflow-minimal/Dockerfile
  dataflow/gpu-examples/tensorflow-minimal/noxfile_config.py
  dataflow/gpu-examples/tensorflow-minimal/requirements-test.txt
  dataflow/gpu-examples/tensorflow-minimal/requirements.txt
  ml_engine/online_prediction/requirements.txt
  people-and-planet-ai/geospatial-classification/constraints.txt
  people-and-planet-ai/geospatial-classification/noxfile_config.py
  people-and-planet-ai/geospatial-classification/requirements-test.txt
  people-and-planet-ai/geospatial-classification/requirements.txt
  people-and-planet-ai/geospatial-classification/serving_app/requirements.txt
  people-and-planet-ai/land-cover-classification/requirements.txt
  people-and-planet-ai/land-cover-classification/serving/requirements.txt
  people-and-planet-ai/land-cover-classification/setup.py
  people-and-planet-ai/timeseries-classification/Dockerfile
  people-and-planet-ai/timeseries-classification/constraints.txt
  people-and-planet-ai/timeseries-classification/noxfile_config.py
  people-and-planet-ai/timeseries-classification/requirements-test.txt
  people-and-planet-ai/timeseries-classification/requirements.txt
Labels: api: ml, samples, api: people-and-planet-ai

#9721 fix: restore/update cloud-functions-python-http
  .github/CODEOWNERS
  codelabs/README.md
  codelabs/cloud-functions-python-http/.gcloudignore
  codelabs/cloud-functions-python-http/main.py
  codelabs/cloud-functions-python-http/python-powered.png
  codelabs/cloud-functions-python-http/test_main.py
  codelabs/cloud-functions-python-http/web_app.py
Labels: samples

#9836 fix: update Cloud Workflows sample
  workflows/cloud-client/main.py
  workflows/cloud-client/main_test.py
  workflows/cloud-client/myFirstWorkflow.workflows.yaml
Labels: samples, api: workflows
