Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2023-06, with the labels that each got.

#10110 [fixit]add typehints and clean up speech/snippets
  speech/snippets/adaptation_v2_custom_class_reference.py
  speech/snippets/adaptation_v2_custom_class_reference_test.py
  speech/snippets/adaptation_v2_inline_custom_class.py
  speech/snippets/adaptation_v2_inline_custom_class_test.py
  speech/snippets/adaptation_v2_inline_phrase_set.py
  speech/snippets/adaptation_v2_inline_phrase_set_test.py
  speech/snippets/adaptation_v2_phrase_set_reference.py
  speech/snippets/adaptation_v2_phrase_set_reference_test.py
  speech/snippets/beta_snippets.py
  speech/snippets/beta_snippets_test.py
  speech/snippets/create_recognizer.py
  speech/snippets/create_recognizer_test.py
  speech/snippets/multi_region.py
  speech/snippets/multi_region_test.py
  speech/snippets/profanity_filter.py
  speech/snippets/profanity_filter_test.py
  speech/snippets/quickstart.py
  speech/snippets/quickstart_test.py
  speech/snippets/quickstart_v2.py
  speech/snippets/quickstart_v2_test.py
  speech/snippets/speech_adaptation_beta.py
  speech/snippets/speech_adaptation_beta_test.py
  speech/snippets/speech_model_adaptation_beta.py
  speech/snippets/speech_model_adaptation_beta_test.py
  speech/snippets/speech_quickstart_beta.py
  speech/snippets/speech_quickstart_beta_test.py
  speech/snippets/transcribe.py
  speech/snippets/transcribe_async_file.py
  speech/snippets/transcribe_async_file_test.py
  speech/snippets/transcribe_async_gcs_test.py
  speech/snippets/transcribe_auto_punctuation.py
  speech/snippets/transcribe_auto_punctuation_test.py
  speech/snippets/transcribe_context_classes.py
  speech/snippets/transcribe_context_classes_test.py
  speech/snippets/transcribe_diarization_gcs_beta.py
  speech/snippets/transcribe_enhanced_model.py
  speech/snippets/transcribe_enhanced_model_test.py
  speech/snippets/transcribe_file_v2.py
  speech/snippets/transcribe_file_v2_test.py
  speech/snippets/transcribe_gcs_v2.py
  speech/snippets/transcribe_gcs_v2_test.py
  speech/snippets/transcribe_model_selection.py
  speech/snippets/transcribe_model_selection_test.py
  speech/snippets/transcribe_multichannel.py
  speech/snippets/transcribe_multichannel_test.py
  speech/snippets/transcribe_onprem/transcribe_onprem.py
  speech/snippets/transcribe_streaming.py
  speech/snippets/transcribe_streaming_test.py
  speech/snippets/transcribe_streaming_v2.py
  speech/snippets/transcribe_streaming_v2_test.py
  speech/snippets/transcribe_streaming_voice_activity_events.py
  speech/snippets/transcribe_streaming_voice_activity_events_test.py
  speech/snippets/transcribe_streaming_voice_activity_timeouts.py
  speech/snippets/transcribe_streaming_voice_activity_timeouts_test.py
  speech/snippets/transcribe_test.py
  speech/snippets/transcribe_word_time_offsets.py
  speech/snippets/transcribe_word_time_offsets_test.py
Labels: api: speech, samples

#10140 fix: more HTTP request retries
  appengine/standard_python3/bundled-services/mail/django/main_test.py
Labels: api: appengine, samples

#10141 fix: more HTTP retries
  appengine/standard_python3/bundled-services/mail/wsgi/main_test.py
Labels: api: appengine, samples

#10101 [Fixit] add type hints to storage/api
  storage/api/compose_objects.py
  storage/api/compose_objects_test.py
  storage/api/crud_object.py
  storage/api/crud_object_test.py
  storage/api/customer_supplied_keys.py
  storage/api/customer_supplied_keys_test.py
  storage/api/list_objects.py
  storage/api/list_objects_test.py
Labels: api: storage, samples

#10172 feat: use pytest-xdist for parallel testing
  compute/client_library/requirements-test.txt
Labels: api: compute, samples

#10207 chore: remove unused storage apiary samples
  scripts/resources/docs-links.json
  storage/api/README.rst
  storage/api/README.rst.in
  storage/api/compose_objects.py
  storage/api/compose_objects_test.py
  storage/api/crud_object.py
  storage/api/crud_object_test.py
  storage/api/customer_supplied_keys.py
  storage/api/customer_supplied_keys_test.py
  storage/api/list_objects.py
  storage/api/list_objects_test.py
  storage/api/requirements-test.txt
  storage/api/requirements.txt
  storage/api/resources/file1.txt
  storage/api/resources/file2.txt
Labels: api: storage, samples

#10192 chore: fix dialogflow test lint errors
  auth/api-client/api_key_test.py
Labels: automerge, samples, api: auth

#9652 feat(texttospeech): create long_audio_quickstart.py
  texttospeech/snippets/long_audio_quickstart.py
  texttospeech/snippets/long_audio_quickstart_test.py
Labels: api: texttospeech, samples

#10212 chore: update dependency update schedule
  renovate.json
Labels: samples

#10011 chore: Add Owlbot config to repository
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  .repo-metadata.json
Labels: kokoro:run, samples, snippet-bot:no-prefix-req, owlbot:ignore

#10039 fix: Backoff retry for timeout errors
  dlp/snippets/inspect_content_test.py
Labels: automerge, api: dlp, samples

#10123 [DLP] Implemented dlp_deidentify_table_with_crypto_hash and dlp_deidentify_table_with_multiple_crypto_hash
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
Labels: automerge, api: dlp, samples

#10158 [DLP] Implemented create and update stored infoType code samples
  .github/header-checker-lint.yml
  dlp/snippets/resources/term_list.txt
  dlp/snippets/stored_infotype.py
  dlp/snippets/stored_infotype_test.py
Labels: automerge, api: dlp, samples

#10137 [DLP] Implemented dlp_inspect_data_to_hybrid_job_trigger and tested using mocking approach
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
Labels: automerge, api: dlp, samples

#10221 chore: Add Owlbot configuration
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  .repo-metadata.json
  AUTHORING_GUIDE.md
  owlbot.py
Labels: automerge, samples, owlbot:ignore

#10256 fix: appengine assignments team change
  .github/blunderbuss.yml
Labels: samples

#10238 chore: Remove deprecated Cloud Debugger sample
  appengine/standard_python3/cloud_debugger/app.yaml
  appengine/standard_python3/cloud_debugger/main.py
  appengine/standard_python3/cloud_debugger/noxfile_config.py
  appengine/standard_python3/cloud_debugger/requirements-test.txt
  appengine/standard_python3/cloud_debugger/requirements.txt
  appengine/standard_python3/cloud_debugger/templates/index.html
Labels: api: appengine, samples

#10235 [DLP] Implemented dlp_deidentify_time_extract sample
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
Labels: automerge, api: dlp, samples

#9743 fixit: Changes to DocAI Samples to simplify maintenence
  documentai/snippets/batch_process_documents_processor_version_sample.py
  documentai/snippets/batch_process_documents_processor_version_sample_test.py
  documentai/snippets/batch_process_documents_sample.py
  documentai/snippets/batch_process_documents_sample_test.py
  documentai/snippets/cancel_operation_sample.py
  documentai/snippets/cancel_operation_sample_test.py
  documentai/snippets/get_operation_sample.py
  documentai/snippets/get_operation_sample_test.py
  documentai/snippets/handle_response_sample.py
  documentai/snippets/handle_response_sample_test.py
  documentai/snippets/list_operations_sample.py
  documentai/snippets/list_operations_sample_test.py
  documentai/snippets/list_processor_versions_sample.py
  documentai/snippets/operations_sample_test.py
  documentai/snippets/poll_operation_sample.py
  documentai/snippets/poll_operation_sample_test.py
  documentai/snippets/process_document_form_sample.py
  documentai/snippets/process_document_form_sample_test.py
  documentai/snippets/process_document_ocr_sample.py
  documentai/snippets/process_document_ocr_sample_test.py
  documentai/snippets/process_document_processor_version_sample.py
  documentai/snippets/process_document_processor_version_sample_test.py
  documentai/snippets/process_document_quality_sample.py
  documentai/snippets/process_document_quality_sample_test.py
  documentai/snippets/process_document_sample.py
  documentai/snippets/process_document_sample_test.py
  documentai/snippets/process_document_specialized_sample.py
  documentai/snippets/process_document_specialized_sample_test.py
  documentai/snippets/process_document_splitter_sample.py
  documentai/snippets/process_document_splitter_sample_test.py
  documentai/snippets/quickstart_sample.py
  documentai/snippets/quickstart_sample_test.py
  documentai/snippets/train_processor_version_sample.py
Labels: automerge, kokoro:run, samples, api: documentai, owlbot:ignore

#10282 fix: Dialogflow CX detect intent flaky test
  dialogflow-cx/detect_intent_with_sentiment_analysis_test.py
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
Labels: samples

#10273 [DLP] Corrected Region tags for 6 DLP samples and made related code changes
  dlp/snippets/custom_infotype.py
  dlp/snippets/custom_infotype_test.py
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
  dlp/snippets/templates.py
Labels: api: dlp, samples

#10286 chore(webrisk): update submitUri method
  webrisk/snippets/submit_uri.py
Labels: api: webrisk, samples, owlbot:ignore

#10284 chore: handle auth flakiness
  auth/api-client/api_key_test.py
Labels: samples, api: auth, owlbot:ignore

#10067 fixit: Clean up Python sample at compute/oslogin
  compute/oslogin/oslogin_service_account_ssh.py
  compute/oslogin/oslogin_service_account_ssh_test.py
  compute/oslogin/physical_security_key_ssh.py
  compute/oslogin/service_account_ssh.py
  compute/oslogin/service_account_ssh_test.py
Labels: api: compute, samples

#10287 fix: broken tests in gen ai string matching
  generative_ai/chat_test.py
  generative_ai/code_generation_function_test.py
  generative_ai/extraction_test.py
Labels: samples, owlbot:ignore

#10290 fix: display result when run standalone
  auth/api-client/api_key_test.py
  auth/service-to-service/main.py
  dlp/snippets/inspect_content.py
  webrisk/snippets/submit_uri.py
Labels: automerge, samples, api: auth

#10291 feat(cloudsql): notebook for Cloud SQL, pgvector and LLM integration
  cloud-sql/postgres/pgvector/data/retail_toy_dataset.csv
  cloud-sql/postgres/pgvector/notebooks/pgvector_gen_ai_demo.ipynb
Labels: api: cloudsql, samples

#10310 chore: Update `owlbot.py` to only format changed files
  owlbot.py
Labels: kokoro:run, samples

#10323 fix: broken tests due to str(enum) changes in Python 3.11
  video/transcoder/get_job_state.py
  video/transcoder/job_test.py
Labels: samples

#10278 [DLP] Implemented dlp_inspect_column_values_w_custom_hotwords and dlp_inspect_image_file
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
Labels: automerge, api: dlp, samples

#10327 fix(dlp, testing): add unique string to dlp infotype tests
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
  dlp/snippets/stored_infotype_test.py
Labels: api: dlp, samples

#10324 fix(compute): Properly configuring network for instance creation
  compute/client_library/ingredients/instances/create_instance.py
  compute/client_library/snippets/instances/create.py
  compute/client_library/snippets/instances/create_start_instance/create_from_custom_image.py
  compute/client_library/snippets/instances/create_start_instance/create_from_public_image.py
  compute/client_library/snippets/instances/create_start_instance/create_from_snapshot.py
  compute/client_library/snippets/instances/create_start_instance/create_windows_instance.py
  compute/client_library/snippets/instances/create_start_instance/create_with_additional_disk.py
  compute/client_library/snippets/instances/create_start_instance/create_with_existing_disks.py
  compute/client_library/snippets/instances/create_start_instance/create_with_local_ssd.py
  compute/client_library/snippets/instances/create_start_instance/create_with_snapshotted_data_disk.py
  compute/client_library/snippets/instances/create_with_subnet.py
  compute/client_library/snippets/instances/custom_hostname/create.py
  compute/client_library/snippets/instances/custom_machine_types/create_shared_with_helper.py
  compute/client_library/snippets/instances/custom_machine_types/create_with_helper.py
  compute/client_library/snippets/instances/custom_machine_types/create_without_helper.py
  compute/client_library/snippets/instances/custom_machine_types/extra_mem_no_helper.py
  compute/client_library/snippets/instances/delete_protection/create.py
  compute/client_library/snippets/instances/preemptible/create_preemptible.py
  compute/client_library/snippets/instances/spot/create.py
Labels: automerge, api: compute, samples

#10222 feat(eventarc): new sample for storage event receiver
  eventarc/storage_handler/Procfile
  eventarc/storage_handler/main.py
  eventarc/storage_handler/main_test.py
  eventarc/storage_handler/requirements-test.txt
  eventarc/storage_handler/requirements.txt
Labels: samples, api: eventarc, owlbot:ignore

#10332 chore: remove unused mock dependency
  auth/api-client/requirements-test.txt
  auth/cloud-client/requirements-test.txt
  bigquery/bqml/requirements-test.txt
  bigquery/pandas-gbq-migration/requirements-test.txt
  composer/functions/requirements-test.txt
  compute/auth/requirements-test.txt
  compute/metadata/requirements-test.txt
  compute/oslogin/requirements-test.txt
  contentwarehouse/snippets/requirements-test.txt
  dlp/snippets/requirements-test.txt
  documentai/snippets/requirements-test.txt
  error_reporting/fluent_on_compute/main_test.py
  error_reporting/fluent_on_compute/requirements-test.txt
  functions/firebase/requirements-test.txt
  functions/helloworld/requirements-test.txt
  functions/imagemagick/requirements-test.txt
  functions/ocr/app/requirements-test.txt
  functions/pubsub/requirements-test.txt
  functions/security/requirements-test.txt
  functions/slack/requirements-test.txt
  functions/v2/imagemagick/requirements-test.txt
  functions/v2/ocr/requirements-test.txt
  iot/api-client/gcs_file_to_device/requirements-test.txt
  monitoring/snippets/v3/cloud-client/requirements-test.txt
  run/deployment-previews/requirements-test.txt
  run/image-processing/requirements-test.txt
  speech/microphone/requirements-test.txt
  trace/cloud-trace-demo-app-opentelemetry/app/app_test.py
  trace/cloud-trace-demo-app-opentelemetry/app/requirements-test.txt
Labels: api: speech, api: pubsub, api: dlp, api: run, api: monitoring, api: bigquery, api: compute, api: cloudfunctions, api: cloudiot, api: cloudtrace, api: clouderrorreporting, samples, api: documentai, api: auth

#10337 chore: add skip to flaky gen_ai test
  generative_ai/tuning_test.py
Labels: samples

#10331 Update AUTHORING_GUIDE.md with retry.Retry() instructions
  AUTHORING_GUIDE.md
Labels: samples

#10202 chore: add retries to automl snippets
  automl/beta/batch_predict_test.py
  automl/beta/delete_dataset_test.py
  automl/beta/delete_model_test.py
  automl/beta/get_model_evaluation_test.py
  automl/beta/get_model_test.py
  automl/beta/get_operation_status_test.py
  automl/beta/import_dataset_test.py
  automl/beta/list_datasets_test.py
  automl/beta/list_models_test.py
  automl/beta/set_endpoint_test.py
  automl/beta/video_classification_create_dataset_test.py
  automl/beta/video_classification_create_model_test.py
  automl/beta/video_object_tracking_create_dataset_test.py
  automl/beta/video_object_tracking_create_model_test.py
  automl/snippets/batch_predict_test.py
  automl/snippets/delete_dataset_test.py
  automl/snippets/delete_model_test.py
  automl/snippets/deploy_model_test.py
  automl/snippets/export_dataset_test.py
  automl/snippets/get_dataset_test.py
  automl/snippets/get_model_evaluation_test.py
  automl/snippets/get_model_test.py
  automl/snippets/get_operation_status_test.py
  automl/snippets/import_dataset_test.py
  automl/snippets/language_entity_extraction_create_dataset_test.py
  automl/snippets/language_entity_extraction_create_model_test.py
  automl/snippets/language_sentiment_analysis_create_dataset_test.py
  automl/snippets/language_sentiment_analysis_create_model_test.py
  automl/snippets/language_sentiment_analysis_predict_test.py
  automl/snippets/language_text_classification_create_dataset_test.py
  automl/snippets/language_text_classification_create_model_test.py
  automl/snippets/language_text_classification_predict_test.py
  automl/snippets/list_datasets_test.py
  automl/snippets/list_model_evaluations_test.py
  automl/snippets/list_models_test.py
  automl/snippets/translate_create_dataset_test.py
  automl/snippets/translate_create_model_test.py
  automl/snippets/translate_predict_test.py
  automl/snippets/undeploy_model_test.py
  automl/snippets/vision_classification_create_dataset_test.py
  automl/snippets/vision_classification_create_model_test.py
  automl/snippets/vision_classification_deploy_model_node_count_test.py
  automl/snippets/vision_classification_predict_test.py
  automl/snippets/vision_object_detection_create_dataset_test.py
  automl/snippets/vision_object_detection_create_model_test.py
  automl/snippets/vision_object_detection_deploy_model_node_count_test.py
  automl/tables/dataset_test.py
  automl/tables/endpoint_test.py
  automl/tables/model_test.py
  automl/vision_edge/edge_container_predict/automl_vision_edge_container_predict_test.py
Labels: api: automl, samples

#10167 chore: add retries to cloud-tasks tests
  cloud_tasks/snippets/README.md
  cloud_tasks/snippets/create_http_task_test.py
  cloud_tasks/snippets/create_http_task_with_token_test.py
  cloud_tasks/snippets/create_queue_test.py
  cloud_tasks/snippets/list_queues_test.py
Labels: api: tasks, samples

#10338 chore: remove imagemagick mock dependency
  functions/imagemagick/requirements-dev.txt
  functions/imagemagick/requirements-test.txt
  functions/imagemagick/requirements.txt
Labels: api: cloudfunctions, samples
