Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2023-07, with the labels that each got.

#10334 Revise README.md
  appengine/flexible_python37_and_earlier/tasks/README.md
Labels: api: appengine, samples

#10341 FIx for arbitrary javascript injection
  appengine/standard_python3/bundled-services/mail/flask/main.py
Labels: automerge, api: appengine, samples, owlbot:ignore

#10356 include import & print statement in python code snippet
  secretmanager/snippets/consume_event_notification.py
Labels: api: secretmanager, samples

#10309 Remove verify=False setting to reduce security risk
  run/service-auth/app.py
  run/service-auth/receive.py
  run/service-auth/receive_test.py
  run/service-auth/requirements.txt
Labels: api: run, samples

#10371 chore(cleanup): retire media translate samples
  media-translation/README.md
  media-translation/snippets/README.md
  media-translation/snippets/translate_from_file_test.py
Labels: samples, api: mediatranslation

#10376 chore: update STT client library
  speech/snippets/requirements.txt
Labels: api: speech, samples

#10373 fix: remove debugging from test
  run/service-auth/receive_test.py
Labels: api: run, samples

#10374 Update composer_db_transfer.md
  composer/tools/composer_db_transfer.md
Labels: api: composer, samples

#10326 fix: Update STT v2 quickstart to remove recognizer creation
  speech/snippets/quickstart_v2.py
  speech/snippets/quickstart_v2_test.py
Labels: api: speech, samples

#10289 [DLP] Implemented samples for inspect on datastore, gcs and bigquery data and send results to SCC
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
Labels: automerge, api: dlp, samples

#10378 fix: wait time instead of tries
  appengine/standard_python3/bundled-services/deferred/django/main_test.py
Labels: api: appengine, samples

#10377 fix: wait time instead of tries
  appengine/standard_python3/bundled-services/blobstore/django/main_test.py
Labels: api: appengine, samples

#10292 docs(samples): Importing code samples for VMWare Engine
  .github/CODEOWNERS
  .github/auto-label.yaml
  .github/blunderbuss.yml
  vmwareengine/__init__.py
  vmwareengine/cloud-client/__init__.py
  vmwareengine/cloud-client/cancel_private_cloud_deletion.py
  vmwareengine/cloud-client/create_cluster.py
  vmwareengine/cloud-client/create_custom_cluster.py
  vmwareengine/cloud-client/create_legacy_network.py
  vmwareengine/cloud-client/create_policy.py
  vmwareengine/cloud-client/create_private_cloud.py
  vmwareengine/cloud-client/delete_cluster.py
  vmwareengine/cloud-client/delete_legacy_network.py
  vmwareengine/cloud-client/delete_policy.py
  vmwareengine/cloud-client/delete_private_cloud.py
  vmwareengine/cloud-client/get_operation.py
  vmwareengine/cloud-client/list_clusters.py
  vmwareengine/cloud-client/list_locations.py
  vmwareengine/cloud-client/list_networks.py
  vmwareengine/cloud-client/noxfile_config.py
  vmwareengine/cloud-client/nsx_credentials.py
  vmwareengine/cloud-client/requirements-test.txt
  vmwareengine/cloud-client/requirements.txt
  vmwareengine/cloud-client/test_cancel_private_cloud_deletion.py
  vmwareengine/cloud-client/test_cluster.py
  vmwareengine/cloud-client/test_credentials.py
  vmwareengine/cloud-client/test_legacy_networks.py
  vmwareengine/cloud-client/test_list_locations.py
  vmwareengine/cloud-client/test_policy.py
  vmwareengine/cloud-client/test_private_cloud.py
  vmwareengine/cloud-client/update_cluster.py
  vmwareengine/cloud-client/update_policy.py
  vmwareengine/cloud-client/vcenter_credentials.py
Labels: samples

#10234 [DLP] Implemented deidentifying and reidentifying of table using fpe
  dlp/snippets/deid.py
  dlp/snippets/deid_table.py
  dlp/snippets/deid_table_test.py
  dlp/snippets/deid_test.py
Labels: api: dlp, samples

#10399 chore: update CODEOWNERS and Blunderbuss configs for speech team
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: samples

#10387 fix: wait time instead of tries for flaky issues
  appengine/standard_python3/bundled-services/blobstore/flask/main_test.py
  appengine/standard_python3/bundled-services/blobstore/wsgi/main_test.py
  appengine/standard_python3/bundled-services/deferred/flask/main_test.py
  appengine/standard_python3/bundled-services/deferred/wsgi/main_test.py
  appengine/standard_python3/bundled-services/mail/django/main_test.py
  appengine/standard_python3/bundled-services/mail/flask/main.py
  appengine/standard_python3/bundled-services/mail/flask/main_test.py
  appengine/standard_python3/bundled-services/mail/wsgi/main_test.py
Labels: api: appengine, samples

#9934 Document AI Warehouse: Document schema sample code
  .github/auto-label.yaml
  contentwarehouse/snippets/create_document_schema_sample.py
  contentwarehouse/snippets/create_get_delete_document_schema_test.py
  contentwarehouse/snippets/delete_document_schema_sample.py
  contentwarehouse/snippets/get_document_schema_sample.py
  contentwarehouse/snippets/list_document_schema_sample.py
  contentwarehouse/snippets/list_document_schema_test.py
Labels: automerge, samples, api: contentwarehouse

#10401 chore: update CODEOWNERS and blunderbuss.yml for bigquery
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: samples

#10403 chore: remove return val from transcribe_streaming
  speech/snippets/transcribe_streaming.py
  speech/snippets/transcribe_streaming_test.py
Labels: api: speech, samples

#10407 fix(firestore): update query samples to use FieldFilter
  firestore/cloud-async-client/snippets.py
  firestore/cloud-client/aggregate_query_count.py
  firestore/cloud-client/snippets.py
Labels: api: firestore, samples

#10162 feat: Add new sample for Media CDN
  media_cdn/dualtoken.py
  media_cdn/dualtoken_test.py
Labels: samples, api: edgecache

#10400 Add rendered task instances to cleanup dag
  composer/workflows/airflow_db_cleanup.py
Labels: samples, api: workflows

#10405 chore: clean up Vision quickstart
  vision/snippets/quickstart/quickstart.py
Labels: api: vision, samples

#9323 Add sample code of StreamingAnalyzeContent for CCAI Transcription
  dialogflow/analyze_content_stream_test.py
  dialogflow/participant_management.py
  dialogflow/requirements.txt
  dialogflow/streaming_transcription.py
Labels: blunderbuss: assign, api: dialogflow, samples

#10408 refactor: healthcare api sample cleanup and test changes to reduce flakiness
  healthcare/api-client/v1/datasets/README.rst
  healthcare/api-client/v1/datasets/README.rst.in
  healthcare/api-client/v1/datasets/create_dataset.py
  healthcare/api-client/v1/datasets/datasets.py
  healthcare/api-client/v1/datasets/datasets_test.py
  healthcare/api-client/v1/datasets/deidentify_dataset.py
  healthcare/api-client/v1/datasets/delete_dataset.py
  healthcare/api-client/v1/datasets/get_dataset.py
  healthcare/api-client/v1/datasets/get_dataset_iam_policy.py
  healthcare/api-client/v1/datasets/list_datasets.py
  healthcare/api-client/v1/datasets/patch_dataset.py
  healthcare/api-client/v1/datasets/requirements.txt
  healthcare/api-client/v1/datasets/set_dataset_iam_policy.py
Labels: api: healthcare, samples

#10421 docs(samples): Updated Doc AI Quickstart sample based on user feedback
  documentai/snippets/handle_response_sample.py
  documentai/snippets/handle_response_sample_test.py
  documentai/snippets/quickstart_sample.py
  documentai/snippets/quickstart_sample_test.py
Labels: samples, api: documentai

#10426 fix: wait to be sure fully ready
  run/hello-broken/e2e_test.py
Labels: api: run, samples

#10425 docs(vmware): Updating docstrings
  vmwareengine/cloud-client/cancel_private_cloud_deletion.py
  vmwareengine/cloud-client/create_cluster.py
  vmwareengine/cloud-client/create_custom_cluster.py
  vmwareengine/cloud-client/create_private_cloud.py
  vmwareengine/cloud-client/delete_cluster.py
  vmwareengine/cloud-client/update_cluster.py
Labels: samples, api: vmwareengine

#10432 fix: update package to GA
  generative_ai/classify_news_items.py
  generative_ai/code_generation_function_test.py
  generative_ai/embedding.py
  generative_ai/extraction.py
  generative_ai/extraction_test.py
  generative_ai/ideation.py
  generative_ai/ideation_test.py
  generative_ai/requirements.txt
  generative_ai/sentiment_analysis.py
  generative_ai/sentiment_analysis_test.py
  generative_ai/summarization.py
  generative_ai/summarization_test.py
Labels: samples

#10444 chore(scc): use backoff in tests
  securitycenter/snippets/snippets_bigquery_export_test.py
  securitycenter/snippets/snippets_mute_config_test.py
  securitycenter/snippets/snippets_notification_test.py
Labels: api: securitycenter, samples

#10304 [DLP] Implemented dlp_deidentify_table_primitive_bucketing sample code
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
Labels: api: dlp, samples

#10303 [DLP] Implemented dlp_inspect_augment_infotypes sample code
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
Labels: api: dlp, samples

#9926 dataflow: add streaming RunInference sample
  dataflow/conftest.py
  dataflow/run-inference/.gitignore
  dataflow/run-inference/README.md
  dataflow/run-inference/download_model.py
  dataflow/run-inference/main.py
  dataflow/run-inference/noxfile_config.py
  dataflow/run-inference/requirements-test.txt
  dataflow/run-inference/requirements.txt
  dataflow/run-inference/tests/__init__.py
  dataflow/run-inference/tests/e2e_test.py
Labels: api: dataflow, samples

#10429 [DLP] Implemented update trigger code sample
  dlp/snippets/triggers.py
  dlp/snippets/triggers_test.py
Labels: api: dlp, samples

#10445 docs(documentai): Update `handle_response` for OCR/Form Parser 2.0 GA
  documentai/snippets/handle_response_sample.py
  documentai/snippets/handle_response_sample_test.py
  documentai/snippets/requirements.txt
Labels: samples, api: documentai

#10454 fix: Update default training steps to 300
  generative_ai/tuning.py
Labels: samples

#10453 chore: Remove Python 3.7 testing (EOL) + bumb minor versions of other…
  .kokoro/docker/Dockerfile
  .kokoro/python3.7/common.cfg
  .kokoro/python3.7/continuous.cfg
  .kokoro/python3.7/periodic.cfg
  .kokoro/python3.7/presubmit.cfg
  README.md
  noxfile-template.py
Labels: samples

#10465 fix: restore python 3.7 in docker image used for samples testing
  .kokoro/docker/Dockerfile
Labels: samples

#10475 chore: mark 3.11 as required test and turn off 3.7
  .github/sync-repo-settings.yaml
Labels: samples

#10477 docs(samples): fix return types and refactor tests to match
  video/stitcher/cdn_key_test.py
  video/stitcher/create_cdn_key.py
  video/stitcher/create_cdn_key_akamai.py
  video/stitcher/create_live_config.py
  video/stitcher/create_live_session.py
  video/stitcher/create_slate.py
  video/stitcher/create_vod_session.py
  video/stitcher/delete_cdn_key.py
  video/stitcher/delete_live_config.py
  video/stitcher/delete_slate.py
  video/stitcher/get_cdn_key.py
  video/stitcher/get_live_ad_tag_detail.py
  video/stitcher/get_live_config.py
  video/stitcher/get_live_session.py
  video/stitcher/get_slate.py
  video/stitcher/get_vod_ad_tag_detail.py
  video/stitcher/get_vod_session.py
  video/stitcher/get_vod_stitch_detail.py
  video/stitcher/list_cdn_keys.py
  video/stitcher/list_live_ad_tag_details.py
  video/stitcher/list_live_configs.py
  video/stitcher/list_slates.py
  video/stitcher/list_vod_ad_tag_details.py
  video/stitcher/list_vod_stitch_details.py
  video/stitcher/live_config_test.py
  video/stitcher/live_session_test.py
  video/stitcher/slate_test.py
  video/stitcher/update_cdn_key.py
  video/stitcher/update_cdn_key_akamai.py
  video/stitcher/update_slate.py
  video/stitcher/vod_session_test.py
Labels: samples
