Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2023-08, with the labels that each got.

#10479 fix(docker): Hardcoding virtualenv version to keep Python 2.7 support
  .kokoro/tests/run_tests.sh
Labels: samples

#10482 chore: use new team alias in CODEOWNERS
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: samples

#10489 chore: retire IoT samples
  .github/CODEOWNERS
  iot/api-client/README.md
  iot/api-client/end_to_end_example/cloudiot_pubsub_example_server_test.py.deprecated
  iot/api-client/gcs_file_to_device/gcs_example_mqtt_device_test.py.deprecated
  iot/api-client/gcs_file_to_device/gcs_send_to_device_test.py.deprecated
  iot/api-client/http_example/cloudiot_http_example_test.py.deprecated
  iot/api-client/mqtt_example/cloudiot_mqtt_example_test.py.deprecated
  iot/api-client/mqtt_example/cloudiot_mqtt_image_test.py.deprecated
  iot/api-client/scripts/requirements-test.txt.deprecated
Labels: api: cloudiot, samples

#10491 chore: update cloud run script
  run/filesystem/gcsfuse_run.sh
Labels: api: run, samples

#10495 fix(retail): fix retail fulfillment places tests
  retail/interactive-tutorials/product/add_fulfillment_places.py
  retail/interactive-tutorials/product/remove_fulfillment_places.py
  retail/interactive-tutorials/product/set_inventory.py
Labels: samples, api: retail

#10490 fix: Update Request Metadata to include user id
  contentwarehouse/snippets/create_get_delete_document_schema_test.py
  contentwarehouse/snippets/search_documents_sample.py
  contentwarehouse/snippets/search_documents_sample_test.py
Labels: automerge, samples, api: contentwarehouse

#10451 chore(cloud-sql): update GKE sample comments
  cloud-sql/mysql/sqlalchemy/deployment.yaml
  cloud-sql/postgres/sqlalchemy/deployment.yaml
  cloud-sql/sql-server/sqlalchemy/deployment.yaml
Labels: api: cloudsql, samples

#10504 Vertex SDK - LLM - Added tuning samples for the code generation models - `code-bison`
  generative_ai/list_tuned_code_generation_models.py
  generative_ai/list_tuned_code_generation_models_test.py
  generative_ai/requirements.txt
  generative_ai/tune_code_generation_model.py
  generative_ai/tune_code_generation_model_test.py
Labels: samples

#10507 chore: adding in region tag for cloud storage v2 unit test docs
  functions/v2/storage/main_test.py
Labels: api: storage, samples

#10402 feat(functions): create new samples for typed function signature
  functions/v2/typed/googlechatbot/main.py
  functions/v2/typed/googlechatbot/main_test.py
  functions/v2/typed/googlechatbot/requirements-test.txt
  functions/v2/typed/googlechatbot/requirements.txt
  functions/v2/typed/greeting/main.py
  functions/v2/typed/greeting/main_test.py
  functions/v2/typed/greeting/requirements-test.txt
  functions/v2/typed/greeting/requirements.txt
Labels: api: cloudfunctions, samples

#10478 [DLP] Implemented reidentify text with fpe
  dlp/snippets/deid.py
  dlp/snippets/deid_table.py
  dlp/snippets/deid_table_test.py
  dlp/snippets/deid_test.py
Labels: api: dlp, samples

#10455 Mocked flaky test cases as part of inspect_content_test file
  dlp/snippets/inspect_content_test.py
Labels: api: dlp, samples

#10524 update Airflow version
  composer/2022_airflow_summit/constraints.txt
  composer/2022_airflow_summit/requirements.txt
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/constraints.txt
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/requirements.txt
  composer/blog/gcp-tech-blog/unit-test-dags-cloud-build/requirements.txt
  composer/cicd_sample/constraints.txt
  composer/cicd_sample/requirements.txt
  composer/workflows/constraints.txt
  composer/workflows/requirements.txt
Labels: api: composer, samples

#10456 [DLP] Implemented dlp_inspect_with_stored_infotype sample code
  dlp/snippets/stored_infotype.py
  dlp/snippets/stored_infotype_test.py
Labels: api: dlp, samples

#10503 [DLP] Implemented dlp_k_anonymity_with_entity_id
  dlp/snippets/risk.py
  dlp/snippets/risk_test.py
Labels: api: dlp, samples

#10536 fix: run button sets env variable
  run/logging-manual/app.json
Labels: api: run, samples

#10294 fix: Add Gen AI tuned model name
  generative_ai/list_tuned_code_generation_models_test.py
  generative_ai/summarization_test.py
  generative_ai/tuning.py
  generative_ai/tuning_test.py
Labels: samples

#10544 feat(language): update code example for Cloud NL v2 - python
  language/v2/language_classify_gcs.py
  language/v2/language_classify_gcs_test.py
  language/v2/language_classify_text.py
  language/v2/language_classify_text_test.py
  language/v2/language_entities_gcs.py
  language/v2/language_entities_gcs_test.py
  language/v2/language_entities_text.py
  language/v2/language_entities_text_test.py
  language/v2/language_sentiment_gcs.py
  language/v2/language_sentiment_gcs_test.py
  language/v2/language_sentiment_text.py
  language/v2/language_sentiment_text_test.py
  language/v2/noxfile_config.py
  language/v2/requirements-test.txt
  language/v2/requirements.txt
Labels: api: language, samples

#10555 chore: update code owners to infra-db-sdk
  .github/blunderbuss.yml
Labels: samples

#10510 feat: Add streaming api samples
  generative_ai/requirements.txt
  generative_ai/streaming_chat.py
  generative_ai/streaming_chat_test.py
  generative_ai/streaming_code.py
  generative_ai/streaming_code_test.py
  generative_ai/streaming_codechat.py
  generative_ai/streaming_codechat_test.py
  generative_ai/streaming_text.py
  generative_ai/streaming_text_test.py
Labels: samples

#10512 move: Deployment Previews into README
  run/deployment-previews/README.md
  run/deployment-previews/images/deployment-previews-deployed-service.png
  run/deployment-previews/images/deployment-previews-github-completed-check.png
  run/deployment-previews/images/deployment-previews-github-edit-file-2.png
  run/deployment-previews/images/deployment-previews-github-pending-check.png
  run/deployment-previews/images/deployment-previews-preview-service.png
  run/deployment-previews/images/deployment-previews-revisions-four.png
  run/deployment-previews/images/deployment-previews-revisions-one.png
  run/deployment-previews/images/deployment-previews-revisions-three.png
  run/deployment-previews/images/deployment-previews-revisions-two.png
  run/deployment-previews/images/deployment-previews-updated-service.png
Labels: api: run, samples

#10579 chore: update import statement
  cloud-sql/mysql/sqlalchemy/main.py
  cloud-sql/postgres/sqlalchemy/main.py
  cloud-sql/sql-server/sqlalchemy/main.py
Labels: api: cloudsql, samples
