Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2023-10, with the labels that each got.

#10624 fix: more retries
  jobs/v3/api_client/histogram_sample_test.py
Labels: api: jobs, samples

#10711 fix(recaptcha-demosite): add dependency - Werkzeug
  recaptcha_enterprise/demosite/app/requirements.txt
Labels: api: recaptchaenterprise, samples, asset: flagship

#10647 fix: use entire UUID for uniqueness
  run/image-processing/e2e_test.py
Labels: api: run, samples

#10731 revert dependabot Airflow changes
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/requirements.txt
  composer/cicd_sample/requirements.txt
Labels: api: composer, samples

#10659 fix: GenAI sample Copy-Paste Runnable
  generative_ai/chat.py
  generative_ai/classify_news_items.py
  generative_ai/code_chat.py
  generative_ai/code_completion_function.py
  generative_ai/code_completion_test_function.py
  generative_ai/code_generation_function.py
  generative_ai/code_generation_unittest.py
  generative_ai/embedding.py
  generative_ai/extraction.py
  generative_ai/ideation.py
  generative_ai/list_tuned_code_generation_models.py
  generative_ai/list_tuned_models.py
  generative_ai/sentiment_analysis.py
  generative_ai/streaming_chat.py
  generative_ai/streaming_code.py
  generative_ai/streaming_codechat.py
  generative_ai/streaming_text.py
  generative_ai/summarization.py
  generative_ai/tune_code_generation_model.py
  generative_ai/tuning.py
Labels: samples

#10756 Fix URL for GCS fuse example.
  run/filesystem/gcsfuse.Dockerfile
Labels: automerge, api: run, samples

#10744 fix(imports): Fixes #10608
  dataflow/run_template/main_test.py
Labels: samples

#10761 fix: longer waits for deferred operations
  appengine/standard_python3/bundled-services/deferred/django/main.py
  appengine/standard_python3/bundled-services/deferred/django/main_test.py
  appengine/standard_python3/bundled-services/deferred/flask/main.py
  appengine/standard_python3/bundled-services/deferred/flask/main_test.py
  appengine/standard_python3/bundled-services/deferred/wsgi/main.py
  appengine/standard_python3/bundled-services/deferred/wsgi/main_test.py
Labels: api: appengine, samples

#10753 feat(dlp): Split deid table samples into multiple files such that each region tag gets its own file.
  dlp/snippets/Deidentify/deidentify_reidentify_table_fpe_test.py
  dlp/snippets/Deidentify/deidentify_table_bucketing.py
  dlp/snippets/Deidentify/deidentify_table_bucketing_test.py
  dlp/snippets/Deidentify/deidentify_table_condition_infotypes.py
  dlp/snippets/Deidentify/deidentify_table_condition_infotypes_test.py
  dlp/snippets/Deidentify/deidentify_table_condition_masking.py
  dlp/snippets/Deidentify/deidentify_table_condition_masking_test.py
  dlp/snippets/Deidentify/deidentify_table_fpe.py
  dlp/snippets/Deidentify/deidentify_table_infotypes.py
  dlp/snippets/Deidentify/deidentify_table_infotypes_test.py
  dlp/snippets/Deidentify/deidentify_table_primitive_bucketing.py
  dlp/snippets/Deidentify/deidentify_table_primitive_bucketing_test.py
  dlp/snippets/Deidentify/deidentify_table_row_suppress.py
  dlp/snippets/Deidentify/deidentify_table_row_suppress_test.py
  dlp/snippets/Deidentify/deidentify_table_with_crypto_hash.py
  dlp/snippets/Deidentify/deidentify_table_with_crypto_hash_test.py
  dlp/snippets/Deidentify/deidentify_table_with_multiple_crypto_hash.py
  dlp/snippets/Deidentify/deidentify_table_with_multiple_crypto_hash_test.py
  dlp/snippets/Deidentify/reidentify_table_fpe.py
  dlp/snippets/deid_table.py
  dlp/snippets/deid_table_test.py
Labels: api: dlp, samples

#10754 feat(dlp): Split deid samples into multiple files such that each region tag gets its own file.
  dlp/snippets/Deidentify/deidentify_cloud_storage.py
  dlp/snippets/Deidentify/deidentify_cloud_storage_test.py
  dlp/snippets/Deidentify/deidentify_date_shift.py
  dlp/snippets/Deidentify/deidentify_date_shift_test.py
  dlp/snippets/Deidentify/deidentify_deterministic.py
  dlp/snippets/Deidentify/deidentify_deterministic_test.py
  dlp/snippets/Deidentify/deidentify_dictionary_replacement.py
  dlp/snippets/Deidentify/deidentify_dictionary_replacement_test.py
  dlp/snippets/Deidentify/deidentify_exception_list.py
  dlp/snippets/Deidentify/deidentify_exception_list_test.py
  dlp/snippets/Deidentify/deidentify_fpe.py
  dlp/snippets/Deidentify/deidentify_fpe_test.py
  dlp/snippets/Deidentify/deidentify_free_text_with_fpe_using_surrogate.py
  dlp/snippets/Deidentify/deidentify_free_text_with_fpe_using_surrogate_test.py
  dlp/snippets/Deidentify/deidentify_masking.py
  dlp/snippets/Deidentify/deidentify_masking_test.py
  dlp/snippets/Deidentify/deidentify_redact.py
  dlp/snippets/Deidentify/deidentify_redact_test.py
  dlp/snippets/Deidentify/deidentify_replace.py
  dlp/snippets/Deidentify/deidentify_replace_infotype.py
  dlp/snippets/Deidentify/deidentify_replace_infotype_test.py
  dlp/snippets/Deidentify/deidentify_replace_test.py
  dlp/snippets/Deidentify/deidentify_simple_word_list.py
  dlp/snippets/Deidentify/deidentify_simple_word_list_test.py
  dlp/snippets/Deidentify/deidentify_time_extract.py
  dlp/snippets/Deidentify/deidentify_time_extract_test.py
  dlp/snippets/Deidentify/reidentify_deterministic.py
  dlp/snippets/Deidentify/reidentify_deterministic_test.py
  dlp/snippets/Deidentify/reidentify_fpe.py
  dlp/snippets/Deidentify/reidentify_fpe_test.py
  dlp/snippets/Deidentify/reidentify_free_text_with_fpe_using_surrogate.py
  dlp/snippets/Deidentify/reidentify_free_text_with_fpe_using_surrogate_test.py
  dlp/snippets/Deidentify/reidentify_text_fpe.py
  dlp/snippets/Deidentify/reidentify_text_fpe_test.py
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
Labels: api: dlp, samples

#10730 chore(discoveryengine): Update Search Sample with more options
  discoveryengine/requirements.txt
  discoveryengine/search_sample.py
  discoveryengine/search_sample_test.py
Labels: samples, api: discoveryengine

#10762 chore: remove @justin-mp from CODEOWNERS
  .github/CODEOWNERS
Labels: samples

#10755 feat(serviceextensions): Add new samples folder & team config
  .github/CODEOWNERS
  .github/blunderbuss.yml
  service_extensions/__init__.py
Labels: samples, api: serviceextensions

#10637 feat(ndb): New sample for named-database support in Cloud NDB
  datastore/cloud-ndb/named_db.py
  datastore/cloud-ndb/named_db_test.py
  testing/test-env.tmpl.sh
Labels: api: datastore, samples

#10746 fix: Rebranding vertexai genai terms
  generative_ai/code_chat.py
  generative_ai/code_completion_function.py
  generative_ai/code_completion_test_function.py
  generative_ai/code_generation_function.py
  generative_ai/code_generation_unittest.py
  notebooks/README.md
  notebooks/samples/README.md
  notebooks/tutorials/bigquery/Getting started with BigQuery ML Feature Engineering.ipynb
Labels: api: bigquery, api: notebooks, samples

#10752 feat: model tuning update with evaluation metrics
  generative_ai/tuning.py
Labels: samples

#10759 feat: add sample and test for getting an access token from an imperso…
  auth/cloud-client/snippets.py
  auth/cloud-client/snippets_test.py
Labels: samples, api: auth

#10727 fix(deps): update to Flask 3.0.0, update deprecated decorator
  run/idp-sql/main.py
  run/idp-sql/requirements.txt
Labels: api: run, samples

#10716 feat: add evaluation metrics for Gen AI samples
  generative_ai/tune_code_generation_model.py
  generative_ai/tune_code_generation_model_test.py
  generative_ai/tuning.py
  generative_ai/tuning_test.py
Labels: samples

#10606 Update deployment previews
  run/deployment-previews/README.md
  run/deployment-previews/cloudbuild-configurations/cloudbuild-cleanup.yaml
  run/deployment-previews/cloudbuild-configurations/cloudbuild-preview.yaml
  run/deployment-previews/cloudbuild-configurations/cloudbuild.yaml
Labels: api: run, samples

#10766 feat(serviceextensions): Add new sample
  .github/header-checker-lint.yml
  service_extensions/callouts/add_header/Dockerfile
  service_extensions/callouts/add_header/README.md
  service_extensions/callouts/add_header/noxfile_config.py
  service_extensions/callouts/add_header/protos/service.proto
  service_extensions/callouts/add_header/requirements-test.txt
  service_extensions/callouts/add_header/requirements.txt
  service_extensions/callouts/add_header/server.py
  service_extensions/callouts/add_header/service_pb2.py
  service_extensions/callouts/add_header/service_pb2_grpc.py
  service_extensions/callouts/add_header/ssl_creds/localhost.crt
  service_extensions/callouts/add_header/ssl_creds/localhost.key
  service_extensions/callouts/add_header/ssl_creds/root.crt
  service_extensions/callouts/add_header/test_server.py
Labels: samples, api: serviceextensions

#10776 fix: Update CODEOWNERS
  .github/CODEOWNERS
Labels: samples

#10765 docs(discoveryengine): Create Multi-Turn Search Sample
  discoveryengine/multi_turn_search_sample.py
  discoveryengine/multi_turn_search_sample_test.py
Labels: samples, api: discoveryengine

#10771 Update Cleanup DAG
  composer/workflows/airflow_db_cleanup.py
Labels: samples, api: workflows

#10775 Update airflow_db_cleanup.py to also clean sessions table
  composer/workflows/airflow_db_cleanup.py
Labels: api: composer, samples

#10658 docs(samples): Add dataflow_batch_write_to_storage snippet
  dataflow/snippets/__init__.py
  dataflow/snippets/batch_write_storage.py
  dataflow/snippets/requirements-test.txt
  dataflow/snippets/requirements.txt
  dataflow/snippets/tests/__init__.py
  dataflow/snippets/tests/test_batch_write_storage.py
Labels: samples

#10777 fix: dataproc retries
  dataproc/snippets/submit_job_test.py
  dataproc/snippets/update_cluster_test.py
Labels: api: dataproc, samples

#10790 fix: missing 'six' module import
  opencensus/requirements.txt
Labels: api: tasks, samples

#10794 fix: update and add requirements
  run/image-processing/requirements-test.txt
  run/image-processing/requirements.txt
Labels: api: run, samples

#10791 chore(b-230113499): removes alpha references from jobs
  run/jobs/README.md
  run/jobs/e2e_test_cleanup.yaml
  run/jobs/e2e_test_setup.yaml
Labels: api: jobs, samples

#10793 ppai/weather: pin python version for pytorch compatibility
  people-and-planet-ai/weather-forecasting/serving/.python-version
Labels: samples, api: people-and-planet-ai

#10787 feat(dlp): Split metadata samples into multiple files such that each region tag gets its own file
  dlp/snippets/Metadata/list_info_types.py
  dlp/snippets/Metadata/list_info_types_test.py
Labels: api: dlp, samples

#10780 feat(dlp): Split inspect samples into multiple files such that each region tag gets its own file part -1
  dlp/snippets/Inspect/inspect_augment_infotypes.py
  dlp/snippets/Inspect/inspect_augment_infotypes_test.py
  dlp/snippets/Inspect/inspect_column_values_w_custom_hotwords.py
  dlp/snippets/Inspect/inspect_column_values_w_custom_hotwords_test.py
  dlp/snippets/Inspect/inspect_file.py
  dlp/snippets/Inspect/inspect_file_test.py
  dlp/snippets/Inspect/inspect_image_all_infotypes.py
  dlp/snippets/Inspect/inspect_image_all_infotypes_test.py
  dlp/snippets/Inspect/inspect_image_file.py
  dlp/snippets/Inspect/inspect_image_file_test.py
  dlp/snippets/Inspect/inspect_image_listed_infotypes.py
  dlp/snippets/Inspect/inspect_image_listed_infotypes_test.py
  dlp/snippets/Inspect/inspect_phone_number.py
  dlp/snippets/Inspect/inspect_phone_number_test.py
  dlp/snippets/Inspect/inspect_string.py
  dlp/snippets/Inspect/inspect_string_test.py
  dlp/snippets/Inspect/inspect_table.py
  dlp/snippets/Inspect/inspect_table_test.py
Labels: api: dlp, samples

#10781 feat(dlp): Split inspect samples into multiple files such that each region tag gets its own file part -2
  dlp/snippets/Inspect/inspect_bigquery.py
  dlp/snippets/Inspect/inspect_bigquery_send_to_scc.py
  dlp/snippets/Inspect/inspect_bigquery_send_to_scc_test.py
  dlp/snippets/Inspect/inspect_bigquery_test.py
  dlp/snippets/Inspect/inspect_bigquery_with_sampling.py
  dlp/snippets/Inspect/inspect_bigquery_with_sampling_test.py
  dlp/snippets/Inspect/inspect_datastore.py
  dlp/snippets/Inspect/inspect_datastore_send_to_scc.py
  dlp/snippets/Inspect/inspect_datastore_send_to_scc_test.py
  dlp/snippets/Inspect/inspect_datastore_test.py
  dlp/snippets/Inspect/inspect_gcs.py
  dlp/snippets/Inspect/inspect_gcs_send_to_scc.py
  dlp/snippets/Inspect/inspect_gcs_send_to_scc_test.py
  dlp/snippets/Inspect/inspect_gcs_test.py
  dlp/snippets/Inspect/inspect_gcs_with_sampling.py
  dlp/snippets/Inspect/inspect_gcs_with_sampling_test.py
  dlp/snippets/Inspect/inspect_send_data_to_hybrid_job_trigger.py
  dlp/snippets/Inspect/inspect_send_data_to_hybrid_job_trigger_test.py
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
Labels: api: dlp, samples

#10785 feat(dlp): Split triggers samples into multiple files such that each region tag gets its own file
  dlp/snippets/Triggers/create_trigger.py
  dlp/snippets/Triggers/delete_trigger.py
  dlp/snippets/Triggers/list_triggers.py
  dlp/snippets/Triggers/triggers_test.py
  dlp/snippets/Triggers/update_trigger.py
  dlp/snippets/triggers.py
Labels: api: dlp, samples

#10768 feat(dlp): Split jobs samples into multiple files such that each region tag gets its own file.
  dlp/snippets/Jobs/create_and get_job_test.py
  dlp/snippets/Jobs/create_job.py
  dlp/snippets/Jobs/delete_job.py
  dlp/snippets/Jobs/delete_job_test.py
  dlp/snippets/Jobs/get_job.py
  dlp/snippets/Jobs/list_jobs.py
  dlp/snippets/Jobs/list_jobs_test.py
  dlp/snippets/jobs.py
Labels: api: dlp, samples

#10878 werkzeug flask upgrade
  appengine/flexible/hello_world/requirements.txt
  appengine/standard/migration/memorystore/requirements.txt
  appengine/standard/migration/ndb/overview/requirements.txt
  appengine/standard/migration/ndb/redis_cache/requirements.txt
  appengine/standard/migration/storage/requirements.txt
  appengine/standard/migration/taskqueue/counter/requirements.txt
  appengine/standard/ndb/transactions/requirements.txt
  appengine/standard/urlfetch/requests/requirements.txt
  appengine/standard_python3/bundled-services/blobstore/flask/requirements.txt
  appengine/standard_python3/bundled-services/deferred/flask/requirements.txt
  appengine/standard_python3/bundled-services/mail/flask/main.py
  appengine/standard_python3/bundled-services/mail/flask/requirements.txt
  cloud_scheduler/snippets/requirements.txt
  compute/managed-instances/demo/requirements.txt
  datastore/cloud-ndb/requirements.txt
  endpoints/getting-started/main.py
  endpoints/getting-started/main_test.py
  endpoints/getting-started/requirements.txt
  iap/app_engine_app/requirements.txt
  iap/requirements.txt
  memorystore/redis/requirements.txt
  monitoring/prometheus/requirements.txt
  people-and-planet-ai/geospatial-classification/serving_app/requirements.txt
  people-and-planet-ai/land-cover-classification/serving/requirements.txt
  people-and-planet-ai/timeseries-classification/requirements.txt
  people-and-planet-ai/weather-forecasting/serving/requirements.txt
  profiler/appengine/flexible/requirements.txt
  profiler/appengine/standard_python37/requirements.txt
  recaptcha_enterprise/demosite/app/requirements.txt
  run/hello-broken/requirements.txt
  run/helloworld/requirements.txt
  run/image-processing/requirements.txt
  run/logging-manual/requirements.txt
  run/markdown-preview/editor/requirements.txt
  run/markdown-preview/renderer/requirements.txt
  run/pubsub/requirements.txt
  run/service-auth/requirements.txt
  trace/cloud-trace-demo-app-opentelemetry/app/requirements.txt
  trace/trace-python-sample-opentelemetry/requirements.txt
Labels: api: pubsub, api: run, samples

#10779 feat(dlp): Split stored_infotype samples into multiple files such that each region tag gets its own file.
  dlp/snippets/Stored_InfoType/create_stored_infotype.py
  dlp/snippets/Stored_InfoType/inspect_with_stored_infotype.py
  dlp/snippets/Stored_InfoType/stored_infotype_test.py
  dlp/snippets/Stored_InfoType/update_stored_infotype.py
  dlp/snippets/stored_infotype.py
Labels: api: dlp, samples

#10783 feat(dlp): Split template samples into multiple files such that each region tag gets its own file
  dlp/snippets/Templates/create_inspect_template.py
  dlp/snippets/Templates/delete_inspect_template.py
  dlp/snippets/Templates/list_inspect_templates.py
  dlp/snippets/Templates/templates_test.py
  dlp/snippets/templates.py
Labels: api: dlp, samples

#10784 fix(secretmanager): Use retry-wrapper for function calls to avoid flaky bot issues
  secretmanager/snippets/snippets_test.py
Labels: automerge, api: secretmanager, samples

#10806 upgrade to airflow 2.6.3
  composer/2022_airflow_summit/constraints.txt
  composer/2022_airflow_summit/requirements.txt
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/constraints.txt
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/requirements.txt
  composer/blog/gcp-tech-blog/unit-test-dags-cloud-build/requirements.txt
  composer/cicd_sample/constraints.txt
  composer/cicd_sample/requirements.txt
  composer/workflows/azureblobstoretogcsoperator_tutorial.py
  composer/workflows/constraints.txt
  composer/workflows/requirements.txt
Labels: api: composer, samples, api: workflows

#10882 Update airflow_db_cleanup.py
  composer/workflows/airflow_db_cleanup.py
Labels: samples, api: workflows

#10767 feature: samples for Cloud Tasks http queues
  cloud_tasks/http_queues/create_http_queue.py
  cloud_tasks/http_queues/create_http_queue_test.py
  cloud_tasks/http_queues/delete_http_queue.py
  cloud_tasks/http_queues/delete_http_queue_test.py
  cloud_tasks/http_queues/get_http_queue.py
  cloud_tasks/http_queues/get_http_queue_test.py
  cloud_tasks/http_queues/requirements-test.txt
  cloud_tasks/http_queues/requirements.txt
  cloud_tasks/http_queues/send_task_to_http_queue.py
  cloud_tasks/http_queues/send_task_to_http_queue_test.py
  cloud_tasks/http_queues/update_http_queue.py
  cloud_tasks/http_queues/update_http_queue_test.py
Labels: api: tasks, samples

#10883 feat(dlp): #10786 with shorter commits - "Split Custom Infotype samples into multiple files "
  dlp/snippets/Custom_Infotype/inspect_custom_regex.py
  dlp/snippets/Custom_Infotype/inspect_custom_regex_test.py
  dlp/snippets/Custom_Infotype/inspect_hotword_rule.py
  dlp/snippets/Custom_Infotype/inspect_hotword_rule_test.py
  dlp/snippets/Custom_Infotype/inspect_string_custom_excluding_substring.py
  dlp/snippets/Custom_Infotype/inspect_string_custom_excluding_substring_test.py
  dlp/snippets/Custom_Infotype/inspect_string_custom_hotword.py
  dlp/snippets/Custom_Infotype/inspect_string_custom_hotword_test.py
  dlp/snippets/Custom_Infotype/inspect_string_custom_omit_overlap.py
  dlp/snippets/Custom_Infotype/inspect_string_custom_omit_overlap_test.py
  dlp/snippets/Custom_Infotype/inspect_string_multiple_rules.py
  dlp/snippets/Custom_Infotype/inspect_string_multiple_rules_test.py
  dlp/snippets/Custom_Infotype/inspect_string_omit_overlap.py
  dlp/snippets/Custom_Infotype/inspect_string_omit_overlap_test.py
  dlp/snippets/Custom_Infotype/inspect_string_with_exclusion_dict.py
  dlp/snippets/Custom_Infotype/inspect_string_with_exclusion_dict_substring.py
  dlp/snippets/Custom_Infotype/inspect_string_with_exclusion_dict_substring_test.py
  dlp/snippets/Custom_Infotype/inspect_string_with_exclusion_dict_test.py
  dlp/snippets/Custom_Infotype/inspect_string_with_exclusion_regex.py
  dlp/snippets/Custom_Infotype/inspect_string_with_exclusion_regex_test.py
  dlp/snippets/Custom_Infotype/inspect_string_without_overlap.py
  dlp/snippets/Custom_Infotype/inspect_string_without_overlap_test.py
  dlp/snippets/custom_infotype.py
  dlp/snippets/custom_infotype_test.py
Labels: api: dlp, samples

#10885 fix: add google-auth-httplib2 to pubsub sample
  appengine/standard/pubsub/requirements.txt
Labels: api: pubsub, samples
