Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2023-09, with the labels that each got.

#10423 fix: Update dualtoken.py
  media_cdn/dualtoken.py
  media_cdn/dualtoken_test.py
Labels: samples, api: edgecache

#10581 fix: add retries to e2e Cloud Run tests
  run/filesystem/e2e_test.py
  run/filesystem/requirements-test.txt
  run/hello-broken/e2e_test.py
  run/hello-broken/requirements-test.txt
  run/idp-sql/e2e_test.py
  run/service-auth/receive_test.py
  run/system-package/e2e_test.py
  run/system-package/requirements-test.txt
Labels: api: run, samples

#10599 Fix: [DLP] bug fix #10556
  dlp/snippets/stored_infotype_test.py
Labels: api: dlp, samples

#10596 feat(iam): Eventarc receiver for Service Account Creation
  eventarc/audit_iam/main.py
  eventarc/audit_iam/main_test.py
  eventarc/audit_iam/requirements-test.txt
  eventarc/audit_iam/requirements.txt
Labels: api: iam, samples

#10433 Import Logs solution
  logging/import-logs/.gcloudignore
  logging/import-logs/Procfile
  logging/import-logs/README.md
  logging/import-logs/main.py
  logging/import-logs/main_test.py
  logging/import-logs/noxfile_config.py
  logging/import-logs/requirements-test.txt
  logging/import-logs/requirements.txt
Labels: samples

#10623 Fix(KMS): Fixing failling tests
  kms/snippets/requirements.txt
Labels: api: cloudkms, samples

#10200 migrate code from googleapis/python-video-live-stream
  .github/CODEOWNERS
  .github/blunderbuss.yml
  video/live-stream/README.md
  video/live-stream/asset_test.py
  video/live-stream/channel_event_test.py
  video/live-stream/channel_test.py
  video/live-stream/create_asset.py
  video/live-stream/create_channel.py
  video/live-stream/create_channel_event.py
  video/live-stream/create_channel_with_backup_input.py
  video/live-stream/create_input.py
  video/live-stream/delete_asset.py
  video/live-stream/delete_channel.py
  video/live-stream/delete_channel_event.py
  video/live-stream/delete_input.py
  video/live-stream/get_asset.py
  video/live-stream/get_channel.py
  video/live-stream/get_channel_event.py
  video/live-stream/get_input.py
  video/live-stream/get_pool.py
  video/live-stream/input_test.py
  video/live-stream/list_assets.py
  video/live-stream/list_channel_events.py
  video/live-stream/list_channels.py
  video/live-stream/list_inputs.py
  video/live-stream/noxfile_config.py
  video/live-stream/pool_test.py
  video/live-stream/requirements-test.txt
  video/live-stream/requirements.txt
  video/live-stream/start_channel.py
  video/live-stream/stop_channel.py
  video/live-stream/update_channel.py
  video/live-stream/update_input.py
  video/live-stream/update_pool.py
  video/live-stream/utils.py
Labels: samples

#10625 fix: retries if needed
  run/image-processing/e2e_test.py
Labels: api: run, samples

#10626 chore(KMS): Remove six dependency
  kms/snippets/decrypt_asymmetric.py
  kms/snippets/decrypt_symmetric.py
  kms/snippets/encrypt_symmetric.py
  kms/snippets/get_public_key.py
  kms/snippets/get_public_key_jwk.py
  kms/snippets/requirements.txt
  kms/snippets/sign_asymmetric.py
Labels: api: cloudkms, samples

#10629 fix: refactor error reporting code sample
  error_reporting/snippets/report_exception.py
  error_reporting/snippets/report_exception_test.py
Labels: api: clouderrorreporting, samples

#10633 fix: add constraint to the age of import log range
  logging/import-logs/main.py
  logging/import-logs/main_test.py
Labels: samples

#10511 feat(dlp): Add code samples to de-identify files in Cloud Storage
  dlp/snippets/deid_cloud_storage.py
  dlp/snippets/deid_cloud_storage_test.py
  dlp/snippets/deid_test.py
Labels: api: dlp, samples

#10636 chore(deps): Upgrade NDB version used in samples
  datastore/cloud-ndb/requirements.txt
Labels: api: datastore, samples

#10622 feat(storagetransfer): Adds event driven transfer samples
  storagetransfer/conftest.py
  storagetransfer/event_driven_aws_transfer.py
  storagetransfer/event_driven_aws_transfer_test.py
  storagetransfer/event_driven_gcs_transfer.py
  storagetransfer/event_driven_gcs_transfer_test.py
  storagetransfer/requirements-test.txt
  storagetransfer/requirements.txt
Labels: api: storagetransfer, samples, waiting-response

#10566 Remove "Composer DB transfer" script
  composer/tools/README.md
  composer/tools/composer_db_transfer.md
  composer/tools/composer_db_transfer.py
Labels: api: composer, samples

#10652 chore(documentai): Add Premium Features to Document AI OCR sample
  documentai/snippets/handle_response_sample.py
  documentai/snippets/handle_response_sample_test.py
  documentai/snippets/requirements.txt
  documentai/snippets/resources/checkbox.png
Labels: kokoro:run, samples, api: documentai

#10656 update comment in kpo
  composer/workflows/airflow_db_cleanup.py
  composer/workflows/kubernetes_pod_operator_c2.py
Labels: samples, api: workflows

#10655 fix: recaptcha test failure
  recaptcha_enterprise/snippets/requirements-test.txt
Labels: api: recaptchaenterprise, samples

#10654 chore(documentai): Create document summarizer and CDE Gen AI samples
  documentai/snippets/batch_process_documents_sample.py
  documentai/snippets/handle_response_sample.py
  documentai/snippets/handle_response_sample_test.py
  documentai/snippets/handle_response_sample_v1beta3.py
  documentai/snippets/process_document_sample.py
  documentai/snippets/resources/superconductivity.pdf
Labels: automerge, samples, api: documentai

#10635 fix(discoveryengine): Update the samples after GA Launch
  discoveryengine/documents_sample_test.py
  discoveryengine/get_operation_sample.py
  discoveryengine/import_documents_sample.py
  discoveryengine/list_documents_sample.py
  discoveryengine/list_operations_sample.py
  discoveryengine/poll_operation_sample.py
  discoveryengine/search_sample.py
  discoveryengine/search_sample_test.py
Labels: samples, api: discoveryengine
