Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2023-05, with the labels that each got.

#9829 Live reload templates
  recaptcha_enterprise/demosite/app/main.py
Labels: api: recaptchaenterprise, samples, asset: flagship

#9751 [DLP] Implemented dlp_create_job with unit test cases
  dlp/snippets/jobs.py
  dlp/snippets/jobs_test.py
Labels: api: dlp, samples

#9469 docs(samples): Added Initial Generative AI App Builder Samples
  genappbuilder/__init__.py
  genappbuilder/documents_sample_test.py
  genappbuilder/get_operation_sample.py
  genappbuilder/import_documents_sample.py
  genappbuilder/list_documents_sample.py
  genappbuilder/list_operations_sample.py
  genappbuilder/operations_sample_test.py
  genappbuilder/poll_operation_sample.py
  genappbuilder/requirements-test.txt
  genappbuilder/requirements.txt
  genappbuilder/search_sample.py
  genappbuilder/search_sample_test.py
Labels: samples

#9852 use `logging.warning` in helloworld
  functions/helloworld/main.py
Labels: api: cloudfunctions, samples

#9826 fix: add more dataproc error handling
  dataproc/snippets/create_cluster_test.py
  dataproc/snippets/submit_job_test.py
  dataproc/snippets/update_cluster_test.py
Labels: automerge, api: dataproc, samples

#9856 fix: just accept results, don't examine them
  retail/interactive-tutorials/search/search_simple_query_test.py
Labels: samples, api: retail

#9529 [DLP] Implemented dlp_inspect_image_all_infotypes with unit test cases
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
Labels: api: dlp, samples

#9830 dataflow: downgrade to python 3.10
  dataflow/conftest.py
  dataflow/gpu-examples/tensorflow-landsat-prime/Dockerfile
  dataflow/gpu-examples/tensorflow-landsat-prime/noxfile_config.py
  dataflow/gpu-examples/tensorflow-landsat/Dockerfile
  dataflow/gpu-examples/tensorflow-landsat/noxfile_config.py
  dataflow/gpu-examples/tensorflow-minimal/Dockerfile
  dataflow/gpu-examples/tensorflow-minimal/noxfile_config.py
  people-and-planet-ai/geospatial-classification/noxfile_config.py
  people-and-planet-ai/timeseries-classification/Dockerfile
  people-and-planet-ai/timeseries-classification/e2e_test.py
  people-and-planet-ai/timeseries-classification/main.py
  people-and-planet-ai/timeseries-classification/noxfile_config.py
  people-and-planet-ai/timeseries-classification/predict.py
  people-and-planet-ai/timeseries-classification/train_model.py
Labels: api: dataflow, samples

#9839 fix: Use .message.data key to extract data from cloud_event
  functions/v2/ocr/main.py
  functions/v2/ocr/main_test.py
Labels: api: cloudfunctions, samples

#9864 upgrade Airflow to 2.5.1
  composer/2022_airflow_summit/constraints.txt
  composer/2022_airflow_summit/requirements.txt
  composer/cicd_sample/constraints.txt
  composer/cicd_sample/requirements.txt
  composer/workflows/constraints.txt
  composer/workflows/requirements.txt
Labels: api: composer, samples, api: workflows

#9865 chore(sample): don't examine search result in test
  retail/interactive-tutorials/search/search_with_pagination_test.py
Labels: automerge

#9862 fix: migrate storage samples to use download_as_bytes()
  data-science-onramp/data-ingestion/ingestion_test.py
  data-science-onramp/data-processing/process_test.py
  dataproc/snippets/quickstart/quickstart.py
  dataproc/snippets/submit_job.py
  dataproc/snippets/submit_job_to_cluster.py
  vision/snippets/detect/beta_snippets.py
  vision/snippets/detect/detect.py
Labels: api: vision, api: dataproc, samples

#9854 chore(cloudsql): update samples to gen2 functions and v2 proxy
  cloud-sql/mysql/sqlalchemy/README.md
  cloud-sql/mysql/sqlalchemy/app.flexible.yaml
  cloud-sql/mysql/sqlalchemy/app.standard.yaml
  cloud-sql/mysql/sqlalchemy/deployment.yaml
  cloud-sql/mysql/sqlalchemy/main.py
  cloud-sql/mysql/sqlalchemy/requirements.txt
  cloud-sql/postgres/sqlalchemy/README.md
  cloud-sql/postgres/sqlalchemy/app.flexible.yaml
  cloud-sql/postgres/sqlalchemy/app.standard.yaml
  cloud-sql/postgres/sqlalchemy/deployment.yaml
  cloud-sql/postgres/sqlalchemy/main.py
  cloud-sql/postgres/sqlalchemy/requirements.txt
  cloud-sql/sql-server/sqlalchemy/README.md
  cloud-sql/sql-server/sqlalchemy/app.flexible.yaml
  cloud-sql/sql-server/sqlalchemy/app.standard.yaml
  cloud-sql/sql-server/sqlalchemy/deployment.yaml
  cloud-sql/sql-server/sqlalchemy/main.py
  cloud-sql/sql-server/sqlalchemy/requirements.txt
Labels: api: cloudsql, samples

#9875 chore: remove codelabs/
  .github/CODEOWNERS
  codelabs/README.md
  codelabs/cloud-functions-python-http/.gcloudignore
  codelabs/cloud-functions-python-http/main.py
  codelabs/cloud-functions-python-http/python-powered.png
  codelabs/cloud-functions-python-http/test_main.py
  codelabs/cloud-functions-python-http/web_app.py
Labels: samples

#9867 fix: update demosite to reflect error messages in client
  recaptcha_enterprise/demosite/app/static/demo-6df0841a.js
  recaptcha_enterprise/demosite/app/static/global-e680a49614fd8ff8.js
  recaptcha_enterprise/demosite/app/urls.py
Labels: api: recaptchaenterprise, samples, asset: flagship

#9887 dataflow: update dataflow flags
  people-and-planet-ai/timeseries-classification/create_datasets.py
  people-and-planet-ai/timeseries-classification/main.py
  people-and-planet-ai/timeseries-classification/noxfile_config.py
Labels: automerge, samples, api: people-and-planet-ai

#9886 fix: upgrade pip to latest version if available
  .kokoro/tests/run_tests.sh
Labels: automerge, samples

#9890 fix: upgrade pip in each session
  noxfile-template.py
Labels: samples

#9892 fix: Updating dataproc quickstart test region
  dataproc/snippets/quickstart/quickstart_test.py
Labels: api: dataproc, samples

#9866 fix: Add genappbuilder to CODEOWNERS
  .github/CODEOWNERS
  .github/auto-label.yaml
  .github/blunderbuss.yml
  discoveryengine/__init__.py
  discoveryengine/documents_sample_test.py
  discoveryengine/get_operation_sample.py
  discoveryengine/import_documents_sample.py
  discoveryengine/list_documents_sample.py
  discoveryengine/list_operations_sample.py
  discoveryengine/operations_sample_test.py
  discoveryengine/poll_operation_sample.py
  discoveryengine/requirements-test.txt
  discoveryengine/requirements.txt
  discoveryengine/search_sample.py
  discoveryengine/search_sample_test.py
  genappbuilder/requirements.txt
Labels: automerge, samples

#9900 fix: update language_v1.Document to language_v1.types.Document
  language/snippets/cloud-client/v1/quickstart.py
Labels: automerge, api: language, samples

#9903 fix: pin urllib3 as a workaround
  run/idp-sql/requirements.txt
Labels: api: run, samples

#9894 add check for cluster being in running state
  dataproc/snippets/submit_job_test.py
  dataproc/snippets/update_cluster_test.py
Labels: api: dataproc, samples

#9896 Fix pyproject.toml for Renovate
  renovate.json
Labels: samples

#8808 docs(recaptcha-samples): init add mfa sample
  recaptcha_enterprise/snippets/create_mfa_assessment.py
  recaptcha_enterprise/snippets/test_create_assessment.py
  recaptcha_enterprise/snippets/util.py
Labels: samples

#9924 ppai/timeseries: add debugging info and check responses
  people-and-planet-ai/timeseries-classification/e2e_test.py
Labels: samples, api: people-and-planet-ai

#9927 chore: update ownership for asset team
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: samples

#9922 GenerativeAI SDK Samples
  generative_ai/chat.py
  generative_ai/chat_test.py
  generative_ai/classify_news_items.py
  generative_ai/classify_news_items_test.py
  generative_ai/embedding.py
  generative_ai/embedding_test.py
  generative_ai/extraction.py
  generative_ai/extraction_test.py
  generative_ai/ideation.py
  generative_ai/ideation_test.py
  generative_ai/list_tuned_models.py
  generative_ai/list_tuned_models_test.py
  generative_ai/requirements-test.txt
  generative_ai/requirements.txt
  generative_ai/sentiment_analysis.py
  generative_ai/sentiment_analysis_test.py
  generative_ai/summarization.py
  generative_ai/summarization_test.py
  generative_ai/tuning.py
Labels: samples

#9935 fix: wait longer for retries
  auth/api-client/api_key_test.py
Labels: samples, api: auth

#9942 feat: upgrade sample style (Cloud SDK)
  cloud-sql/postgres/sqlalchemy/connect_unix.py
  cloud_tasks/snippets/create_http_task.py
  cloud_tasks/snippets/create_http_task_with_token.py
  cloud_tasks/snippets/create_queue.py
  datastore/cloud-client/snippets.py
  datastore/cloud-client/snippets_test.py
  firestore/cloud-async-client/distributed_counters.py
  firestore/cloud-async-client/snippets.py
  firestore/cloud-async-client/snippets_test.py
  firestore/cloud-client/distributed_counters.py
  firestore/cloud-client/query_filter_or.py
  firestore/cloud-client/query_filter_or_test.py
  firestore/cloud-client/snippets.py
  firestore/cloud-client/snippets_test.py
  storage/api/compose_objects.py
  storage/api/crud_object.py
  storage/api/customer_supplied_keys.py
  storage/s3-sdk/s3_sdk_test.py
  storage/signed_urls/generate_signed_urls.py
Labels: api: firestore, api: storage, api: datastore, api: cloudsql, api: tasks, samples

#9944 feat: upgrade sample style (Other)
  asset/snippets/quickstart_analyzeiampolicy.py
  asset/snippets/quickstart_analyzeiampolicylongrunning.py
  asset/snippets/quickstart_analyzeiampolicylongrunning_test.py
  asset/snippets/quickstart_batchgetassetshistory.py
  asset/snippets/quickstart_batchgetassetshistory_test.py
  asset/snippets/quickstart_batchgeteffectiveiampolicy_test.py
  asset/snippets/quickstart_createfeed.py
  asset/snippets/quickstart_createfeed_test.py
  asset/snippets/quickstart_exportassets.py
  asset/snippets/quickstart_exportassets_test.py
  asset/snippets/quickstart_getfeed.py
  asset/snippets/quickstart_listassets.py
  asset/snippets/quickstart_listfeeds.py
  asset/snippets/quickstart_listfeeds_test.py
  asset/snippets/quickstart_searchalliampolicies_test.py
  asset/snippets/quickstart_searchallresources_test.py
  asset/snippets/quickstart_updatefeed.py
  contact-center-insights/snippets/test_create_analysis.py
  contact-center-insights/snippets/test_create_conversation.py
  contact-center-insights/snippets/test_create_conversation_with_ttl.py
  contact-center-insights/snippets/test_create_issue_model.py
  iap/example_gce_backend.py
  iap/iap_test.py
  iap/validate_jwt.py
  memorystore/redis/main.py
  opencensus/metrics_quickstart.py
  talent/conftest.py
  talent/job_search_autocomplete_job_title.py
  talent/job_search_batch_create_jobs.py
  talent/job_search_batch_update_jobs.py
  talent/job_search_commute_search.py
  talent/job_search_create_client_event.py
  talent/job_search_create_company.py
  talent/job_search_create_company_test.py
  talent/job_search_create_job.py
  talent/job_search_create_job_custom_attributes.py
  talent/job_search_create_job_custom_attributes_test.py
  talent/job_search_create_job_test.py
  talent/job_search_create_tenant.py
  talent/job_search_create_tenant_test.py
  talent/job_search_custom_ranking_search.py
  talent/job_search_delete_company.py
  talent/job_search_delete_job.py
  talent/job_search_delete_tenant.py
  talent/job_search_get_company.py
  talent/job_search_get_job.py
  talent/job_search_get_tenant.py
  talent/job_search_histogram_search.py
  talent/job_search_list_companies.py
  talent/job_search_list_jobs.py
  talent/job_search_list_jobs_test.py
  talent/job_search_list_tenants.py
  workflows/cloud-client/main_test.py
Labels: api: jobs, api: iap, samples, api: contactcenterinsights, api: asset, api: memorystore

#9901 fix: update test fixture by removing autouse
  dialogflow/create_document_test.py
Labels: api: dialogflow, samples

#9952 fix: add region tag, move code around for docs
  run/pubsub/main.py
Labels: api: pubsub, samples

#9953 fix: install only binary with pip
  noxfile-template.py
Labels: samples

#9970 fix: add missing region tag
  appengine/standard_python3/pubsub/main.py
Labels: api: pubsub, samples

#9966 refactor: typehints and return for webrisk samples
  webrisk/snippets/compute_threatlist_diff.py
  webrisk/snippets/search_hashes.py
  webrisk/snippets/search_uri.py
  webrisk/snippets/submit_uri.py
  webrisk/snippets/test_basic_samples.py
Labels: automerge, api: webrisk, samples

#9967 refactor: update typehints in workflows/cloud-client
  workflows/cloud-client/main.py
  workflows/cloud-client/main_test.py
  workflows/cloud-client/noxfile_config.py
Labels: samples, api: workflows

#9971 refactor: update typehints in scheduler samples
  scheduler/snippets/create_job.py
  scheduler/snippets/delete_job.py
  scheduler/snippets/job_test.py
  scheduler/snippets/main.py
  scheduler/snippets/main_test.py
Labels: automerge, api: cloudscheduler, samples

#9969 refactor: update typehints for servicedirectory samples
  servicedirectory/noxfile_config.py
  servicedirectory/quickstart.py
  servicedirectory/quickstart_test.py
  servicedirectory/snippets.py
  servicedirectory/snippets_test.py
Labels: samples, api: servicedirectory

#9957 fix: Add type hints for secret manager snippets
  secretmanager/snippets/access_secret_version.py
  secretmanager/snippets/add_secret_version.py
  secretmanager/snippets/consume_event_notification.py
  secretmanager/snippets/create_secret.py
  secretmanager/snippets/create_secret_with_user_managed_replication.py
  secretmanager/snippets/delete_secret.py
  secretmanager/snippets/delete_secret_with_etag.py
  secretmanager/snippets/destroy_secret_version.py
  secretmanager/snippets/destroy_secret_version_with_etag.py
  secretmanager/snippets/disable_secret_version.py
  secretmanager/snippets/disable_secret_version_with_etag.py
  secretmanager/snippets/enable_secret_version.py
  secretmanager/snippets/enable_secret_version_with_etag.py
  secretmanager/snippets/get_secret.py
  secretmanager/snippets/get_secret_version.py
  secretmanager/snippets/iam_grant_access.py
  secretmanager/snippets/iam_revoke_access.py
  secretmanager/snippets/list_secret_versions.py
  secretmanager/snippets/list_secret_versions_with_filter.py
  secretmanager/snippets/list_secrets.py
  secretmanager/snippets/list_secrets_with_filter.py
  secretmanager/snippets/noxfile_config.py
  secretmanager/snippets/quickstart.py
  secretmanager/snippets/snippets_test.py
  secretmanager/snippets/update_secret.py
  secretmanager/snippets/update_secret_with_alias.py
  secretmanager/snippets/update_secret_with_etag.py
Labels: api: secretmanager, samples

#9973 chore: remove unused region tag
  run/pubsub/main.py
Labels: automerge, api: pubsub, samples

#9976 refactor: cleanup cdn samples
  cdn/requirements.txt
  cdn/snippets.py
  cdn/snippets_test.py
Labels: samples

#9978 Add Type Hints for compute/api
  compute/api/create_instance.py
Labels: api: compute, samples

#9948 [Cleanup] storage/s3-sdk: Adds docstrings, return value instead of print
  storage/s3-sdk/list_gcs_buckets.py
  storage/s3-sdk/list_gcs_objects.py
  storage/s3-sdk/noxfile_config.py
  storage/s3-sdk/s3_sdk_test.py
Labels: api: storage, samples

#9992 chore: update return type for delete snippets
  scheduler/snippets/delete_job.py
  scheduler/snippets/job_test.py
  servicedirectory/snippets.py
  servicedirectory/snippets_test.py
  workflows/cloud-client/main.py
Labels: api: cloudscheduler, samples, api: servicedirectory, api: workflows

#9975 Response streaming
  functions/v2/response_streaming/main.py
  functions/v2/response_streaming/main_test.py
  functions/v2/response_streaming/requirements.txt
Labels: api: cloudfunctions, samples

#9977 fix: Add type hints for iam api-client samples
  iam/api-client/access.py
  iam/api-client/access_test.py
  iam/api-client/custom_roles.py
  iam/api-client/custom_roles_test.py
  iam/api-client/grantable_roles.py
  iam/api-client/grantable_roles_test.py
  iam/api-client/quickstart.py
  iam/api-client/quickstart_test.py
  iam/api-client/service_account_keys.py
  iam/api-client/service_accounts.py
  iam/api-client/service_accounts_test.py
  iam/api-client/workload_identity_federation.py
Labels: automerge, api: iam, samples

#9947 Type hints for s3 storage sdk
  storage/s3-sdk/list_gcs_buckets.py
  storage/s3-sdk/list_gcs_objects.py
  storage/s3-sdk/noxfile_config.py
  storage/s3-sdk/s3_sdk_test.py
Labels: api: storage, samples

#9954 fix: Add missing unit test for tuning.py sample.
  generative_ai/chat.py
  generative_ai/chat_test.py
  generative_ai/classify_news_items.py
  generative_ai/classify_news_items_test.py
  generative_ai/embedding.py
  generative_ai/embedding_test.py
  generative_ai/extraction.py
  generative_ai/extraction_test.py
  generative_ai/ideation.py
  generative_ai/ideation_test.py
  generative_ai/list_tuned_models.py
  generative_ai/list_tuned_models_test.py
  generative_ai/noxfile_config.py
  generative_ai/requirements.txt
  generative_ai/sentiment_analysis.py
  generative_ai/sentiment_analysis_test.py
  generative_ai/summarization.py
  generative_ai/summarization_test.py
  generative_ai/tuning.py
  generative_ai/tuning_test.py
Labels: samples

#10002 Adding deletion of rows with NULL dag_id
  composer/workflows/airflow_db_cleanup.py
Labels: samples, api: workflows

#9980 fixit: add type-hints to functions/v2/ocr
  functions/v2/ocr/main.py
  functions/v2/ocr/main_test.py
  functions/v2/ocr/noxfile_config.py
Labels: automerge, api: cloudfunctions, samples

#9872 [DLP] Implemenetd dlp_inspect_image_listed_infotypes with unit test cases
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
Labels: automerge, api: dlp, samples

#10007 fixit: update docstrings for Cloud Run samples
  run/hello-broken/main.py
  run/helloworld/main.py
  run/image-processing/image.py
  run/image-processing/main.py
  run/jobs/main.py
  run/logging-manual/main.py
  run/markdown-preview/editor/main.py
  run/markdown-preview/editor/render.py
  run/markdown-preview/renderer/main.py
  run/service-auth/app.py
  run/service-auth/receive.py
  run/system-package/main.py
Labels: automerge, api: run, api: jobs, samples

#9979 fix: Add type hints for KMS snippets
  kms/snippets/check_state_import_job.py
  kms/snippets/check_state_imported_key.py
  kms/snippets/create_import_job.py
  kms/snippets/create_key_asymmetric_decrypt.py
  kms/snippets/create_key_asymmetric_sign.py
  kms/snippets/create_key_for_import.py
  kms/snippets/create_key_hsm.py
  kms/snippets/create_key_labels.py
  kms/snippets/create_key_mac.py
  kms/snippets/create_key_ring.py
  kms/snippets/create_key_rotation_schedule.py
  kms/snippets/create_key_symmetric_encrypt_decrypt.py
  kms/snippets/create_key_version.py
  kms/snippets/decrypt_asymmetric.py
  kms/snippets/decrypt_symmetric.py
  kms/snippets/destroy_key_version.py
  kms/snippets/disable_key_version.py
  kms/snippets/enable_key_version.py
  kms/snippets/encrypt_asymmetric.py
  kms/snippets/encrypt_symmetric.py
  kms/snippets/generate_random_bytes.py
  kms/snippets/get_key_labels.py
  kms/snippets/get_key_version_attestation.py
  kms/snippets/get_public_key.py
  kms/snippets/get_public_key_jwk.py
  kms/snippets/iam_add_member.py
  kms/snippets/iam_get_policy.py
  kms/snippets/iam_remove_member.py
  kms/snippets/import_manually_wrapped_key.py
  kms/snippets/noxfile_config.py
  kms/snippets/quickstart.py
  kms/snippets/restore_key_version.py
  kms/snippets/sign_asymmetric.py
  kms/snippets/sign_mac.py
  kms/snippets/snippets_test.py
  kms/snippets/update_key_add_rotation.py
  kms/snippets/update_key_remove_labels.py
  kms/snippets/update_key_remove_rotation.py
  kms/snippets/update_key_set_primary.py
  kms/snippets/update_key_update_labels.py
  kms/snippets/verify_asymmetric_ec.py
  kms/snippets/verify_asymmetric_rsa.py
  kms/snippets/verify_mac.py
Labels: api: cloudkms, samples

#9996 refactor: cleanup cloud_tasks samples
  cloud_tasks/snippets/create_http_task.py
  cloud_tasks/snippets/create_http_task_test.py
  cloud_tasks/snippets/create_http_task_with_token.py
  cloud_tasks/snippets/create_http_task_with_token_test.py
  cloud_tasks/snippets/create_queue.py
  cloud_tasks/snippets/create_queue_test.py
  cloud_tasks/snippets/delete_queue.py
  cloud_tasks/snippets/delete_queue_test.py
  cloud_tasks/snippets/list_queues.py
  cloud_tasks/snippets/list_queues_test.py
  cloud_tasks/snippets/noxfile_config.py
Labels: api: tasks, samples

#10012 fix: Adding exponential backoff
  generative_ai/chat_test.py
  generative_ai/classify_news_items_test.py
  generative_ai/embedding_test.py
  generative_ai/extraction_test.py
  generative_ai/ideation_test.py
  generative_ai/list_tuned_models_test.py
  generative_ai/requirements-test.txt
  generative_ai/sentiment_analysis_test.py
  generative_ai/summarization_test.py
Labels: automerge, samples

#10013 Update Python template Dockerfile to contain entrypoint
  dataflow/flex-templates/streaming_beam/Dockerfile
Labels: automerge, samples

#10006 fixit: add return vals to v2/storage
  functions/v2/storage/main.py
  functions/v2/storage/main_test.py
Labels: api: storage, samples

#10019 feat(logging): add a sample for get_sink
  logging/cloud-client/get_sink.py
  logging/cloud-client/get_sink_test.py
Labels: automerge, api: logging, samples

#10005 chore(dialogflow): fixit - update samples to use ff http signature
  dialogflow-cx/requirements.txt
  dialogflow-cx/webhook.py
  dialogflow-cx/webhook_configure_session_parameters.py
  dialogflow-cx/webhook_log_session_info.py
  dialogflow-cx/webhook_prebuilt_telecom.py
Labels: automerge, api: dialogflow, samples

#10038 Updates to Authoring guide and multiple README
  AUTHORING_GUIDE.md
  container/snippets/README.md
  error_reporting/fluent_on_compute/README.md
  kms/snippets/README.md
  people-and-planet-ai/README.md
  people-and-planet-ai/timeseries-classification/README.md
  pubsublite/spark-connector/README.md
Labels: api: cloudkms, api: clouderrorreporting, api: container, samples, api: pubsublite, api: people-and-planet-ai

#10022 fix: add typehints to container analysis samples
  containeranalysis/snippets/create_note.py
  containeranalysis/snippets/create_occurrence.py
  containeranalysis/snippets/create_occurrence_subscription.py
  containeranalysis/snippets/delete_note.py
  containeranalysis/snippets/delete_occurrence.py
  containeranalysis/snippets/find_high_severity_vulnerabilities_for_image.py
  containeranalysis/snippets/find_vulnerabilities_for_image.py
  containeranalysis/snippets/get_discovery_info.py
  containeranalysis/snippets/get_note.py
  containeranalysis/snippets/get_occurrence.py
  containeranalysis/snippets/get_occurrences_for_image.py
  containeranalysis/snippets/get_occurrences_for_note.py
  containeranalysis/snippets/poll_discovery_finished.py
  containeranalysis/snippets/samples.py
  containeranalysis/snippets/samples_test.py
Labels: automerge, samples

#9280 Update blunderbuss for people-and-planet-ai
  .github/blunderbuss.yml
Labels: samples

#9874 [DLP] Implemented dlp_inspect_bigquery_with_sampling with unit test cases
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
Labels: api: dlp, samples

#9871 [DLP] Implemenetd dlp_redact_image_colored_infotypes with unit test cases
  dlp/snippets/redact.py
  dlp/snippets/redact_test.py
Labels: api: dlp, samples

#10044 fixit: clean up appengine/flexible/scipy
  appengine/flexible/scipy/main.py
  appengine/flexible/scipy/main_test.py
Labels: api: appengine, samples

#10045 fixit: clean up appengine/flexible/hello_world
  appengine/flexible/hello_world/main.py
  appengine/flexible/hello_world/main_test.py
Labels: automerge, api: appengine, samples

#10049 Use yaml.safe_load() in readme-gen instead of yaml.load().
  scripts/readme-gen/readme_gen.py
Labels: samples

#10035 chore(fixit): clean up vision web samples
  vision/snippets/web/web_detect.py
  vision/snippets/web/web_detect_test.py
Labels: api: vision, samples

#10040 fixit: clean up run samples
  run/filesystem/main.py
  run/idp-sql/credentials.py
  run/idp-sql/database.py
  run/idp-sql/main.py
  run/idp-sql/middleware.py
  run/markdown-preview/editor/render.py
  run/pubsub/main.py
  run/service-auth/receive.py
  run/system-package/main.py
Labels: automerge, api: pubsub, api: run, samples

#10029 chore(fixit): update dilogflow sample to use http signature
  dialogflow-cx/webhook_validate_form_parameter.py
Labels: automerge, samples

#10046 fixit: clean up appengine/flexible_python37_and_earlier/numpy
  appengine/flexible_python37_and_earlier/numpy/main.py
  appengine/flexible_python37_and_earlier/numpy/main_test.py
Labels: api: appengine, samples

#10043 fixit: clean up appengine/flexible/numpy
  appengine/flexible/numpy/main.py
  appengine/flexible/numpy/main_test.py
Labels: api: appengine, samples

#10042 fixit: clean up appengine/flexible_python37_and_earlier/scipy
  appengine/flexible_python37_and_earlier/scipy/main.py
  appengine/flexible_python37_and_earlier/scipy/main_test.py
Labels: api: appengine, samples

#10041 fixit: clean up flexible_python37_and_earlier/hello_world
  appengine/flexible_python37_and_earlier/hello_world/main.py
  appengine/flexible_python37_and_earlier/hello_world/main_test.py
Labels: api: appengine, samples

#10051 fix: Add typehints for DLP snippets
  dlp/snippets/custom_infotype.py
  dlp/snippets/custom_infotype_test.py
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
  dlp/snippets/jobs.py
  dlp/snippets/jobs_test.py
  dlp/snippets/metadata.py
  dlp/snippets/metadata_test.py
  dlp/snippets/quickstart.py
  dlp/snippets/quickstart_test.py
  dlp/snippets/redact.py
  dlp/snippets/redact_test.py
  dlp/snippets/risk.py
  dlp/snippets/risk_test.py
  dlp/snippets/templates.py
  dlp/snippets/templates_test.py
  dlp/snippets/triggers.py
  dlp/snippets/triggers_test.py
Labels: api: dlp, samples

#10057 fixit: clean up trace/cloud-trace-demo-app-opentelemetry/app
  trace/cloud-trace-demo-app-opentelemetry/app/app.py
  trace/cloud-trace-demo-app-opentelemetry/app/app_test.py
Labels: api: cloudtrace, samples

#10009 refactor: update healthcare v1 samples
  healthcare/api-client/v1/fhir/README.rst
  healthcare/api-client/v1/fhir/fhir_resources.py
  healthcare/api-client/v1/fhir/fhir_resources_test.py
  healthcare/api-client/v1/fhir/resources/Patient.json
Labels: samples, api: healhcare

#10059 fixit: clean up trace/trace-python-sample-opentelemetry
  trace/trace-python-sample-opentelemetry/main.py
  trace/trace-python-sample-opentelemetry/main_test.py
Labels: api: cloudtrace, samples

#10054 chore(fixit): sample clean up for vision crop hints
  vision/snippets/crop_hints/crop_hints.py
  vision/snippets/crop_hints/crop_hints_test.py
Labels: automerge, api: vision, samples

#9917 feat: Add code samples for AnalyzeOrgPolicies, AnalyzeOrgPolicyGovern…
  asset/snippets/quickstart_analyze_org_policies.py
  asset/snippets/quickstart_analyze_org_policies_test.py
  asset/snippets/quickstart_analyze_org_policy_governed_assets.py
  asset/snippets/quickstart_analyze_org_policy_governed_assets_test.py
  asset/snippets/quickstart_analyze_org_policy_governed_containers.py
  asset/snippets/quickstart_analyze_org_policy_governed_containers_test.py
Labels: automerge, samples, api: asset

#10020 fixit: add type hints, descriptions and fix return vals for /translate
  translate/samples/snippets/hybrid_glossaries/hybrid_tutorial.py
  translate/samples/snippets/hybrid_glossaries/hybrid_tutorial_test.py
  translate/samples/snippets/hybrid_glossaries/resources/example.mp3
  translate/samples/snippets/noxfile_config.py
  translate/samples/snippets/snippets.py
  translate/samples/snippets/snippets_test.py
  translate/samples/snippets/translate_v3_batch_translate_text.py
  translate/samples/snippets/translate_v3_batch_translate_text_test.py
  translate/samples/snippets/translate_v3_batch_translate_text_with_glossary.py
  translate/samples/snippets/translate_v3_batch_translate_text_with_glossary_and_model.py
  translate/samples/snippets/translate_v3_batch_translate_text_with_glossary_and_model_test.py
  translate/samples/snippets/translate_v3_batch_translate_text_with_glossary_test.py
  translate/samples/snippets/translate_v3_batch_translate_text_with_model.py
  translate/samples/snippets/translate_v3_batch_translate_text_with_model_test.py
  translate/samples/snippets/translate_v3_create_glossary.py
  translate/samples/snippets/translate_v3_create_glossary_test.py
  translate/samples/snippets/translate_v3_delete_glossary.py
  translate/samples/snippets/translate_v3_delete_glossary_test.py
  translate/samples/snippets/translate_v3_detect_language.py
  translate/samples/snippets/translate_v3_detect_language_test.py
  translate/samples/snippets/translate_v3_get_glossary.py
  translate/samples/snippets/translate_v3_get_glossary_test.py
  translate/samples/snippets/translate_v3_get_supported_languages.py
  translate/samples/snippets/translate_v3_get_supported_languages_test.py
  translate/samples/snippets/translate_v3_get_supported_languages_with_target.py
  translate/samples/snippets/translate_v3_get_supported_languages_with_target_test.py
  translate/samples/snippets/translate_v3_list_glossary.py
  translate/samples/snippets/translate_v3_list_glossary_test.py
  translate/samples/snippets/translate_v3_translate_text.py
  translate/samples/snippets/translate_v3_translate_text_test.py
  translate/samples/snippets/translate_v3_translate_text_with_glossary.py
  translate/samples/snippets/translate_v3_translate_text_with_glossary_test.py
  translate/samples/snippets/translate_v3_translate_text_with_model.py
  translate/samples/snippets/translate_v3_translate_text_with_model_test.py
  translate/samples/snippets/translate_v3beta1_batch_translate_document.py
  translate/samples/snippets/translate_v3beta1_batch_translate_document_test.py
  translate/samples/snippets/translate_v3beta1_translate_document.py
  translate/samples/snippets/translate_v3beta1_translate_document_test.py
Labels: api: translate, samples

#10060 chore(fixit): vision document text sample clean-up
  vision/snippets/document_text/doctext.py
  vision/snippets/document_text/doctext_test.py
Labels: api: vision, samples

#10027 fixit: Clean up Python sample at cloud-sql/postgres/client-side-encry…
  cloud-sql/postgres/client-side-encryption/snippets/cloud_kms_env_aead.py
  cloud-sql/postgres/client-side-encryption/snippets/cloud_kms_env_aead_test.py
  cloud-sql/postgres/client-side-encryption/snippets/cloud_sql_connection_pool.py
  cloud-sql/postgres/client-side-encryption/snippets/cloud_sql_connection_pool_test.py
  cloud-sql/postgres/client-side-encryption/snippets/encrypt_and_insert_data.py
  cloud-sql/postgres/client-side-encryption/snippets/encrypt_and_insert_data_test.py
  cloud-sql/postgres/client-side-encryption/snippets/query_and_decrypt_data.py
  cloud-sql/postgres/client-side-encryption/snippets/query_and_decrypt_data_test.py
Labels: api: cloudsql, samples

#10058 chore(fixit): update sample in dialogflow dir to use http signature
  dialogflow/requirements.txt
  dialogflow/webhook.py
Labels: automerge, api: dialogflow, samples

#9873 [DLP] Implemenetd dlp_get_job with unit test cases
  dlp/snippets/jobs.py
  dlp/snippets/jobs_test.py
Labels: api: dlp, samples

#9752 [DLP] Implemented dlp_deidentify_dictionary_replacement with unit test cases
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
Labels: api: dlp, samples

#9719 [DLP] Implemented dlp_inspect_gcs_with_sampling with test cases
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
Labels: api: dlp, samples

#10048 chore(endpoints): Update region tag with product prefix
  endpoints/getting-started/app.yaml
Labels: samples, api: endpoints

#9607 chore(samples): Fix incorrect endpoint for Datastore
  datastore/cloud-client/snippets.py
Labels: api: datastore, samples

#10074 fixit: clean up appengine/hello_world
  appengine/standard_python3/hello_world/main.py
  appengine/standard_python3/hello_world/main_test.py
Labels: automerge, api: appengine, samples

#9522 [DLP] Implemented dlp_deidentify_table_row_suppress with unit test cases
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
Labels: api: dlp, samples

#10072 fixit: clean up appengine/standard_python3/warmup
  appengine/standard_python3/warmup/main.py
  appengine/standard_python3/warmup/main_test.py
Labels: api: appengine, samples

#10098 fixit: clean up appengine/flexible_python37_and_earlier/disk
  appengine/flexible_python37_and_earlier/disk/main.py
  appengine/flexible_python37_and_earlier/disk/main_test.py
Labels: api: appengine, samples

#10097 fixit: clean up appengine/flexible/disk
  appengine/flexible/disk/main.py
  appengine/flexible/disk/main_test.py
Labels: api: appengine, samples

#10094 fixit: clean up appengine/flexible/static_files
  appengine/flexible/static_files/main.py
  appengine/flexible/static_files/main_test.py
Labels: api: appengine, samples

#10093 fixit: clean up appengine/flexible_python37_and_earlier/static_files
  appengine/flexible_python37_and_earlier/static_files/main.py
  appengine/flexible_python37_and_earlier/static_files/main_test.py
Labels: api: appengine, samples

#10091 fixit: clean up appengine/flexible_python37_and_earlier/extending_run…
  appengine/flexible_python37_and_earlier/extending_runtime/main.py
  appengine/flexible_python37_and_earlier/extending_runtime/main_test.py
Labels: api: appengine, samples

#10090 fixit: clean up appengine/flexible/extending_runtime
  appengine/flexible/extending_runtime/main.py
  appengine/flexible/extending_runtime/main_test.py
Labels: api: appengine, samples

#10069 fixit: clean up monitoring/snippets/v3/uptime-check-client
  monitoring/snippets/v3/uptime-check-client/noxfile_config.py
  monitoring/snippets/v3/uptime-check-client/snippets.py
  monitoring/snippets/v3/uptime-check-client/snippets_test.py
Labels: automerge, api: monitoring, samples

#10076 fixit: clean up appengine/flexible_python37_and_earlier/metadata
  appengine/flexible_python37_and_earlier/metadata/main.py
  appengine/flexible_python37_and_earlier/metadata/main_test.py
Labels: automerge, api: appengine, samples

#10096 feat(speech): add gcs transcript samples
  speech/noxfile_config.py
  speech/snippets/transcribe_async_gcs.py
  speech/snippets/transcribe_async_gcs_test.py
  speech/snippets/transcribe_diarization_gcs_beta.py
  speech/snippets/transcribe_multilanguage_gcs_beta.py
  speech/snippets/transcribe_word_level_confidence_gcs_beta.py
Labels: automerge, api: speech, samples

#10075 fixit: clean up appengine/flexible/metadata
  appengine/flexible/metadata/main.py
  appengine/flexible/metadata/main_test.py
Labels: automerge, api: appengine, samples

#10068 fix: Speech adaptation Improve flaky retry after periodic test suite failure
  speech/snippets/adaptation_v2_phrase_set_reference_test.py
  speech/snippets/requirements-test.txt
Labels: api: speech, samples

#10095 refactor: clean up cloud_scheduler samples
  cloud_scheduler/snippets/app.yaml
  cloud_scheduler/snippets/create_job.py
  cloud_scheduler/snippets/delete_job.py
  cloud_scheduler/snippets/job_test.py
  cloud_scheduler/snippets/main.py
  cloud_scheduler/snippets/main_test.py
  cloud_scheduler/snippets/noxfile_config.py
  cloud_scheduler/snippets/requirements-test.txt
  cloud_scheduler/snippets/requirements.txt
  scheduler/snippets/job_test.py
Labels: automerge, api: cloudscheduler, samples

#10092 fixit: Update to Gen App Builder Tests
  discoveryengine/documents_sample_test.py
  discoveryengine/get_operation_sample.py
  discoveryengine/import_documents_sample.py
  discoveryengine/list_documents_sample.py
  discoveryengine/list_operations_sample.py
  discoveryengine/operations_sample_test.py
  discoveryengine/poll_operation_sample.py
  discoveryengine/requirements.txt
  discoveryengine/search_sample.py
  discoveryengine/search_sample_test.py
Labels: automerge, samples, api: discoveryengine

#10077 fixit: clean up monitoring/snippets/v3/cloud-client
  monitoring/snippets/v3/cloud-client/noxfile_config.py
  monitoring/snippets/v3/cloud-client/quickstart.py
  monitoring/snippets/v3/cloud-client/quickstart_test.py
  monitoring/snippets/v3/cloud-client/snippets.py
  monitoring/snippets/v3/cloud-client/snippets_test.py
Labels: api: monitoring, samples

#9990 fixit: Add type-hints to Python sample at functions/ocr/app
  functions/ocr/app/main.py
  functions/ocr/app/main_test.py
  functions/ocr/app/noxfile_config.py
Labels: api: cloudfunctions, samples

#10104 fixit: clean up transcribe/microphone
  speech/microphone/transcribe_streaming_infinite.py
  speech/microphone/transcribe_streaming_mic.py
  speech/microphone/transcribe_streaming_mic_test.py
Labels: automerge, api: speech, samples

#10111 Remove mention of Knative from Cloud Run samples use din quickstart
  run/helloworld/Dockerfile
Labels: automerge, api: run, samples

#10099 refactor: clean up compute/auth samples
  compute/auth/access_token.py
  compute/auth/access_token_test.py
  compute/auth/application_default.py
  compute/auth/application_default_test.py
  compute/auth/noxfile_config.py
Labels: samples, api: auth

#10105 fixit: Clean up Python sample at compute/load_balancing
  compute/load_balancing/create_certificate.py
  compute/load_balancing/create_regional_certificate.py
  compute/load_balancing/noxfile_config.py
  compute/load_balancing/test_certificates.py
Labels: automerge, api: compute, samples

#10109 chore: update license headers failing check
  appengine/standard/iap/main.py
  appengine/standard/iap/main_test.py
  appengine/standard/migration/memorystore/main_test.py
  blog/introduction_to_data_models_in_cloud_datastore/blog_test.py
  blog/introduction_to_data_models_in_cloud_datastore/wiki_test.py
  compute/auth/application_default_test.py
  compute/autoscaler/demo/frontend_test.py
  compute/managed-instances/demo/app.py
  endpoints/getting-started-grpc/greeter_client.py
  endpoints/getting-started-grpc/greeter_server.py
  scripts/auto_link_to_docs.py
  storage/api/compose_objects_test.py
  storage/api/crud_object_test.py
  storage/api/customer_supplied_keys_test.py
  storage/api/list_objects.py
  storage/api/list_objects_test.py
Labels: api: storage, api: compute, api: iap, samples, api: endpoints, api: auth, api: memorystore

#10118 fixit: Clean up Python sample at compute/encryption
  compute/encryption/generate_wrapped_rsa_key.py
  compute/encryption/generate_wrapped_rsa_key_test.py
  compute/encryption/noxfile_config.py
Labels: api: compute, samples

#10112 fixit: Clean up Python sample at compute/managed-instances/demo
  compute/managed-instances/demo/app.py
Labels: api: compute, samples

#10131 chore: suspend some tests for now
  dialogflow/noxfile_config.py
Labels: api: dialogflow, samples
