Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2023-03, with the labels that each got.

#9189 Fixing flacky privateca tests (#9075, #9081)
  privateca/snippets/requirements-test.txt
  privateca/snippets/requirements.txt
  privateca/snippets/test_certificate_authorities.py
  privateca/snippets/test_subordinate_ca.py
Labels: automerge, samples

#9091 migrate code from googleapis/python-dlp
  .github/header-checker-lint.yml
  dlp/AUTHORING_GUIDE.md
  dlp/CONTRIBUTING.md
  dlp/README.md
  dlp/snippets/custom_infotype.py
  dlp/snippets/custom_infotype_test.py
  dlp/snippets/deid.py
  dlp/snippets/deid_test.py
  dlp/snippets/inspect_content.py
  dlp/snippets/inspect_content_test.py
  dlp/snippets/jobs.py
  dlp/snippets/jobs_test.py
  dlp/snippets/metadata.py
  dlp/snippets/metadata_test.py
  dlp/snippets/noxfile_config.py
  dlp/snippets/quickstart.py
  dlp/snippets/quickstart_test.py
  dlp/snippets/redact.py
  dlp/snippets/redact_test.py
  dlp/snippets/requirements-test.txt
  dlp/snippets/requirements.txt
  dlp/snippets/resources/accounts.txt
  dlp/snippets/resources/dates.csv
  dlp/snippets/resources/harmless.txt
  dlp/snippets/resources/test.png
  dlp/snippets/resources/test.txt
  dlp/snippets/risk.py
  dlp/snippets/risk_test.py
  dlp/snippets/templates.py
  dlp/snippets/templates_test.py
  dlp/snippets/triggers.py
  dlp/snippets/triggers_test.py
Labels: api: dlp, blunderbuss: assign, samples

#9171 feat: add default values to quickstart
  storagetransfer/quickstart.py
Labels: api: storagetransfer, samples

#9187 chore: add CODEOWNERS for DLP samples
  .github/CODEOWNERS
Labels: samples

#9198 chore: add Readme for DLP
  dlp/snippets/README.md
Labels: api: dlp, samples

#9185 update airflow dependencies
  composer/2022_airflow_summit/constraints.txt
  composer/2022_airflow_summit/requirements.txt
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/constraints.txt
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/requirements.txt
  composer/cicd_sample/constraints.txt
  composer/cicd_sample/requirements.txt
  composer/workflows/constraints.txt
  composer/workflows/requirements.txt
Labels: api: composer, samples

#9184 chore: add privateca to auto-labeling configuration
  .github/auto-label.yaml
Labels: samples

#9192 Chore: skip failling tests to get periodic tests back to green state
  datacatalog/snippets/search_assets_test.py
  monitoring/snippets/v3/alerts-client/snippets_test.py
Labels: api: datacatalog, samples

#9205 chore: moved files to recaptcha_enterprise folder and updated CODEOW…
  .github/CODEOWNERS
  .github/auto-label.yaml
  recaptcha_enterprise/demosite/README.md
  recaptcha_enterprise/demosite/app/Dockerfile
  recaptcha_enterprise/demosite/app/backend/__init__.py
  recaptcha_enterprise/demosite/app/backend/create_recaptcha_assessment.py
  recaptcha_enterprise/demosite/app/init.sh
  recaptcha_enterprise/demosite/app/main.py
  recaptcha_enterprise/demosite/app/requirements.txt
  recaptcha_enterprise/demosite/app/static/browserconfig.xml
  recaptcha_enterprise/demosite/app/static/images/bot-color-unoptimized.svg
  recaptcha_enterprise/demosite/app/static/images/castle-alternate-unoptimized.svg
  recaptcha_enterprise/demosite/app/static/images/human-color-unoptimized.svg
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-120px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-128px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-144px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-150px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-152px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-16px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-180px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-192px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-196px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-310px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-32px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-512px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-64px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-70px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon-96px.png
  recaptcha_enterprise/demosite/app/static/images/icons/favicon.ico
  recaptcha_enterprise/demosite/app/static/images/icons/favicon.svg
  recaptcha_enterprise/demosite/app/static/images/item-hydrant-unoptimized.svg
  recaptcha_enterprise/demosite/app/static/images/item-stoplight-unoptimized.svg
  recaptcha_enterprise/demosite/app/static/images/land-unoptimized.svg
  recaptcha_enterprise/demosite/app/static/manifest.webmanifest
  recaptcha_enterprise/demosite/app/static/scripts/component.js
  recaptcha_enterprise/demosite/app/static/scripts/global.js
  recaptcha_enterprise/demosite/app/static/styles/global.css
  recaptcha_enterprise/demosite/app/static/styles/local.css
  recaptcha_enterprise/demosite/app/templates/comment.html
  recaptcha_enterprise/demosite/app/templates/game.html
  recaptcha_enterprise/demosite/app/templates/home.html
  recaptcha_enterprise/demosite/app/templates/login.html
  recaptcha_enterprise/demosite/app/templates/signup.html
  recaptcha_enterprise/demosite/app/templates/store.html
  recaptcha_enterprise/demosite/app/urls.py
  recaptcha_enterprise/demosite/docker-compose.yaml
Labels: samples

#9139 docs(ca-samples): delete stale CA resources in test projects
  privateca/snippets/conftest.py
  privateca/snippets/test_ca_pools.py
Labels: samples

#9191 Add an App Engine Flexiable Python application. It is to demonstrate …
  appengine/flexible_ubuntu/README.md
  appengine/flexible_ubuntu/hello_world/app.yaml
  appengine/flexible_ubuntu/hello_world/main.py
  appengine/flexible_ubuntu/hello_world/main_test.py
  appengine/flexible_ubuntu/hello_world/noxfile_config.py
  appengine/flexible_ubuntu/hello_world/requirements-test.txt
  appengine/flexible_ubuntu/hello_world/requirements.txt
Labels: api: appengine, samples

#9175 fix: add GCE enforce exception for compute flaky test
  compute/client_library/snippets/tests/test_firewall.py
Labels: automerge, api: compute, samples

#9222 fix(oslogin): Fix error reporting for OSLogin
  compute/oslogin/oslogin_service_account_ssh.py
Labels: api: oslogin, samples

#9250 fix airflow 1 tests
  composer/airflow_1_samples/constraints.txt
  composer/airflow_1_samples/noxfile_config.py
  composer/airflow_1_samples/requirements.txt
Labels: api: composer, samples

#9254 chore: update blunderbuss for dlp
  .github/blunderbuss.yml
Labels: samples

#9251 Add a python 3.11 storage app for App Engine Flex.
  appengine/flexible_ubuntu/storage/README.md
  appengine/flexible_ubuntu/storage/app.yaml
  appengine/flexible_ubuntu/storage/main.py
  appengine/flexible_ubuntu/storage/main_test.py
  appengine/flexible_ubuntu/storage/noxfile_config.py
  appengine/flexible_ubuntu/storage/requirements-test.txt
  appengine/flexible_ubuntu/storage/requirements.txt
Labels: api: storage, samples

#9258 fix: Add missing product region tags for Cloud CDN snippets
  cdn/snippets.py
Labels: automerge, samples

#8525 fix: update library version and fix test failure
  functions/v2/http_logging/main_test.py
  functions/v2/http_logging/requirements.txt
Labels: samples

#9271 fix: Use SUCCESS value instead of name
  cloudbuild/snippets/quickstart_test.py
Labels: api: cloudbuild, samples

#9174 fix: change dialogflow intent display name
  dialogflow/update_intent_test.py
Labels: automerge, api: dialogflow, samples

#9260 Move samples of GAE Flex Python 3.8 and later to ./flexible
  appengine/flexible/README.md
  appengine/flexible/hello_world/app.yaml
  appengine/flexible/hello_world/main.py
  appengine/flexible/hello_world/main_test.py
  appengine/flexible/hello_world/noxfile_config.py
  appengine/flexible/hello_world/requirements-test.txt
  appengine/flexible/hello_world/requirements.txt
  appengine/flexible/pubsub/README.md
  appengine/flexible/pubsub/app.yaml
  appengine/flexible/static_files/app.yaml
  appengine/flexible/storage/app.yaml
  appengine/flexible/storage/main.py
  appengine/flexible/storage/main_test.py
  appengine/flexible/storage/noxfile_config.py
  appengine/flexible/storage/requirements-test.txt
  appengine/flexible/storage/requirements.txt
  appengine/flexible/tasks/app.yaml
  appengine/flexible/tasks/templates/index.html
  appengine/flexible_ubuntu/README.md
  appengine/flexible_ubuntu/hello_world/app.yaml
  appengine/flexible_ubuntu/hello_world/main.py
  appengine/flexible_ubuntu/hello_world/main_test.py
  appengine/flexible_ubuntu/hello_world/requirements-test.txt
  appengine/flexible_ubuntu/hello_world/requirements.txt
  appengine/flexible_ubuntu/storage/README.md
  appengine/flexible_ubuntu/storage/app.yaml
  appengine/flexible_ubuntu/storage/main.py
  appengine/flexible_ubuntu/storage/main_test.py
  appengine/flexible_ubuntu/storage/noxfile_config.py
  appengine/flexible_ubuntu/storage/requirements-test.txt
  appengine/flexible_ubuntu/storage/requirements.txt
Labels: api: appengine, samples

#9276 mark some more tests as flaky
  jobs/v3/api_client/commute_search_sample_test.py
  jobs/v3/api_client/featured_job_search_sample_test.py
Labels: automerge, api: jobs, samples

#9283 fix: add backoff to privateca conftest
  privateca/snippets/conftest.py
Labels: samples, api: security-privateca

#9288 Compute status check
  compute/oslogin/oslogin_service_account_ssh_test.py
Labels: api: compute, samples

#9209 chore(deps): Updating black to v23
  compute/client_library/requirements.txt
  compute/client_library/snippets/usage_report/usage_reports.py
Labels: api: compute, samples

#9274 docs(samples): Oslogin tests fixing
  compute/oslogin/oslogin_service_account_ssh.py
  compute/oslogin/oslogin_service_account_ssh_test.py
Labels: api: compute, samples

#9301 fix: mark expected failure
  people-and-planet-ai/weather-forecasting/tests/training_tests/test_training.py
Labels: samples, api: people-and-planet-ai

#9289 chore: cleanup un-wanted region tags
  cdn/snippets.py
Labels: automerge, samples

#9302 Restore changes lost to the merge into main
  recaptcha_enterprise/demosite/app/static/scripts/component.js
  recaptcha_enterprise/demosite/docker-compose.yaml
Labels: api: recaptchaenterprise, samples

#9303 fix: use default bucket name for tests
  appengine/standard/migration/storage/main_test.py
Labels: api: storage, samples

#9320 Fix: use current Django
  appengine/standard_python3/bundled-services/blobstore/django/requirements.txt
Labels: api: appengine, samples

#9322 ppai/weather: add notice of vertex issue
  people-and-planet-ai/weather-forecasting/notebooks/3-training.ipynb
Labels: api: notebooks, samples

#9326 fix: new dependency versions for py-3.11
  functions/ocr/app/requirements-test.txt
  functions/ocr/app/requirements.txt
Labels: api: cloudfunctions, samples

#9331 Fix migration storage
  appengine/standard/migration/storage/main.py
  appengine/standard/migration/storage/main_test.py
Labels: api: storage, samples

#9278 chore(functions/v2/tips-retry): Create cloudevent sample from existing backgorund function sample
  functions/v2/tips-retry/main.py
  functions/v2/tips-retry/main_test.py
  functions/v2/tips-retry/requirements-test.txt
  functions/v2/tips-retry/requirements.txt
Labels: api: cloudfunctions, samples

#9190 docs(samples): Document AI Warehouse - Add New Sample Codes
  contentwarehouse/snippets/create_folder_link_document_sample.py
  contentwarehouse/snippets/create_folder_link_document_sample_test.py
  contentwarehouse/snippets/create_rule_set_sample.py
  contentwarehouse/snippets/create_rule_set_sample_test.py
  contentwarehouse/snippets/quickstart_sample.py
  contentwarehouse/snippets/search_documents_sample.py
  contentwarehouse/snippets/update_document_schema_sample.py
  contentwarehouse/snippets/update_document_schema_sample_test.py
Labels: samples

#9334 test: add retries to servicedirectory
  servicedirectory/quickstart_test.py
  servicedirectory/requirements-test.txt
  servicedirectory/snippets_test.py
Labels: samples, api: servicedirectory

#9281 chore(functions/v2/tips-avoid-infinite-retries): Create cloud event function from background function
  functions/v2/tips-avoid-infinite-retries/main.py
  functions/v2/tips-avoid-infinite-retries/main_test.py
  functions/v2/tips-avoid-infinite-retries/requirements-test.txt
  functions/v2/tips-avoid-infinite-retries/requirements.txt
Labels: api: cloudfunctions, samples

#9300 chore(functions/v2/log): Update log samples to cloud event declarative signature
  functions/v2/log/helloworld/main.py
  functions/v2/log/helloworld/main_test.py
  functions/v2/log/helloworld/requirements-test.txt
  functions/v2/log/helloworld/requirements.txt
  functions/v2/log/stackdriver/main.py
  functions/v2/log/stackdriver/main_test.py
  functions/v2/log/stackdriver/requirements-test.txt
  functions/v2/log/stackdriver/requirements.txt
Labels: api: cloudfunctions, samples

#9315 feat(datastore): adds query filter OR
  datastore/cloud-client/query_filter_or.py
  datastore/cloud-client/query_filter_or_test.py
  datastore/cloud-client/requirements.txt
Labels: api: datastore, samples

#9279 feat: recaptcha demosite - update control flow from client
  recaptcha_enterprise/demosite/app/backend/create_recaptcha_assessment.py
  recaptcha_enterprise/demosite/app/config.ini
  recaptcha_enterprise/demosite/app/main.py
  recaptcha_enterprise/demosite/app/static/scripts/component.js
  recaptcha_enterprise/demosite/app/static/scripts/global.js
  recaptcha_enterprise/demosite/app/static/styles/local.css
  recaptcha_enterprise/demosite/app/templates/comment.html
  recaptcha_enterprise/demosite/app/templates/home.html
  recaptcha_enterprise/demosite/app/templates/login.html
  recaptcha_enterprise/demosite/app/templates/signup.html
  recaptcha_enterprise/demosite/app/templates/store.html
  recaptcha_enterprise/demosite/app/urls.py
Labels: api: recaptchaenterprise, samples

#9330 feat(firestore): adds COUNT query sample
  firestore/cloud-client/aggregate_query_count.py
  firestore/cloud-client/aggregate_query_count_test.py
  firestore/cloud-client/requirements.txt
Labels: api: firestore, samples

#9294 chore: upgrade ppai geospatial dependencies
  people-and-planet-ai/geospatial-classification/requirements-test.txt
  people-and-planet-ai/geospatial-classification/requirements.txt
Labels: samples, api: people-and-planet-ai

#9295 chore: ppai image dependency updates
  people-and-planet-ai/image-classification/requirements-test.txt
  people-and-planet-ai/image-classification/requirements.txt
Labels: samples, api: people-and-planet-ai

#9387 fix: backoff until service available
  securitycenter/snippets/requirements-test.txt
  securitycenter/snippets/snippets_bigquery_export_test.py
Labels: api: securitycenter, samples

#9293 fix(privateca.tests): Adding a random amount of seconds to backoff timer
  privateca/snippets/conftest.py
  privateca/snippets/test_ca_pools.py
  privateca/snippets/test_certificate_authorities.py
  privateca/snippets/test_certificates.py
  privateca/snippets/test_crud_certificate_templates.py
  privateca/snippets/test_subordinate_ca.py
Labels: samples, api: security-privateca

#9377 chore: exclude profiler from 3.11 (unsupported version)
  profiler/appengine/flexible/noxfile_config.py
  profiler/appengine/flexible/requirements-test.txt
  profiler/appengine/flexible/requirements.txt
  profiler/appengine/standard_python37/noxfile_config.py
  profiler/appengine/standard_python37/requirements-test.txt
  profiler/appengine/standard_python37/requirements.txt
  profiler/quickstart/noxfile_config.py
  profiler/quickstart/requirements-test.txt
Labels: api: appengine, samples

#9407 Update requirements.txt
  functions/spanner/requirements.txt
Labels: api: spanner, samples

#9411 fix: pubsublite spark connector test
  pubsublite/spark-connector/spark_streaming_test.py
Labels: samples, api: pubsublite

#9398 fix: Add retry in Datastore snippet test
  datastore/cloud-client/snippets_test.py
Labels: api: datastore, samples

#9118 Update Firebase examples
  appengine/standard_python3/building-an-app/building-an-app-3/templates/index.html
  appengine/standard_python3/building-an-app/building-an-app-4/templates/index.html
Labels: automerge, api: appengine, samples

#9321 Use dataflow_service_option pipeline option to request a GPU.
  dataflow/gpu-examples/tensorflow-landsat/run.yaml
Labels: automerge, samples

#9426 chore: add retries to speech tests
  speech/snippets/adaptation_v2_custom_class_reference_test.py
  speech/snippets/adaptation_v2_inline_custom_class_test.py
  speech/snippets/adaptation_v2_inline_phrase_set_test.py
  speech/snippets/adaptation_v2_phrase_set_reference_test.py
  speech/snippets/beta_snippets_test.py
  speech/snippets/create_recognizer_test.py
  speech/snippets/multi_region_test.py
  speech/snippets/profanity_filter_test.py
  speech/snippets/quickstart_test.py
  speech/snippets/quickstart_v2_test.py
  speech/snippets/requirements-test.txt
  speech/snippets/requirements.txt
  speech/snippets/speech_adaptation_beta_test.py
  speech/snippets/speech_model_adaptation_beta_test.py
  speech/snippets/speech_quickstart_beta_test.py
  speech/snippets/speech_to_storage_beta_test.py
  speech/snippets/transcribe_async_file_test.py
  speech/snippets/transcribe_async_gcs_test.py
  speech/snippets/transcribe_auto_punctuation_test.py
  speech/snippets/transcribe_context_classes_test.py
  speech/snippets/transcribe_enhanced_model_test.py
  speech/snippets/transcribe_file_v2_test.py
  speech/snippets/transcribe_gcs_v2_test.py
  speech/snippets/transcribe_model_selection_test.py
  speech/snippets/transcribe_multichannel_test.py
  speech/snippets/transcribe_streaming_test.py
  speech/snippets/transcribe_streaming_v2_test.py
  speech/snippets/transcribe_streaming_voice_activity_events_test.py
  speech/snippets/transcribe_streaming_voice_activity_timeouts_test.py
  speech/snippets/transcribe_test.py
  speech/snippets/transcribe_word_time_offsets_test.py
Labels: automerge, api: speech, samples
