Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2023-02, with the labels that each got.

#9066 Add log redaction tutorial sample code
  .github/CODEOWNERS
  .github/blunderbuss.yml
  logging/redaction/Dockerfile
  logging/redaction/README.md
  logging/redaction/log_redaction.py
  logging/redaction/log_redaction_final.py
  logging/redaction/requirements.txt
Labels: samples, lang: python

#8869 docs(samples): modified region tag to match apikey service
  auth/api-client/authenticate_with_api_key.py
  auth/api-client/create_api_key.py
  auth/api-client/delete_api_key.py
  auth/api-client/lookup_api_key.py
  auth/api-client/restrict_api_key_android.py
  auth/api-client/restrict_api_key_api.py
  auth/api-client/restrict_api_key_http.py
  auth/api-client/restrict_api_key_ios.py
  auth/api-client/restrict_api_key_server.py
Labels: samples, snippet-bot:no-prefix-req

#9057 fix: migrate run markdown-preview sample to bleach 6
  run/markdown-preview/renderer/main.py
  run/markdown-preview/renderer/requirements.txt
Labels: automerge, api: run, samples

#9072 cleanup: Removing black from requirements
  batch/requirements.txt
Labels: samples, api: batch

#9049 include people-and-planet-ai in auto-label.yaml
  .github/auto-label.yaml
Labels: samples

#9085 fix: lint issue in appengine wsgi sample
  appengine/standard_python3/bundled-services/mail/wsgi/main_test.py
Labels: automerge, api: appengine, samples

#9076 chore: removed obsolete redirects from Vision, TTS
  texttospeech/cloud-client/.gitignore
  texttospeech/cloud-client/README.rst
  vision/cloud-client/README.md
Labels: automerge, api: texttospeech, samples

#9042 docs(samples): Changing machine type sample
  compute/client_library/ingredients/instances/change_machine_type.py
  compute/client_library/recipes/instances/change_machine_type.py
  compute/client_library/snippets/instances/change_machine_type.py
  compute/client_library/snippets/tests/test_instance_start_stop.py
Labels: automerge, api: compute, samples

#8883 Update BigQuery remote function for vision AI to be VPC-SC compliant
  bigquery/remote-function/vision/requirements-test.txt
  bigquery/remote-function/vision/requirements.txt
  bigquery/remote-function/vision/vision_function.py
  bigquery/remote-function/vision/vision_function_test.py
Labels: samples

#9077 chore(dialogflow-cx): migrate code from googleapis/python-dialogflow-cx
  .github/CODEOWNERS
  dialogflow-cx/README.rst
  dialogflow-cx/README.rst.in
  dialogflow-cx/create_agent.py
  dialogflow-cx/create_agent_test.py
  dialogflow-cx/detect_intent_audio.py
  dialogflow-cx/detect_intent_audio_test.py
  dialogflow-cx/detect_intent_disabled_webhook.py
  dialogflow-cx/detect_intent_disabled_webhook_test.py
  dialogflow-cx/detect_intent_event.py
  dialogflow-cx/detect_intent_event_test.py
  dialogflow-cx/detect_intent_stream.py
  dialogflow-cx/detect_intent_stream_test.py
  dialogflow-cx/detect_intent_synthesize_tts_response.py
  dialogflow-cx/detect_intent_synthesize_tts_response_test.py
  dialogflow-cx/detect_intent_texts.py
  dialogflow-cx/detect_intent_texts_test.py
  dialogflow-cx/detect_intent_with_intent_input.py
  dialogflow-cx/detect_intent_with_intent_input_test.py
  dialogflow-cx/detect_intent_with_sentiment_analysis.py
  dialogflow-cx/detect_intent_with_sentiment_analysis_test.py
  dialogflow-cx/list_testcase_results.py
  dialogflow-cx/list_testcase_results_test.py
  dialogflow-cx/list_training_phrases.py
  dialogflow-cx/list_training_phrases_test.py
  dialogflow-cx/long_running_operation.py
  dialogflow-cx/long_running_operation_test.py
  dialogflow-cx/noxfile_config.py
  dialogflow-cx/page_management.py
  dialogflow-cx/page_management_test.py
  dialogflow-cx/requirements-test.txt
  dialogflow-cx/requirements.txt
  dialogflow-cx/resources/hello.wav
  dialogflow-cx/streaming_detect_intent_partial_response.py
  dialogflow-cx/streaming_detect_intent_partial_response_test.py
  dialogflow-cx/update_intent.py
  dialogflow-cx/update_intent_test.py
  dialogflow-cx/webhook.py
  dialogflow-cx/webhook_configure_session_parameters.py
  dialogflow-cx/webhook_configure_session_parameters_test.py
  dialogflow-cx/webhook_log_session_info.py
  dialogflow-cx/webhook_log_session_info_test.py
  dialogflow-cx/webhook_prebuilt_telecom.py
  dialogflow-cx/webhook_prebuilt_telecom_test.py
  dialogflow-cx/webhook_test.py
  dialogflow-cx/webhook_validate_form_parameter.py
  dialogflow-cx/webhook_validate_form_parameter_test.py
Labels: api: dialogflow, samples

#9086 download server CA cert for tests
  cloud-sql/sql-server/sqlalchemy/connect_connector.py
  cloud-sql/sql-server/sqlalchemy/connect_tcp.py
  cloud-sql/sql-server/sqlalchemy/connection_test.py
  cloud-sql/sql-server/sqlalchemy/requirements-test.txt
Labels: api: cloudsql, samples

#8828 Add an example for Dataproc PySpark Hudi
  dataproc/snippets/pyspark_hudi.py
Labels: automerge, samples

#9087 chore: migrate cloud-sql to sqlalchemy 2
  cloud-sql/mysql/sqlalchemy/app.py
  cloud-sql/mysql/sqlalchemy/requirements.txt
  cloud-sql/postgres/sqlalchemy/app.py
  cloud-sql/postgres/sqlalchemy/requirements.txt
  cloud-sql/sql-server/sqlalchemy/app.py
  cloud-sql/sql-server/sqlalchemy/requirements.txt
Labels: automerge, api: cloudsql, samples

#9105 Round score to the first decimal
  recaptchaenterprise/samples/demosite/app/backend/create_recaptcha_assessment.py
Labels: samples

#9107 chore: update PPAI time series dependencies
  people-and-planet-ai/timeseries-classification/requirements-test.txt
  people-and-planet-ai/timeseries-classification/requirements.txt
Labels: samples, api: people-and-planet-ai

#9108 ci: use prebuilt docker image in presubmits
  .kokoro/docker/Dockerfile
  .kokoro/lint/common.cfg
  .kokoro/python2.7/common.cfg
  .kokoro/python3.10/common.cfg
  .kokoro/python3.7/common.cfg
  .kokoro/python3.8/common.cfg
  .kokoro/python3.9/common.cfg
  .trampolinerc
Labels: samples

#9109 Moving tests to regions with higher IP quota
  compute/api/create_instance_test.py
  compute/client_library/snippets/tests/test_custom_hostnames.py
  compute/client_library/snippets/tests/test_custom_types.py
  compute/client_library/snippets/tests/test_delete_protection.py
  compute/client_library/snippets/tests/test_disks.py
  compute/client_library/snippets/tests/test_images.py
  compute/client_library/snippets/tests/test_instance_from_template.py
  compute/client_library/snippets/tests/test_instance_start_stop.py
  compute/client_library/snippets/tests/test_instance_suspend_resume.py
  compute/client_library/snippets/tests/test_preemptible.py
  compute/client_library/snippets/tests/test_request_id.py
  compute/client_library/snippets/tests/test_snapshots.py
  compute/client_library/snippets/tests/test_spot_vms.py
  compute/client_library/snippets/tests/test_templates.py
  compute/load_balancing/test_certificates.py
Labels: api: compute, samples

#9112 chore: update the filesystem sample tests
  run/filesystem/cloudbuild.yaml
  run/filesystem/e2e_test.py
Labels: api: run, samples

#9094 Add Document AI as another BigQuery remote function example
  bigquery/remote-function/README.rst
  bigquery/remote-function/document/document_function.py
  bigquery/remote-function/document/document_function_test.py
  bigquery/remote-function/document/noxfile_config.py
  bigquery/remote-function/document/requirements-test.txt
  bigquery/remote-function/document/requirements.txt
Labels: api: bigquery, samples

#9122 chore(firestore): removing obsolete region tags
  firestore/cloud-client/snippets.py
Labels: api: firestore, samples

#9131 fix: restore python 3.11 in samples docker image
  .kokoro/docker/Dockerfile
Labels: samples

#9130 Add an optional DOCKER_COMPOSE_USER environment variable.
  recaptchaenterprise/samples/demosite/docker-compose.yaml
Labels: samples

#8992 docs(samples): Adding regional disk samples
  compute/client_library/ingredients/disks/attach_disk.py
  compute/client_library/ingredients/disks/resize_disk.py
  compute/client_library/recipes/disks/attach_disk.py
  compute/client_library/recipes/disks/resize_disk.py
  compute/client_library/snippets/disks/attach_disk.py
  compute/client_library/snippets/disks/resize_disk.py
  compute/client_library/snippets/tests/test_disks.py
Labels: api: compute, samples

#9124 Airflow DB Cleanup updates
  composer/workflows/airflow_db_cleanup.py
Labels: samples, api: workflows

#9142 fix: add kokoro config files for python 3.11
  .kokoro/python3.11/common.cfg
  .kokoro/python3.11/continuous.cfg
  .kokoro/python3.11/periodic.cfg
  .kokoro/python3.11/presubmit.cfg
Labels: samples

#9157 chore: remove unused `host` from URL in SQL Server samples
  cloud-sql/sql-server/client-side-encryption/snippets/cloud_sql_connection_pool.py
  cloud-sql/sql-server/sqlalchemy/connect_connector.py
  cloud-sql/sql-server/sqlalchemy/connection_test.py
Labels: api: cloudsql, samples

#9117 Remote function translate
  bigquery/remote-function/README.rst
  bigquery/remote-function/translate/main.py
  bigquery/remote-function/translate/main_test.py
  bigquery/remote-function/translate/noxfile_config.py
  bigquery/remote-function/translate/requirements-test.txt
  bigquery/remote-function/translate/requirements.txt
Labels: api: translate, samples

#9106 docs(demosite-recaptcha): add demosite v1
  recaptchaenterprise/samples/demosite/README.md
  recaptchaenterprise/samples/demosite/app/Dockerfile
  recaptchaenterprise/samples/demosite/app/backend/__init__.py
  recaptchaenterprise/samples/demosite/app/backend/create_recaptcha_assessment.py
  recaptchaenterprise/samples/demosite/app/init.sh
  recaptchaenterprise/samples/demosite/app/main.py
  recaptchaenterprise/samples/demosite/app/requirements.txt
  recaptchaenterprise/samples/demosite/app/static/browserconfig.xml
  recaptchaenterprise/samples/demosite/app/static/images/bot-color-unoptimized.svg
  recaptchaenterprise/samples/demosite/app/static/images/castle-alternate-unoptimized.svg
  recaptchaenterprise/samples/demosite/app/static/images/human-color-unoptimized.svg
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-120px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-128px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-144px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-150px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-152px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-16px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-180px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-192px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-196px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-310px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-32px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-512px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-64px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-70px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon-96px.png
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon.ico
  recaptchaenterprise/samples/demosite/app/static/images/icons/favicon.svg
  recaptchaenterprise/samples/demosite/app/static/images/item-hydrant-unoptimized.svg
  recaptchaenterprise/samples/demosite/app/static/images/item-stoplight-unoptimized.svg
  recaptchaenterprise/samples/demosite/app/static/images/land-unoptimized.svg
  recaptchaenterprise/samples/demosite/app/static/manifest.webmanifest
  recaptchaenterprise/samples/demosite/app/static/scripts/component.js
  recaptchaenterprise/samples/demosite/app/static/scripts/global.js
  recaptchaenterprise/samples/demosite/app/static/styles/global.css
  recaptchaenterprise/samples/demosite/app/static/styles/local.css
  recaptchaenterprise/samples/demosite/app/templates/comment.html
  recaptchaenterprise/samples/demosite/app/templates/game.html
  recaptchaenterprise/samples/demosite/app/templates/home.html
  recaptchaenterprise/samples/demosite/app/templates/login.html
  recaptchaenterprise/samples/demosite/app/templates/signup.html
  recaptchaenterprise/samples/demosite/app/templates/store.html
  recaptchaenterprise/samples/demosite/app/urls.py
  recaptchaenterprise/samples/demosite/docker-compose.yaml
Labels: samples

#9144 fix: call DLP API in the region of DataFlow job
  logging/redaction/README.md
  logging/redaction/log_redaction.py
  logging/redaction/log_redaction_final.py
Labels: type: feature request, samples, lang: python

#9141 fix failing Composer test
  composer/2022_airflow_summit/data_analytics_dag.py
  composer/2022_airflow_summit/data_analytics_dag_expansion.py
  composer/2022_airflow_summit/data_analytics_process_expansion_test.py
  composer/2022_airflow_summit/data_analytics_process_test.py
Labels: api: composer, samples

#9140 Add snippets for Media CDN - Dual Token Feature
  media_cdn/dualtoken.py
  media_cdn/dualtoken_test.py
Labels: samples, api: edgecache

#9160 fix(cloudsql): make connections commit as you go
  cloud-sql/mysql/sqlalchemy/app.py
  cloud-sql/postgres/sqlalchemy/app.py
  cloud-sql/sql-server/sqlalchemy/app.py
Labels: api: cloudsql, samples

#9162 Demosite app recaptcha
  recaptchaenterprise/samples/demosite/app/static/scripts/component.js
  recaptchaenterprise/samples/demosite/docker-compose.yaml
Labels: samples

#9161 fix flaky test: add httperror to backoff check
  jobs/v3/api_client/commute_search_sample_test.py
Labels: api: jobs, samples

#9123 Update example UDF to ES6 syntax and remove related warning
  dataflow/extensible-templates/dataflow_udf_transform.js
Labels: automerge, samples

#9166 Minor updates for Media CDN snippets
  media_cdn/dualtoken.py
  media_cdn/snippets.py
Labels: samples, api: edgecache

#9168 fix: Updated wait_for_ready to fix flacky tests
  kms/snippets/noxfile_config.py
  kms/snippets/snippets_test.py
Labels: automerge, api: cloudkms, samples

#9151 chore(testing): Enabling 3.11 version testing in noxfiles
  .kokoro/docker/Dockerfile
  .kokoro/python3.11/common.cfg
  .kokoro/python3.11/continuous.cfg
  .kokoro/python3.11/periodic.cfg
  .kokoro/python3.11/presubmit.cfg
  MAC_SETUP.md
  README.md
  appengine/flexible/django_cloudsql/requirements.txt
  appengine/flexible/scipy/noxfile_config.py
  appengine/flexible/scipy/requirements.txt
  appengine/standard/noxfile-template.py
  appengine/standard_python3/bigquery/noxfile_config.py
  appengine/standard_python3/cloud_debugger/noxfile_config.py
  appengine/standard_python3/cloudsql/requirements.txt
  appengine/standard_python3/django/requirements.txt
  bigquery/bqml/noxfile_config.py
  bigquery/datalab-migration/noxfile_config.py
  bigquery/pandas-gbq-migration/noxfile_config.py
  cloud-sql/mysql/client-side-encryption/noxfile_config.py
  cloud-sql/postgres/client-side-encryption/noxfile_config.py
  cloud-sql/sql-server/client-side-encryption/noxfile_config.py
  composer/2022_airflow_summit/constraints.txt
  composer/2022_airflow_summit/noxfile_config.py
  composer/airflow_1_samples/noxfile_config.py
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/constraints.txt
  composer/blog/gcp-tech-blog/data-orchestration-with-composer/noxfile_config.py
  composer/blog/gcp-tech-blog/unit-test-dags-cloud-build/noxfile_config.py
  composer/cicd_sample/constraints.txt
  composer/cicd_sample/noxfile_config.py
  composer/cicd_sample/utils/noxfile_config.py
  composer/workflows/constraints.txt
  composer/workflows/noxfile_config.py
  data-science-onramp/data-ingestion/noxfile_config.py
  data-science-onramp/data-processing/noxfile_config.py
  dataflow/custom-containers/miniconda/noxfile_config.py
  dataflow/custom-containers/minimal/noxfile_config.py
  dataflow/custom-containers/ubuntu/noxfile_config.py
  dataflow/encryption-keys/noxfile_config.py
  dataflow/extensible-templates/noxfile_config.py
  dataflow/flex-templates/streaming_beam/noxfile_config.py
  dataflow/gpu-examples/pytorch-minimal/noxfile_config.py
  dataflow/gpu-examples/tensorflow-landsat-prime/noxfile_config.py
  dataflow/gpu-examples/tensorflow-landsat/noxfile_config.py
  dataflow/gpu-examples/tensorflow-minimal/noxfile_config.py
  kubernetes_engine/django_tutorial/requirements.txt
  ml_engine/online_prediction/noxfile_config.py
  noxfile-template.py
  people-and-planet-ai/geospatial-classification/noxfile_config.py
  people-and-planet-ai/image-classification/noxfile_config.py
  people-and-planet-ai/land-cover-classification/noxfile_config.py
  people-and-planet-ai/timeseries-classification/noxfile_config.py
  pubsub/streaming-analytics/noxfile_config.py
  pubsublite/spark-connector/noxfile_config.py
  run/django/requirements.txt
Labels: api: composer, samples

#9169 docs(kms): Adding notes about required roles for running tests
  kms/snippets/README.md
  kms/snippets/snippets_test.py
Labels: api: cloudkms, samples

#9172 fix: vision test failures
  vision/AUTHORING_GUIDE.md
  vision/CONTRIBUTING.md
  vision/snippets/detect/detect_test.py
Labels: automerge, api: vision, samples

#9173 fix: update translate test string
  translate/samples/snippets/hybrid_glossaries/hybrid_tutorial_test.py
Labels: api: translate, samples

#9177 chore: Prepare Dockerfile for Recaptcha tests
  .kokoro/docker/Dockerfile
Labels: samples

#9167 fix(oslogin_tests): Making the test check if the firewall rule got removed
  compute/oslogin/oslogin_service_account_ssh.py
  compute/oslogin/oslogin_service_account_ssh_test.py
Labels: api: oslogin, samples

#8532 migrate code from googleapis/python-recaptcha-enterprise
  .github/CODEOWNERS
  .github/blunderbuss.yml
  recaptcha_enterprise/snippets/annotate_assessment.py
  recaptcha_enterprise/snippets/create_assessment.py
  recaptcha_enterprise/snippets/create_site_key.py
  recaptcha_enterprise/snippets/delete_site_key.py
  recaptcha_enterprise/snippets/get_metrics.py
  recaptcha_enterprise/snippets/get_site_key.py
  recaptcha_enterprise/snippets/list_site_keys.py
  recaptcha_enterprise/snippets/migrate_site_key.py
  recaptcha_enterprise/snippets/noxfile_config.py
  recaptcha_enterprise/snippets/requirements-test.txt
  recaptcha_enterprise/snippets/requirements.txt
  recaptcha_enterprise/snippets/templates/index.html
  recaptcha_enterprise/snippets/test_create_assessment.py
  recaptcha_enterprise/snippets/test_site_key.py
  recaptcha_enterprise/snippets/update_site_key.py
Labels: api: recaptchaenterprise, samples
