Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2024-07, with the labels that each got.

#11972 chore: remove get_job region tag from base_job_sample.py
  jobs/v3/api_client/base_job_sample.py
Labels: api: jobs, samples

#11963 chore: Update region tag
  datastore/cloud-ndb/quickstart.py
Labels: api: datastore, samples

#11995 Chore: Update datastore for GAE Flex to use new runtimes
  appengine/flexible/datastore/app.yaml
Labels: api: appengine, samples

#11973 chore: removes ndb_context_usage region tags
  datastore/cloud-ndb/quickstart.py
Labels: api: datastore, samples

#11996 fix: Gemini tuning samples don't support 1.5 Flash
  generative_ai/gemini_tuning.py
  generative_ai/gemini_tuning_test.py
Labels: samples

#11898 feat: create job with persistent disk sample
  batch/create/create_with_persistent_disk.py
  batch/tests/test_basics.py
Labels: samples, api: batch

#11998 fix(compute): Updating Debian 10 to Debian 12 in samples
  compute/client_library/ingredients/instances/create_instance_from_template_with_overrides.py
  compute/client_library/ingredients/instances/create_start_instance/create_from_public_image.py
  compute/client_library/ingredients/instances/create_start_instance/create_with_additional_disk.py
  compute/client_library/ingredients/instances/create_start_instance/create_with_local_ssd.py
  compute/client_library/ingredients/instances/create_start_instance/create_with_snapshotted_data_disk.py
  compute/client_library/ingredients/instances/create_with_subnet.py
  compute/client_library/ingredients/instances/custom_machine_types/create_extra_mem_no_helper.py
  compute/client_library/ingredients/instances/custom_machine_types/create_shared_with_helper.py
  compute/client_library/ingredients/instances/custom_machine_types/create_with_helper.py
  compute/client_library/ingredients/instances/custom_machine_types/create_without_helper.py
  compute/client_library/ingredients/instances/ip_address/assign_static_external_ip_to_new_vm.py
  compute/client_library/recipes/instances/create.py
  compute/client_library/snippets/instances/create.py
  compute/client_library/snippets/instances/create_start_instance/create_from_public_image.py
  compute/client_library/snippets/instances/create_start_instance/create_with_additional_disk.py
  compute/client_library/snippets/instances/create_start_instance/create_with_local_ssd.py
  compute/client_library/snippets/instances/create_start_instance/create_with_snapshotted_data_disk.py
  compute/client_library/snippets/instances/create_with_subnet.py
  compute/client_library/snippets/instances/custom_machine_types/create_shared_with_helper.py
  compute/client_library/snippets/instances/custom_machine_types/create_with_helper.py
  compute/client_library/snippets/instances/custom_machine_types/create_without_helper.py
  compute/client_library/snippets/instances/custom_machine_types/extra_mem_no_helper.py
  compute/client_library/snippets/instances/from_instance_template/create_from_template_with_overrides.py
  compute/client_library/snippets/instances/ip_address/assign_static_external_ip_to_new_vm.py
  compute/client_library/snippets/tests/test_custom_types.py
  compute/client_library/snippets/tests/test_instance_start_stop.py
  compute/client_library/snippets/tests/test_ip_address.py
Labels: api: compute, samples

#12001 Update scikit-xg-predict.py
  ml_engine/online_prediction/scikit-xg-predict.py
Labels: api: ml, samples

#11911 feat: batch create job with secret manager sample
  batch/create/create_with_secret_manager.py
  batch/tests/test_basics.py
Labels: samples, api: batch

#12015 chore(generative_ai): code clean up - remove unused code samples
  generative_ai/controlled_generation/controlled_generation_test.py
  generative_ai/controlled_generation/response_schema.py
Labels: samples

#12022 refactor(generative_ai): update gemini code samples
  generative_ai/function_calling.py
  generative_ai/gemini_all_modalities.py
  generative_ai/gemini_audio.py
  generative_ai/gemini_chat_example.py
  generative_ai/gemini_count_token_example.py
  generative_ai/gemini_grounding_example.py
  generative_ai/gemini_guide_example.py
  generative_ai/gemini_multi_image_example.py
  generative_ai/gemini_pdf_example.py
  generative_ai/gemini_pro_basic_example.py
  generative_ai/gemini_pro_config_example.py
  generative_ai/gemini_safety_config_example.py
  generative_ai/gemini_single_turn_video_example.py
  generative_ai/gemini_text_input_example.py
  generative_ai/gemini_video_audio.py
Labels: samples

#12026 refactor(generative_ai): clean up hidden variables in code samples
  generative_ai/README.md
  generative_ai/code_completion_function.py
  generative_ai/code_completion_function_test.py
  generative_ai/code_completion_test_function.py
  generative_ai/code_completion_test_function_test.py
  generative_ai/gemini_safety_config_example.py
  generative_ai/gemini_tuning.py
  generative_ai/gemini_tuning_test.py
  generative_ai/ideation.py
  generative_ai/ideation_test.py
  generative_ai/inference/inference_api_test.py
  generative_ai/inference/non_stream_multimodality_basic.py
  generative_ai/inference/non_stream_text_basic.py
  generative_ai/inference/stream_multimodality_basic.py
  generative_ai/inference/stream_text_basic.py
  generative_ai/multimodal_embedding_image.py
  generative_ai/multimodal_embedding_image_test.py
  generative_ai/multimodal_embedding_image_video_text.py
  generative_ai/multimodal_embedding_image_video_text_test.py
  generative_ai/multimodal_embedding_video.py
  generative_ai/multimodal_embedding_video_test.py
  generative_ai/test_gemini_examples.py
  generative_ai/tune_code_generation_model.py
  generative_ai/tune_code_generation_model_test.py
  generative_ai/tuning.py
  generative_ai/tuning_test.py
Labels: samples

#11994 Managed kafka code samples
  .github/CODEOWNERS
  managedkafka/snippets/clusters/clusters_test.py
  managedkafka/snippets/clusters/create_cluster.py
  managedkafka/snippets/clusters/delete_cluster.py
  managedkafka/snippets/clusters/get_cluster.py
  managedkafka/snippets/clusters/list_clusters.py
  managedkafka/snippets/clusters/update_cluster.py
  managedkafka/snippets/consumergroups/consumer_groups_test.py
  managedkafka/snippets/consumergroups/delete_consumer_group.py
  managedkafka/snippets/consumergroups/get_consumer_group.py
  managedkafka/snippets/consumergroups/list_consumer_groups.py
  managedkafka/snippets/consumergroups/update_consumer_group.py
  managedkafka/snippets/requirements.txt
  managedkafka/snippets/topics/create_topic.py
  managedkafka/snippets/topics/delete_topic.py
  managedkafka/snippets/topics/get_topic.py
  managedkafka/snippets/topics/list_topics.py
  managedkafka/snippets/topics/topics_test.py
  managedkafka/snippets/topics/update_topic.py
Labels: samples

#11958 samples(discoveryengine): Add Import Documents Samples for Google Cloud Sources
  discoveryengine/create_data_store_sample.py
  discoveryengine/documents_sample_test.py
  discoveryengine/import_documents_sample.py
Labels: samples, api: discoveryengine

#12035 Add chat completions credentials refresher code sample
  generative_ai/chat_completions/chat_completions_credentials_refresher.py
  generative_ai/chat_completions/chat_completions_test.py
Labels: samples

#12033 add samples for SCC v2 mute config rules
  securitycenter/snippets_v2/snippets_mute_config_v2.py
  securitycenter/snippets_v2/snippets_mute_config_v2_test.py
Labels: api: securitycenter, samples, automerge: exact

#12044 fix(sts): skip aws test with bucket quota limit
  storagetransfer/conftest.py
Labels: api: storagetransfer, samples

#12047 removed deprecated sample for stackdriver monitoring
  monitoring/api/v3/api-client/custom_metric.py
  monitoring/api/v3/api-client/custom_metric_test.py
Labels: api: monitoring, samples

#12059 docs: Remove duplicate region tags
  appengine/flexible_python37_and_earlier/tasks/snippets.py
Labels: api: appengine, samples

#12060 feat: Batch create job with custom status events sample
  batch/create/create_with_custom_status_events.py
  batch/requirements.txt
  batch/tests/test_basics.py
Labels: samples, api: batch

#12039 Add adapter_size in the advanced example
  generative_ai/gemini_tuning.py
Labels: samples

#12067 docs(generativeai): Add new region tags for code samples.
  generative_ai/anthropic_claude_3_streaming.py
  generative_ai/anthropic_claude_3_tool_use.py
  generative_ai/anthropic_claude_3_unary.py
  generative_ai/chat.py
  generative_ai/code_chat.py
  generative_ai/code_completion_function.py
  generative_ai/code_completion_function_test.py
  generative_ai/code_generation_function.py
  generative_ai/distillation.py
  generative_ai/embedding.py
  generative_ai/embedding_model_tuning.py
  generative_ai/evaluate_model.py
  generative_ai/grounding.py
  generative_ai/ideation.py
  generative_ai/ideation_test.py
  generative_ai/list_tuned_models.py
  generative_ai/multimodal_embedding_image.py
  generative_ai/multimodal_embedding_image_video_text.py
  generative_ai/multimodal_embedding_video.py
  generative_ai/streaming_text.py
  generative_ai/tune_code_generation_model.py
  generative_ai/tuning.py
Labels: samples

#12076 chore: update imagen model to latest version
  generative_ai/imagen/generate_image.py
Labels: samples

#12066 docs: Delete unused snippets file
  appengine/flexible_python37_and_earlier/tasks/snippets.py
Labels: api: appengine, samples

#12048 feat: Batch create job with Pub/Sub notification sample
  batch/create/create_with_pubsub_notifications.py
  batch/tests/test_basics.py
Labels: samples, api: batch

#12082 chore: cleanup unused region tags
  generative_ai/anthropic_claude_3_streaming.py
  generative_ai/anthropic_claude_3_tool_use.py
  generative_ai/anthropic_claude_3_unary.py
  generative_ai/chat.py
  generative_ai/code_chat.py
  generative_ai/code_completion_function.py
  generative_ai/code_generation_function.py
  generative_ai/distillation.py
  generative_ai/embedding.py
  generative_ai/embedding_model_tuning.py
  generative_ai/evaluate_model.py
  generative_ai/grounding.py
  generative_ai/ideation.py
  generative_ai/list_tuned_models.py
  generative_ai/multimodal_embedding_image.py
  generative_ai/multimodal_embedding_image_video_text.py
  generative_ai/multimodal_embedding_video.py
  generative_ai/streaming_text.py
  generative_ai/tune_code_generation_model.py
  generative_ai/tuning.py
Labels: samples

#12081 docs(compute): Updating packages
  compute/client_library/requirements-test.txt
  compute/client_library/requirements.txt
Labels: api: compute, samples

#12080 [fix] Optimize speech imports
  speech/snippets/adaptation_v2_custom_class_reference_test.py
  speech/snippets/adaptation_v2_inline_phrase_set_test.py
  speech/snippets/adaptation_v2_phrase_set_reference_test.py
  speech/snippets/change_speech_v2_location_test.py
  speech/snippets/create_recognizer_test.py
  speech/snippets/multi_region_test.py
  speech/snippets/requirements-test.txt
  speech/snippets/requirements.txt
  speech/snippets/speech_adaptation_beta.py
  speech/snippets/speech_adaptation_beta_test.py
  speech/snippets/speech_model_adaptation_beta.py
  speech/snippets/speech_model_adaptation_beta_test.py
  speech/snippets/speech_to_storage_beta.py
  speech/snippets/speech_to_storage_beta_test.py
  speech/snippets/transcribe_feature_in_recognizer_test.py
  speech/snippets/transcribe_override_recognizer_test.py
  speech/snippets/transcribe_reuse_recognizer_test.py
Labels: api: speech, samples

#12031 samples(generative-ai): Add Batch Embeddings Sample
  generative_ai/embedding_batch.py
  generative_ai/embedding_batch_test.py
Labels: samples, api: aiplatform

#12032 samples(discoveryengine): Add AlloyDB Import Sample
  discoveryengine/documents_sample_test.py
  discoveryengine/import_documents_sample.py
  discoveryengine/requirements.txt
Labels: samples, api: discoveryengine

#12087 feat: Add local count token example
  generative_ai/count_token/count_token_example.py
  generative_ai/count_token/count_token_example_test.py
  generative_ai/requirements.txt
Labels: samples

#12086 feat: added secret manager team in codeowners
  .github/CODEOWNERS
Labels: samples
