Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2024-06, with the labels that each got.

#11811 Gemini chat completion example
  generative_ai/chat_completions/chat_completions_test.py
  generative_ai/chat_completions/streaming_text.py
Labels: samples

#11809 feat(generative_ai): Add code completion example
  generative_ai/chat_completions/chat_completions_non_streaming_image.py
  generative_ai/chat_completions/chat_completions_non_streaming_text.py
  generative_ai/chat_completions/chat_completions_streaming_image.py
  generative_ai/chat_completions/chat_completions_streaming_text.py
  generative_ai/chat_completions/chat_completions_test.py
  generative_ai/requirements.txt
Labels: samples

#11829 feat(generative-ai): Add function calling examples for Chat Completions API
  generative_ai/chat_completions/chat_completions_function_calling_basic.py
  generative_ai/chat_completions/chat_completions_function_calling_config.py
  generative_ai/chat_completions/chat_completions_test.py
Labels: samples

#11831 refactor(generative-ai): Change region tags for chat completions api
  generative_ai/chat_completions/chat_completions_function_calling_basic.py
  generative_ai/chat_completions/chat_completions_function_calling_config.py
  generative_ai/chat_completions/chat_completions_non_streaming_image.py
  generative_ai/chat_completions/chat_completions_non_streaming_text.py
  generative_ai/chat_completions/chat_completions_streaming_image.py
  generative_ai/chat_completions/chat_completions_streaming_text.py
Labels: samples

#11836 feat: update quickstart samples to use the Gemini Flash model
  generative_ai/gemini_guide_example.py
  generative_ai/gemini_text_input_example.py
Labels: samples

#11846 chore: Move Document AI Samples for Layout Parser and Custom Extractor from `v1beta3` to `v1`
  documentai/snippets/handle_response_sample.py
  documentai/snippets/handle_response_sample_test.py
  documentai/snippets/handle_response_sample_v1beta3.py
  documentai/snippets/requirements.txt
Labels: samples, api: documentai

#11844 Update example to update deprecated modules
  composer/workflows/simple.py
Labels: api: composer, samples

#11847 add STT v2 API infinite streaming example Issue ##11596
  speech/microphone/requirements.txt
  speech/microphone/transcribe_streaming_infinite_v2.py
  speech/microphone/transcribe_streaming_infinite_v2_test.py
Labels: api: speech, samples

#11837 Asyncio sample
  functions/bigtable/main_async.py
  functions/bigtable/main_async_test.py
  functions/bigtable/requirements.txt
Labels: api: cloudfunctions, samples

#11843 feat(storagecontrol): add folder samples
  storagecontrol/conftest.py
  storagecontrol/create_folder.py
  storagecontrol/delete_folder.py
  storagecontrol/get_folder.py
  storagecontrol/list_folders.py
  storagecontrol/noxfile_config.py
  storagecontrol/rename_folder.py
  storagecontrol/requirements-test.txt
  storagecontrol/snippets_test.py
Labels: samples

#11853 fix: copy noxfile even if it already exists
  Makefile
Labels: samples

#11808 fix(compute): renaming region name
  compute/client_library/recipes/instances/ip_address/assign_static_external_ip_to_new_vm.py
  compute/client_library/snippets/instances/ip_address/assign_static_external_ip_to_new_vm.py
Labels: api: compute, samples

#11859 Remove duplicate region tag
  run/helloworld/Dockerfile
Labels: api: run, samples

#11332 There are typos in a comment and a log message #11294
  endpoints/getting-started/main.py
Labels: api: speech, samples, api: endpoints

#11834 fix: remove assertion for fixture ending
  iam/cloud-client/snippets/test_project_policies.py
  iam/cloud-client/snippets/test_service_account_key.py
Labels: api: iam, samples

#11842 fix: making tests more resistant to concurent running tests
  iam/cloud-client/snippets/test_roles.py
  iam/cloud-client/snippets/test_service_account.py
Labels: kokoro:force-run, api: iam, samples

#11870 samples(discoveryengine): Add Create/Delete Data Store Samples
  discoveryengine/create_data_store_sample.py
  discoveryengine/data_store_sample_test.py
  discoveryengine/delete_data_store_sample.py
  discoveryengine/requirements.txt
Labels: samples, api: discoveryengine

#11875 fix(generative_ai): Fixes version mismatch between pandas and numpy
  generative_ai/anthropic_claude_3_tool_use.py
  generative_ai/constraints.txt
Labels: samples

#11858 samples(generative-ai): Update Grounding Samples and remove Dimensions from MM Embeddings for Video
  generative_ai/gemini_grounding_example.py
  generative_ai/multimodal_embedding_image.py
  generative_ai/multimodal_embedding_image_video_text.py
  generative_ai/multimodal_embedding_video.py
  generative_ai/test_gemini_examples.py
Labels: samples

#11533 [issue-1788] added firedbase tests
  firestore/cloud-client/snippets.py
  firestore/cloud-client/snippets_test.py
Labels: api: firestore, samples

#11878 feat(generative-ai): Add context caching samples (2)
  generative_ai/context_caching/context_caching_test.py
  generative_ai/context_caching/delete_context_cache.py
  generative_ai/context_caching/get_context_cache.py
  generative_ai/context_caching/update_context_cache.py
  generative_ai/context_caching/use_context_cache.py
Labels: samples

#11877 feat(generative-ai): Add controlled generation samples
  generative_ai/controlled_generation/controlled_generation_test.py
  generative_ai/controlled_generation/response_mime_type.py
  generative_ai/controlled_generation/response_schema.py
Labels: samples

#11879 feat(generative-ai): update samples to Gemini Flash
  generative_ai/function_calling.py
  generative_ai/function_calling_chat.py
  generative_ai/gemini_chat_example.py
  generative_ai/gemini_count_token_example.py
  generative_ai/gemini_pro_config_example.py
  generative_ai/gemini_rapid_evaluation.py
  generative_ai/gemini_safety_config_example.py
  generative_ai/gemini_tuning.py
  generative_ai/rag.py
Labels: samples

#11873 Update example to use Claude Sonnet 3.5
  generative_ai/anthropic_claude_3_streaming.py
  generative_ai/anthropic_claude_3_streaming_test.py
  generative_ai/anthropic_claude_3_tool_use.py
  generative_ai/anthropic_claude_3_unary.py
  generative_ai/anthropic_claude_3_unary_test.py
Labels: samples

#11880 samples(discoveryengine): Add Create, List, Get, Delete Engine Samples
  discoveryengine/create_engine_sample.py
  discoveryengine/delete_engine_sample.py
  discoveryengine/engine_sample_test.py
  discoveryengine/get_engine_sample.py
  discoveryengine/list_engines_sample.py
  discoveryengine/search_sample.py
Labels: samples, api: discoveryengine

#11884 feat(generative-ai): Add more controlled generation examples
  generative_ai/controlled_generation/controlled_generation_test.py
  generative_ai/controlled_generation/response_mime_type.py
  generative_ai/controlled_generation/response_schema.py
Labels: samples

#11886 chore(CODEOWNERS): Add cloud-samples-reviewers as a global sample owner
  .github/CODEOWNERS
Labels: samples

#11885 samples(discoveryengine): Add Website Import
  discoveryengine/site_search_engine_sample.py
  discoveryengine/site_search_engine_sample_test.py
Labels: samples, api: discoveryengine

#11888 remove unused env_variables region tag
  appengine/standard/mailjet/app.yaml
Labels: api: appengine, samples

#11889 fix: Adding region tag with product prefix
  jobs/v3/api_client/commute_search_sample.py
Labels: api: jobs, samples

#11890 chore: add job prefix to job sample
  jobs/v3/api_client/base_job_sample.py
  jobs/v3/api_client/commute_search_sample.py
Labels: api: jobs, samples

#11896 Adding container region tag
  kubernetes_engine/django_tutorial/polls.yaml
Labels: Fixit, api: container, samples

#11899 chore: fix a typo in monitoring/snippets/v3/cloud-client/quickstart.py
  monitoring/snippets/v3/cloud-client/quickstart.py
Labels: api: monitoring, samples

#11910 Removing old 'service' region tag.
  kubernetes_engine/django_tutorial/polls.yaml
Labels: Fixit, api: container, samples

#11902 Add compute_create_instance region tag
  compute/api/create_instance.py
Labels: Fixit, api: compute, samples

#11887 Add user configurable embedding model and quota (LlamaIndex on Vertex AI for RAG)
  generative_ai/rag.py
Labels: samples

#11913 feat(storagecontrol): add managed folders samples
  storagecontrol/conftest.py
  storagecontrol/managed_folder_create.py
  storagecontrol/managed_folder_delete.py
  storagecontrol/managed_folder_get.py
  storagecontrol/managed_folder_list.py
  storagecontrol/snippets_test.py
Labels: samples

#11924 chore(appengine): remove region tag: add_listener
  appengine/standard/firebase/firetactoe/static/main.js
Labels: Fixit, api: appengine, samples

#11933 chore: Update CODEOWNERS to add SCC team
  .github/CODEOWNERS
Labels: samples

#11916 chore: remove unused sample
  appengine/standard/django/README.md
  appengine/standard/django/app.yaml
  appengine/standard/django/appengine_config.py
  appengine/standard/django/manage.py
  appengine/standard/django/mysite/__init__.py
  appengine/standard/django/mysite/settings.py
  appengine/standard/django/mysite/urls.py
  appengine/standard/django/mysite/wsgi.py
  appengine/standard/django/noxfile_config.py
  appengine/standard/django/polls/__init__.py
  appengine/standard/django/polls/admin.py
  appengine/standard/django/polls/models.py
  appengine/standard/django/polls/test_polls.py
  appengine/standard/django/polls/views.py
  appengine/standard/django/requirements-test.txt
  appengine/standard/django/requirements-vendor.txt
  appengine/standard/django/requirements.txt
Labels: Fixit, api: appengine, samples

#11914 fix: remove unused region tags
  appengine/standard_python3/django/app.yaml
  appengine/standard_python3/django/mysite/settings.py
Labels: Fixit, api: appengine, samples

#11935 chore: Update region tags
  compute/api/create_instance.py
Labels: automerge, api: compute, samples

#11937 Remove old create_instance region tag
  compute/api/create_instance.py
Labels: api: compute, samples

#11936 chore: remove sample tts_synthesize_text_file
  language/v2/language_classify_gcs.py
  language/v2/language_classify_text.py
  language/v2/language_entities_gcs.py
  language/v2/language_entities_text.py
  language/v2/language_sentiment_gcs.py
  language/v2/language_sentiment_text.py
  texttospeech/snippets/synthesize_file.py
  texttospeech/snippets/synthesize_file_test.py
Labels: api: texttospeech, api: language, samples

#11939 chore: Remove old region tag as part of migration
  compute/api/create_instance.py
Labels: automerge

#11938 chore: Migrate region tags
  endpoints/getting-started/deployment.yaml
  endpoints/kubernetes/k8s-grpc-bookstore.yaml
Labels: automerge

#11893 feat: create gpu job sample
  batch/create/create_gpu_with_script_no_mounting.py
  batch/create/create_with_gpu_no_mounting.py
  batch/tests/test_basics.py
  batch/tests/test_bucket.py
  batch/tests/test_template.py
Labels: samples, api: batch

#11909 feat: batch create job with service account
  batch/create/create_with_service_account.py
  batch/tests/test_basics.py
Labels: samples, api: batch

#11947 chore: Remove unused region tags
  endpoints/getting-started/deployment.yaml
  endpoints/kubernetes/k8s-grpc-bookstore.yaml
Labels: automerge, samples, api: endpoints

#11955 Chore: Add new region tag
  jobs/v3/api_client/quickstart.py
Labels: api: jobs, samples

#11956 Chore: Update region tag
  jobs/v3/api_client/quickstart.py
Labels: api: jobs, samples

#11895 feat: create batch with local ssd
  batch/create/create_with_ssd.py
  batch/tests/test_basics.py
Labels: samples, api: batch

#11954 Reference GA embedding tuning SDK instead of preview
  generative_ai/embedding_model_tuning.py
  generative_ai/requirements.txt
Labels: automerge, samples

#11959 fix: removed old region tag
  jobs/v3/api_client/commute_search_sample.py
Labels: api: jobs, samples
