Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2024-12, with the labels that each got.

#12705 feat: TPU Create with spot
  tpu/create_tpu_spot.py
Labels: samples

#12796 feat: New Consistency group Samples : Add Disk, List Disks, Remove Disk
  compute/client_library/ingredients/disks/сonsistency_groups/add_disk_consistency_group.py
  compute/client_library/ingredients/disks/сonsistency_groups/list_disks_consistency_group.py
  compute/client_library/ingredients/disks/сonsistency_groups/remove_disk_consistency_group.py
  compute/client_library/recipes/disks/сonsistency_groups/add_disk_consistency_group.py
  compute/client_library/recipes/disks/сonsistency_groups/list_disks_consistency_group.py
  compute/client_library/recipes/disks/сonsistency_groups/remove_disk_consistency_group.py
  compute/client_library/snippets/disks/сonsistency_groups/add_disk_consistency_group.py
  compute/client_library/snippets/disks/сonsistency_groups/list_disks_consistency_group.py
  compute/client_library/snippets/disks/сonsistency_groups/remove_disk_consistency_group.py
  compute/client_library/snippets/tests/test_consistency_groups.py
  compute/client_library/snippets/tests/test_disks.py
Labels: api: compute, samples

#12791 fix: more realistic text embeddings in Firestore vector search examples
  firestore/cloud-client/vector_search.py
  firestore/cloud-client/vector_search_test.py
Labels: api: firestore, samples

#12805 feat: Samples for start/stop Disk Asynchronous Replication
  compute/client_library/ingredients/disks/replication_disk_start.py
  compute/client_library/ingredients/disks/replication_disk_stop.py
  compute/client_library/recipes/disks/replication_disk_start.py
  compute/client_library/recipes/disks/replication_disk_stop.py
  compute/client_library/snippets/disks/replication_disk_start.py
  compute/client_library/snippets/disks/replication_disk_stop.py
  compute/client_library/snippets/tests/test_disks.py
Labels: api: compute, samples

#12789 chore(speech): Delete Sample: speech_adaptation_beta for Speech-to-Text
  speech/snippets/speech_adaptation_beta.py
  speech/snippets/speech_adaptation_beta_test.py
Labels: api: speech, samples

#12820 chore(job): migrate region step 1 - add new region job_auto_complete_job_title
  jobs/v3/api_client/auto_complete_sample.py
Labels: api: jobs, samples

#12974 chore(dataflow): bump version to resolve dependency error
  dataflow/flex-templates/getting_started/requirements.txt
Labels: api: dataflow, samples

#12971 chore: update Django dependencies
  appengine/flexible/django_cloudsql/requirements.txt
  appengine/flexible/hello_world_django/requirements.txt
  appengine/flexible_python37_and_earlier/django_cloudsql/requirements.txt
  appengine/flexible_python37_and_earlier/hello_world_django/requirements.txt
  appengine/standard_python3/django/requirements.txt
  kubernetes_engine/django_tutorial/requirements.txt
  run/django/requirements.txt
Labels: api: appengine, api: run, api: container, samples

#12973 test(privateca): cleanup policies created during testing
  privateca/snippets/monitor_certificate_authority.py
  privateca/snippets/test_certificate_authorities.py
Labels: samples, api: security-privateca

#12814 feat(opencensus)!: remove OpenCensus samples
  opencensus/README.md
  opencensus/metrics_quickstart.py
  opencensus/metrics_quickstart_test.py
  opencensus/requirements-test.txt
  opencensus/requirements.txt
Labels: samples

#12981 chore: Update blunderbuss.yml
  .github/blunderbuss.yml
Labels: samples

#12978 Update supervised_advanced_example.py to support byosa and cmek
  generative_ai/model_tuning/supervised_advanced_example.py
Labels: samples

#12976 chore(job): migrate regions part 1 and delete region tag 'instantiate' for jobs/v3/api_client/
  jobs/v3/api_client/auto_complete_sample.py
  jobs/v3/api_client/base_company_sample.py
  jobs/v3/api_client/base_job_sample.py
  jobs/v3/api_client/batch_operation_sample.py
  jobs/v3/api_client/commute_search_sample.py
  jobs/v3/api_client/custom_attribute_sample.py
Labels: api: jobs, samples

#12802 chore(datastore): migrate region step 1 - add new region datastore_ndb_django_middleware
  datastore/cloud-ndb/django_middleware.py
Labels: api: datastore, samples

#12992 chore: Update blunderbuss.yml
  .github/blunderbuss.yml
Labels: samples

#12982 feat: Create regional replicated Sample
  compute/client_library/ingredients/disks/create_replicated_disk.py
  compute/client_library/recipes/disks/create_replicated_disk.py
  compute/client_library/snippets/disks/create_replicated_disk.py
  compute/client_library/snippets/tests/test_disks.py
Labels: api: compute, samples

#12989 chore(endpoints): add region tag endpoints_secret_1
  endpoints/kubernetes/k8s-grpc-bookstore.yaml
Labels: samples, api: endpoints

#12999 chore(gke): migrate region step 1 - update region kubernetes_deployment to gke_kubernetes_deployment
  kubernetes_engine/django_tutorial/polls.yaml
Labels: api: container, samples

#12984 feat: Consistency group clone sample
  compute/client_library/ingredients/disks/сonsistency_groups/clone_disks_consistency_group.py
  compute/client_library/recipes/disks/сonsistency_groups/clone_disks_consistency_group.py
  compute/client_library/requirements.txt
  compute/client_library/snippets/disks/сonsistency_groups/clone_disks_consistency_group.py
  compute/client_library/snippets/tests/test_disks.py
Labels: api: compute, samples

#12985 feat: Created Stop replication consistency group sample
  compute/client_library/ingredients/disks/сonsistency_groups/remove_disk_consistency_group.py
  compute/client_library/ingredients/disks/сonsistency_groups/stop_replication_consistency_group.py
  compute/client_library/recipes/disks/сonsistency_groups/stop_replication_consistency_group.py
  compute/client_library/snippets/disks/сonsistency_groups/stop_replication_consistency_group.py
  compute/client_library/snippets/tests/test_consistency_groups.py
  compute/client_library/snippets/tests/test_disks.py
Labels: api: compute, samples

#12991 feat: New compute sample - attach regional disk to instance.
  compute/client_library/ingredients/disks/attach_regional_disk_to_vm.py
  compute/client_library/recipes/disks/attach_regional_disk_to_vm.py
  compute/client_library/snippets/disks/attach_regional_disk_to_vm.py
  compute/client_library/snippets/tests/test_disks.py
Labels: api: compute, samples

#13003 feat: Compute create replicated boot disk Sample
  compute/client_library/ingredients/instances/create_start_instance/create_with_regional_disk.py
  compute/client_library/recipes/instances/create_start_instance/create_with_regional_disk.py
  compute/client_library/snippets/instances/create_start_instance/create_with_regional_disk.py
  compute/client_library/snippets/tests/test_create_vm.py
Labels: api: compute, samples

#13006 chore(endpoints): remove old region tag secrets-1
  endpoints/kubernetes/k8s-grpc-bookstore.yaml
Labels: samples, api: endpoints

#13008 feat: Attach regional disk force sample
  compute/client_library/ingredients/disks/attach_regional_disk_force.py
  compute/client_library/recipes/disks/attach_regional_disk_force.py
  compute/client_library/snippets/disks/attach_regional_disk_force.py
  compute/client_library/snippets/tests/test_disks.py
Labels: api: compute, samples

#13007 feat(genai):add new samples for prompt templating
  generative_ai/prompts/prompt_create.py
  generative_ai/prompts/prompt_delete.py
  generative_ai/prompts/prompt_get.py
  generative_ai/prompts/prompt_list_prompts.py
  generative_ai/prompts/prompt_list_version.py
  generative_ai/prompts/prompt_restore_version.py
  generative_ai/prompts/requirements.txt
  generative_ai/prompts/test_prompt_template.py
Labels: samples

#13013 chore: add translate dev team for translate samples
  .github/CODEOWNERS
Labels: samples

#13014 feat: MIG create and delete samples
  compute/client_library/ingredients/instances/managed_instance_group/create.py
  compute/client_library/ingredients/instances/managed_instance_group/delete.py
  compute/client_library/recipes/instances/managed_instance_group/create.py
  compute/client_library/recipes/instances/managed_instance_group/delete.py
  compute/client_library/snippets/instances/managed_instance_group/create.py
  compute/client_library/snippets/instances/managed_instance_group/delete.py
  compute/client_library/snippets/tests/test_instance_group.py
Labels: api: compute, samples

#13016 chore(endpoints): migrate regions step 1 - in openapi-appengine.yaml
  endpoints/getting-started/openapi.yaml
Labels: samples, api: endpoints

#13015 chore(endpoints): migrate regions in endpoints/getting-started/openapi-appengine.yaml
  endpoints/getting-started/openapi-appengine.yaml
Labels: samples, api: endpoints
