Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2024-01, with the labels that each got.

#11091 Composer db cleanup dag
  composer/workflows/airflow_db_cleanup.py
Labels: api: composer, samples

#11096 Add example of datastore with v2 functions.
  functions/v2/datastore/hello-datastore/main.py
  functions/v2/datastore/hello-datastore/main_test.py
  functions/v2/datastore/hello-datastore/requirements-test.txt
  functions/v2/datastore/hello-datastore/requirements.txt
Labels: automerge, api: cloudfunctions, samples

#11113 docs(samples): Update access secret version and add secret version sample to include `import google_crc32c`
  secretmanager/snippets/access_secret_version.py
  secretmanager/snippets/add_secret_version.py
Labels: api: secretmanager, samples

#11117 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: samples

#11104 docs(samples): Add Dataflow to Pub/Sub snippet
  dataflow/snippets/batch_write_storage.py
  dataflow/snippets/noxfile_config.py
  dataflow/snippets/tests/test_batch_write_storage.py
  dataflow/snippets/tests/test_write_pubsub.py
  dataflow/snippets/write_pubsub.py
Labels: samples

#11112 Update create_image_from_disk() to specify only the instance_name instead of the ful…
  compute/client_library/ingredients/images/create.py
  compute/client_library/snippets/images/create.py
Labels: api: compute, samples

#11127 fix: update hello image reference to Artifact Registry hosted version
  auth/service-to-service/auth_test.py
Labels: samples, api: auth

#11126 chore: use markupsafe instead of flask's escape to make sample compat…
  functions/helloworld/main.py
  functions/helloworld/requirements.txt
Labels: api: cloudfunctions, samples

#11124 fix: run/service-auth - ensure token decoded before use
  run/service-auth/receive_test.py
Labels: api: run, samples

#11035 fix(airflow_db_cleanup): sessions cleanup
  composer/workflows/airflow_db_cleanup.py
Labels: api: composer, samples
