Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2024-08, with the labels that each got.

#12083 Updated tags for OpenAI credentials refresher.
  generative_ai/chat_completions/chat_completions_credentials_refresher.py
Labels: automerge, samples

#12063 Remove execute/assessment from homepage load.
  recaptcha_enterprise/demosite/app/config.ini
  recaptcha_enterprise/demosite/app/main.py
  recaptcha_enterprise/demosite/app/static/demo-2af4c10e.js
  recaptcha_enterprise/demosite/app/templates/comment.html
  recaptcha_enterprise/demosite/app/templates/home.html
  recaptcha_enterprise/demosite/app/templates/login.html
  recaptcha_enterprise/demosite/app/templates/signup.html
  recaptcha_enterprise/demosite/app/templates/store.html
  recaptcha_enterprise/demosite/app/urls.py
Labels: api: recaptchaenterprise, samples, asset: flagship

#11957 feat: added Samples for labels
  secretmanager/snippets/create_secret_with_labels.py
  secretmanager/snippets/create_update_secret_label.py
  secretmanager/snippets/delete_secret_label.py
  secretmanager/snippets/snippets_test.py
  secretmanager/snippets/view_secret_labels.py
Labels: api: secretmanager, samples

#12098 Added separate doc tags for OpenAI credentials refresher sample (needed due to indentation issue when being used in the official docs).
  generative_ai/chat_completions/chat_completions_credentials_refresher.py
Labels: automerge, samples

#12088 feat: Batch create job with NFS sample
  batch/create/create_with_nfs.py
  batch/tests/test_basics.py
Labels: samples, api: batch

#12102 fix(jobs): updating region_tag with product prefix
  jobs/v3/api_client/custom_attribute_sample.py
Labels: api: jobs, samples

#12071 Simplify speech samples
  speech/snippets/adaptation_v2_custom_class_reference.py
  speech/snippets/adaptation_v2_custom_class_reference_test.py
  speech/snippets/adaptation_v2_inline_custom_class.py
  speech/snippets/adaptation_v2_inline_custom_class_test.py
  speech/snippets/adaptation_v2_inline_phrase_set.py
  speech/snippets/adaptation_v2_inline_phrase_set_test.py
  speech/snippets/adaptation_v2_phrase_set_reference.py
  speech/snippets/adaptation_v2_phrase_set_reference_test.py
  speech/snippets/beta_snippets_test.py
  speech/snippets/change_speech_v2_location.py
  speech/snippets/change_speech_v2_location_test.py
  speech/snippets/create_recognizer.py
  speech/snippets/create_recognizer_test.py
  speech/snippets/enable_cmek.py
  speech/snippets/enable_cmek_test.py
  speech/snippets/profanity_filter.py
  speech/snippets/quickstart_v2.py
  speech/snippets/quickstart_v2_test.py
  speech/snippets/speech_model_adaptation_beta.py
  speech/snippets/speech_model_adaptation_beta_test.py
  speech/snippets/speech_to_storage_beta.py
  speech/snippets/speech_to_storage_beta_test.py
  speech/snippets/transcribe_async_file.py
  speech/snippets/transcribe_async_file_test.py
  speech/snippets/transcribe_async_gcs.py
  speech/snippets/transcribe_async_gcs_test.py
  speech/snippets/transcribe_auto_punctuation.py
  speech/snippets/transcribe_auto_punctuation_test.py
  speech/snippets/transcribe_auto_punctuation_v2.py
  speech/snippets/transcribe_auto_punctuation_v2_test.py
Labels: api: speech, samples

#12104 fix(appengine): removing unused sample that is not included in docs.
  appengine/standard/migration/taskqueue/counter/README.md
  appengine/standard/migration/taskqueue/counter/app.yaml
  appengine/standard/migration/taskqueue/counter/app3.yaml
  appengine/standard/migration/taskqueue/counter/appengine_config.py
  appengine/standard/migration/taskqueue/counter/main-test.py
  appengine/standard/migration/taskqueue/counter/main.py
  appengine/standard/migration/taskqueue/counter/requirements-test.txt
  appengine/standard/migration/taskqueue/counter/requirements.txt
  appengine/standard/migration/taskqueue/counter/templates/counter.html
Labels: api: appengine, samples

#12105 chore: Remove quota project from API key auth sample.
  auth/api-client/api_key_test.py
  auth/api-client/authenticate_with_api_key.py
Labels: samples, api: auth

#12115 docs: Fix comment
  cloud_tasks/http_queues/send_task_to_http_queue.py
Labels: api: tasks, samples

#12110 Simplified 5 speech samples (set-1)
  speech/snippets/transcribe_batch_dynamic_batching_v2.py
  speech/snippets/transcribe_batch_dynamic_batching_v2_test.py
  speech/snippets/transcribe_batch_gcs_input_gcs_output_v2.py
  speech/snippets/transcribe_batch_gcs_input_gcs_output_v2_test.py
  speech/snippets/transcribe_batch_gcs_input_inline_output_v2.py
  speech/snippets/transcribe_batch_gcs_input_inline_output_v2_test.py
  speech/snippets/transcribe_batch_multiple_files_v2.py
  speech/snippets/transcribe_batch_multiple_files_v2_test.py
  speech/snippets/transcribe_chirp_auto_detect_language.py
  speech/snippets/transcribe_chirp_auto_detect_language_test.py
Labels: api: speech, samples

#12161 fix(kms): align sample to other languages
  kms/snippets/create_key_for_import.py
Labels: api: cloudkms, samples

#12122 chore: update Django samples to 5.1 (Python 3.10+)
  appengine/flexible/django_cloudsql/mysite/settings.py
  appengine/flexible/django_cloudsql/polls/urls.py
  appengine/flexible/django_cloudsql/requirements.txt
  appengine/flexible/hello_world_django/project_name/urls.py
  appengine/flexible/hello_world_django/requirements.txt
  appengine/flexible_python37_and_earlier/django_cloudsql/polls/urls.py
  appengine/flexible_python37_and_earlier/django_cloudsql/requirements.txt
  appengine/flexible_python37_and_earlier/hello_world_django/project_name/urls.py
  appengine/flexible_python37_and_earlier/hello_world_django/requirements.txt
  appengine/standard_python3/bundled-services/blobstore/django/requirements.txt
  appengine/standard_python3/bundled-services/deferred/django/requirements.txt
  appengine/standard_python3/bundled-services/mail/django/main.py
  appengine/standard_python3/bundled-services/mail/django/requirements.txt
  appengine/standard_python3/django/requirements.txt
  kubernetes_engine/django_tutorial/requirements.txt
  run/django/mysite/settings.py
  run/django/requirements.txt
Labels: api: appengine, api: run, api: container, samples

#12207 Removed GenerationConfig settings that are unrelated to safety
  generative_ai/gemini_safety_config_example.py
Labels: samples

#12121 samples(discoveryengine): Updates to VAIS Data Store Samples
  discoveryengine/create_data_store_sample.py
  discoveryengine/create_engine_sample.py
  discoveryengine/data_store_sample_test.py
  discoveryengine/documents_sample_test.py
  discoveryengine/get_data_store_sample.py
  discoveryengine/import_documents_sample.py
  discoveryengine/list_data_stores_sample.py
  discoveryengine/purge_documents_sample.py
  discoveryengine/requirements.txt
  discoveryengine/site_search_engine_sample.py
  documentai/snippets/batch_process_documents_sample.py
  documentai/snippets/evaluate_processor_version_sample.py
Labels: samples, api: discoveryengine

#12256 Fix: Changes Submission API Code Sample to use LRO id.
  webrisk/snippets/submit_uri.py
  webrisk/snippets/test_basic_samples.py
Labels: api: webrisk, samples

#12019 feat(scc): add v2 samples for Notification config
  securitycenter/snippets_v2/snippets_notification_configs_v2.py
  securitycenter/snippets_v2/snippets_notification_v2_test.py
Labels: api: securitycenter, samples

#12159 docs: Create set_undefined_finding sample
  securitycenter/snippets/snippets_mute_config.py
  securitycenter/snippets/snippets_mute_config_test.py
Labels: api: securitycenter, samples

#12011 feat(scc): add v2 samples for Sources, mute, findings, IAM permissions and security marks
  securitycenter/snippets_v2/mute_findings_v2.py
  securitycenter/snippets_v2/mute_findings_v2_test.py
  securitycenter/snippets_v2/noxfile_config.py
  securitycenter/snippets_v2/requirements.txt
  securitycenter/snippets_v2/snippets_findings_v2.py
  securitycenter/snippets_v2/snippets_findings_v2_test.py
  securitycenter/snippets_v2/snippets_mute_config_v2.py
  securitycenter/snippets_v2/snippets_mute_config_v2_test.py
  securitycenter/snippets_v2/snippets_security_marks_v2.py
  securitycenter/snippets_v2/snippets_security_marks_v2_test.py
  testing/test-env.tmpl.sh
Labels: api: securitycenter, samples

#11881 Add Gemma Flex Template example
  dataflow/conftest.py
  dataflow/gemma-flex-template/Dockerfile
  dataflow/gemma-flex-template/README.md
  dataflow/gemma-flex-template/custom_model_gemma.py
  dataflow/gemma-flex-template/e2e_test.py
  dataflow/gemma-flex-template/metadata.json
  dataflow/gemma-flex-template/noxfile_config.py
  dataflow/gemma-flex-template/requirements-test.txt
  dataflow/gemma-flex-template/requirements.txt
Labels: samples

#12013 docs(samples): Add Kafka to Dataflow snippet
  dataflow/snippets/Dockerfile
  dataflow/snippets/batch_write_storage.py
  dataflow/snippets/read_kafka.py
  dataflow/snippets/requirements-test.txt
  dataflow/snippets/requirements.txt
  dataflow/snippets/tests/test_batch_write_storage.py
  dataflow/snippets/tests/test_read_kafka.py
Labels: samples

#12447 refactor(generative_ai): (set-4) Refactored GenAI Samples
  generative_ai/multimodal_embedding_image.py
  generative_ai/multimodal_embedding_image_video_text.py
  generative_ai/multimodal_embedding_video.py
  generative_ai/rag.py
  generative_ai/rag_test.py
  generative_ai/sentiment_analysis.py
  generative_ai/sentiment_analysis_test.py
  generative_ai/streaming_chat.py
  generative_ai/streaming_chat_test.py
  generative_ai/streaming_code.py
  generative_ai/streaming_code_test.py
  generative_ai/streaming_codechat.py
  generative_ai/streaming_codechat_test.py
  generative_ai/streaming_text.py
  generative_ai/streaming_text_test.py
  generative_ai/summarization.py
  generative_ai/summarization_test.py
  generative_ai/tune_code_generation_model.py
  generative_ai/tune_code_generation_model_test.py
  generative_ai/tuning.py
Labels: samples

#12456 feat(generativeai): update controlled generation
  generative_ai/controlled_generation/controlled_generation_test.py
  generative_ai/controlled_generation/response_schema.py
Labels: samples

#12303 adding cloud pickle in requirements
  generative_ai/gemini_reasoning_engine.py
Labels: samples

#12471 fix:added regional samples for SM
  secretmanager/snippets/regional_samples/__init__.py
  secretmanager/snippets/regional_samples/create_regional_secret.py
  secretmanager/snippets/regional_samples/delete_regional_secret.py
  secretmanager/snippets/regional_samples/get_regional_secret.py
  secretmanager/snippets/regional_samples/regional_quickstart.py
  secretmanager/snippets/regional_samples/snippets_test.py
  secretmanager/snippets/regional_samples/update_regional_secret.py
  secretmanager/snippets/requirements.txt
Labels: api: secretmanager, samples

#12478 Regional samples 3
  secretmanager/snippets/regional_samples/__init__.py
  secretmanager/snippets/regional_samples/access_regional_secret_version.py
  secretmanager/snippets/regional_samples/add_regional_secret_version.py
  secretmanager/snippets/regional_samples/create_regional_secret.py
  secretmanager/snippets/regional_samples/delete_regional_secret.py
  secretmanager/snippets/regional_samples/delete_regional_secret_with_etag.py
  secretmanager/snippets/regional_samples/destroy_regional_secret_version.py
  secretmanager/snippets/regional_samples/destroy_regional_secret_version_with_etag.py
  secretmanager/snippets/regional_samples/disable_regional_secret_version.py
  secretmanager/snippets/regional_samples/disable_regional_secret_version_with_etag.py
  secretmanager/snippets/regional_samples/enable_regional_secret_version.py
  secretmanager/snippets/regional_samples/enable_regional_secret_version_with_etag.py
  secretmanager/snippets/regional_samples/get_regional_secret.py
  secretmanager/snippets/regional_samples/get_regional_secret_version.py
  secretmanager/snippets/regional_samples/regional_quickstart.py
  secretmanager/snippets/regional_samples/snippets_test.py
  secretmanager/snippets/regional_samples/update_regional_secret.py
  secretmanager/snippets/regional_samples/update_regional_secret_with_etag.py
Labels: api: secretmanager, samples

#12089 fix: Text-Embedding Model Serving demo.
  generative_ai/embedding_preview.py
  generative_ai/embedding_test.py
Labels: samples

#12316 Simplified speech samples (set-4)
  speech/snippets/transcribe.py
  speech/snippets/transcribe_multichannel.py
  speech/snippets/transcribe_multichannel_v2.py
  speech/snippets/transcribe_multichannel_v2_test.py
  speech/snippets/transcribe_multiple_languages_v2.py
  speech/snippets/transcribe_multiple_languages_v2_test.py
  speech/snippets/transcribe_override_recognizer.py
  speech/snippets/transcribe_override_recognizer_test.py
  speech/snippets/transcribe_profanity_filter_v2.py
  speech/snippets/transcribe_profanity_filter_v2_test.py
  speech/snippets/transcribe_reuse_recognizer.py
  speech/snippets/transcribe_reuse_recognizer_test.py
Labels: api: speech, samples

#12402 refactor(generative_ai): (set-3) Reduced hidden variables and refactored code in GenAI Samples
  generative_ai/code_generation_function.py
  generative_ai/code_generation_function_test.py
  generative_ai/controlled_generation/response_schema.py
  generative_ai/gemini_guide_example.py
  generative_ai/gemini_multi_image_example.py
  generative_ai/gemini_pdf_example.py
  generative_ai/gemini_pro_basic_example.py
  generative_ai/gemini_pro_config_example.py
  generative_ai/gemini_rapid_evaluation.py
  generative_ai/gemini_rapid_evaluation_test.py
  generative_ai/gemini_reasoning_engine.py
  generative_ai/gemini_reasoning_engine_test.py
  generative_ai/gemini_single_turn_video_example.py
  generative_ai/gemini_system_instruction.py
  generative_ai/gemini_text_input_example.py
  generative_ai/gemini_tuning.py
  generative_ai/gemini_video_audio.py
  generative_ai/grounding.py
  generative_ai/grounding_test.py
  generative_ai/ideation.py
  generative_ai/list_tuned_code_generation_models.py
  generative_ai/list_tuned_code_generation_models_test.py
  generative_ai/list_tuned_models.py
  generative_ai/list_tuned_models_test.py
  generative_ai/test_gemini_examples.py
Labels: automerge, samples

#12492 disable test log reporting to flaky-bot
  .kokoro/python2.7/periodic.cfg
  .kokoro/python3.10/periodic.cfg
  .kokoro/python3.11/periodic.cfg
  .kokoro/python3.12/periodic.cfg
  .kokoro/python3.8/periodic.cfg
  .kokoro/python3.9/periodic.cfg
Labels: samples

#12281 Add Firestore vector search query snippets
  firestore/cloud-client/requirements.txt
  firestore/cloud-client/vector_search.py
  firestore/cloud-client/vector_search_test.py
Labels: api: firestore, samples

#12527 Adding "TO DO" for variables
  generative_ai/inference/stream_multimodality_basic.py
  generative_ai/inference/stream_text_basic.py
Labels: samples

#12526 chore(generativai): Update create code samples to include `display_name`
  generative_ai/code_generation_unittest_test.py
  generative_ai/context_caching/create_context_cache.py
  generative_ai/controlled_generation/response_schema.py
  generative_ai/embedding_preview.py
  generative_ai/gemini_rapid_evaluation.py
  generative_ai/requirements.txt
Labels: priority: p1, samples

#12532 chore(generativeai): multiple minor changes
  generative_ai/controlled_generation/response_schema.py
  generative_ai/gemini_pdf_example.py
  generative_ai/gemini_pro_basic_example.py
  generative_ai/gemini_pro_config_example.py
  generative_ai/gemini_rapid_evaluation.py
  generative_ai/gemini_safety_config_example.py
  generative_ai/gemini_single_turn_video_example.py
  generative_ai/gemini_system_instruction.py
  generative_ai/gemini_text_input_example.py
  generative_ai/list_tuned_code_generation_models.py
  generative_ai/list_tuned_models.py
Labels: samples

#12280 feat: Create Batch job with custom network sample
  batch/create/create_with_specific_network.py
  batch/tests/test_basics.py
Labels: samples, api: batch

#12481 fix:regional samples for SM
  secretmanager/snippets/regional_samples/iam_grant_access_with_regional_secret.py
  secretmanager/snippets/regional_samples/iam_revoke_access_with_regional_secret.py
  secretmanager/snippets/regional_samples/snippets_test.py
Labels: api: secretmanager, samples

#12073 Remove load_only due to an error in old Airflow versions.
  composer/workflows/airflow_db_cleanup.py
Labels: api: composer, samples

#12106 feat: add Firestore and datastore multiple inequality samples
  datastore/cloud-client/index.yaml
  datastore/cloud-client/query_filter_or.py
  datastore/cloud-client/query_filter_or_test.py
  datastore/cloud-client/query_multi_ineq.py
  datastore/cloud-client/query_multi_ineq_test.py
  firestore/cloud-client/query_filter_or.py
  firestore/cloud-client/query_filter_or_test.py
  firestore/cloud-client/snippets.py
  firestore/cloud-client/snippets_test.py
Labels: api: firestore, api: datastore, samples

#12539 Update create_assessment.py
  recaptcha_enterprise/snippets/create_assessment.py
  recaptcha_enterprise/snippets/requirements.txt
  recaptcha_enterprise/snippets/test_create_assessment.py
Labels: api: recaptchaenterprise, samples

#12528 Add snippets for Firestore Vector Search distance parameters
  firestore/cloud-client/requirements.txt
  firestore/cloud-client/vector_search.py
  firestore/cloud-client/vector_search_test.py
Labels: api: firestore, samples

#12542 fix(generative-ai): Update comment in RAG API samples to specify optional
  generative_ai/gemini_rapid_evaluation.py
  generative_ai/rag.py
Labels: samples, aiplatform

#12538 fix: rasterio and update dependencies
  dataflow/gpu-examples/tensorflow-landsat-prime/Dockerfile
  dataflow/gpu-examples/tensorflow-landsat-prime/main.py
  dataflow/gpu-examples/tensorflow-landsat-prime/requirements.txt
  dataflow/gpu-examples/tensorflow-landsat/Dockerfile
  dataflow/gpu-examples/tensorflow-landsat/main.py
  dataflow/gpu-examples/tensorflow-landsat/requirements.txt
Labels: samples
