Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2024-11, with the labels that each got.

#12738 feat(dataplex): add code samples for Aspect Types
  .github/CODEOWNERS
  .github/auto-label.yaml
  .github/blunderbuss.yml
  dataplex/snippets/aspect_type_test.py
  dataplex/snippets/create_aspect_type.py
  dataplex/snippets/delete_aspect_type.py
  dataplex/snippets/get_aspect_type.py
  dataplex/snippets/list_aspect_types.py
  dataplex/snippets/requirements-test.txt
  dataplex/snippets/requirements.txt
  dataplex/snippets/update_aspect_type.py
Labels: samples, api: dataplex

#12753 fix: typo in list_context_caches function name
  generative_ai/context_caching/list_context_caches.py
  generative_ai/context_caching/test_context_caching.py
Labels: needs review, samples, api: vertex-ai

#12706 docs(samples): VAIS Answer - Add comment describing that all options are included by default
  discoveryengine/answer_query_sample.py
Labels: samples, api: discoveryengine

#12754 chore(generative_ai): clean up & re-format code samples
  generative_ai/evaluation/get_rouge_score.py
Labels: needs review, samples, api: vertex-ai

#12746 feat: add support for claude-3-5-sonnet-v2@20241022
  generative_ai/model_garden/claude_3_streaming_example.py
  generative_ai/model_garden/claude_3_tool_example.py
  generative_ai/model_garden/claude_3_unary_example.py
Labels: samples

#12755 feat(generative-ai): Update audio example to use audio_timestamp config
  generative_ai/understand_audio/requirements.txt
  generative_ai/understand_audio/transcription_example.py
Labels: samples

#12759 Update README.md
  dataflow/flex-templates/pipeline_with_dependencies/README.md
Labels: samples

#12758 Fix: network_configs assignment
  managedkafka/snippets/clusters/create_cluster.py
Labels: samples

#12671 feat(securitycenter): add sample for creating client with regional endpoint
  securitycenter/snippets_v2/snippets_create_client_v2.py
  securitycenter/snippets_v2/snippets_create_client_v2_test.py
Labels: api: securitycenter, samples

#12749 feat(dataplex): add code samples for Entry Types and Groups
  dataplex/snippets/create_entry_group.py
  dataplex/snippets/create_entry_type.py
  dataplex/snippets/delete_entry_group.py
  dataplex/snippets/delete_entry_type.py
  dataplex/snippets/entry_group_test.py
  dataplex/snippets/entry_type_test.py
  dataplex/snippets/get_entry_group.py
  dataplex/snippets/get_entry_type.py
  dataplex/snippets/list_entry_groups.py
  dataplex/snippets/list_entry_types.py
  dataplex/snippets/noxfile_config.py
  dataplex/snippets/update_entry_group.py
  dataplex/snippets/update_entry_type.py
Labels: samples, api: dataplex

#12765 feat: make samples self runnable by moving devrel tags
  managedkafka/snippets/clusters/create_cluster.py
  managedkafka/snippets/clusters/delete_cluster.py
  managedkafka/snippets/clusters/get_cluster.py
  managedkafka/snippets/clusters/list_clusters.py
  managedkafka/snippets/clusters/update_cluster.py
  managedkafka/snippets/consumergroups/delete_consumer_group.py
  managedkafka/snippets/consumergroups/get_consumer_group.py
  managedkafka/snippets/consumergroups/list_consumer_groups.py
  managedkafka/snippets/consumergroups/update_consumer_group.py
  managedkafka/snippets/requirements.txt
  managedkafka/snippets/topics/create_topic.py
  managedkafka/snippets/topics/delete_topic.py
  managedkafka/snippets/topics/get_topic.py
  managedkafka/snippets/topics/list_topics.py
  managedkafka/snippets/topics/update_topic.py
Labels: samples

#12747 feat: Compute Hyperdisk Create Sample
  compute/client_library/ingredients/disks/create_hyperdisk.py
  compute/client_library/recipes/disks/create_hyperdisk.py
  compute/client_library/snippets/disks/create_hyperdisk.py
  compute/client_library/snippets/tests/test_disks.py
Labels: api: compute, samples

#12748 feat: Created 2 new Samples - Hyperdisk create pool, Create Hyperdisk from pool
  compute/client_library/ingredients/disks/create_hyperdisk_from_pool.py
  compute/client_library/ingredients/disks/create_hyperdisk_storage_pool.py
  compute/client_library/recipes/disks/create_hyperdisk_from_pool.py
  compute/client_library/recipes/disks/create_hyperdisk_storage_pool.py
  compute/client_library/snippets/disks/create_hyperdisk_from_pool.py
  compute/client_library/snippets/disks/create_hyperdisk_storage_pool.py
  compute/client_library/snippets/tests/test_disks.py
Labels: api: compute, samples

#12718 fix(run/django): Update to Procfile, Artifact Registry, dedicated service account
  run/django/Dockerfile
  run/django/Procfile
  run/django/cloudmigrate.yaml
  run/django/e2e_test.py
  run/django/e2e_test_cleanup.yaml
  run/django/e2e_test_setup.yaml
  run/django/mysite/migrations/0001_createsuperuser.py
  run/django/mysite/settings.py
  run/django/polls/migrations/0001_initial.py
  run/django/polls/migrations/__init__.py
Labels: api: run, samples

#12586 fix: update deprecated notificationConfig in healthcare api
  healthcare/api-client/v1/fhir/fhir_stores.py
  healthcare/api-client/v1/fhir/fhir_stores_test.py
Labels: samples, api: healhcare

#12764 feat(genai): add prompt template example
  generative_ai/prompts/prompt_template.py
  generative_ai/prompts/test_prompt_template.py
Labels: samples

#12770 fix: log error message when exception is caught
  managedkafka/snippets/clusters/create_cluster.py
  managedkafka/snippets/clusters/delete_cluster.py
  managedkafka/snippets/clusters/get_cluster.py
  managedkafka/snippets/clusters/list_clusters.py
  managedkafka/snippets/clusters/update_cluster.py
  managedkafka/snippets/consumergroups/delete_consumer_group.py
  managedkafka/snippets/consumergroups/get_consumer_group.py
  managedkafka/snippets/consumergroups/list_consumer_groups.py
  managedkafka/snippets/consumergroups/update_consumer_group.py
  managedkafka/snippets/topics/create_topic.py
  managedkafka/snippets/topics/delete_topic.py
  managedkafka/snippets/topics/get_topic.py
  managedkafka/snippets/topics/list_topics.py
  managedkafka/snippets/topics/update_topic.py
Labels: samples

#12779 Updating the Functions README to include context on Cloud Run functions
  functions/README.md
  functions/README.rst
  functions/README.rst.in
Labels: api: cloudfunctions, samples

#12775 Renamed 2 region tags
  generative_ai/batch_predict/batch_code_predict.py
  generative_ai/batch_predict/batch_text_predict.py
Labels: samples

#12766 feat(dataplex): add code samples for Entries
  dataplex/snippets/create_entry.py
  dataplex/snippets/delete_entry.py
  dataplex/snippets/entry_test.py
  dataplex/snippets/get_entry.py
  dataplex/snippets/list_entries.py
  dataplex/snippets/lookup_entry.py
  dataplex/snippets/update_entry.py
Labels: samples, api: dataplex

#12776 feat(texttospeech): Create sample for Synthesize speech multiple speakers
  texttospeech/snippets/requirements.txt
  texttospeech/snippets/synthesize_speech_multiple_speakers.py
  texttospeech/snippets/synthesize_speech_multiple_speakers_test.py
Labels: api: texttospeech, samples

#12721 feat(alloydb): Added generate batch embeddings sample
  alloydb/conftest.py
  alloydb/notebooks/e2e_test.py
  alloydb/notebooks/embeddings_batch_processing.ipynb
  alloydb/notebooks/noxfile_config.py
  alloydb/notebooks/requirements-test.txt
  alloydb/notebooks/requirements.txt
  testing/test-env.tmpl.sh
Labels: api: notebooks, samples

#12782 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: samples

#12780 feat: Add Python 3.13 to testing image
  .kokoro/docker/Dockerfile
  .kokoro/python3.13/common.cfg
  .kokoro/python3.13/continuous.cfg
  .kokoro/python3.13/periodic.cfg
  .kokoro/python3.13/presubmit.cfg
Labels: samples

#12763 fix(securitycenter): update docstring for create_client_with_endpoint()
  securitycenter/snippets_v2/snippets_create_client_v2.py
  securitycenter/snippets_v2/snippets_create_client_v2_test.py
Labels: api: securitycenter, samples

#12783 feat(dataplex): add code samples for Search Entries
  dataplex/snippets/search_entries.py
  dataplex/snippets/search_entries_test.py
Labels: samples, api: dataplex

#12785 feat(dataplex): change method comments into docstrings
  dataplex/snippets/create_aspect_type.py
  dataplex/snippets/create_entry_group.py
  dataplex/snippets/create_entry_type.py
  dataplex/snippets/delete_aspect_type.py
  dataplex/snippets/delete_entry_group.py
  dataplex/snippets/delete_entry_type.py
  dataplex/snippets/get_aspect_type.py
  dataplex/snippets/get_entry_group.py
  dataplex/snippets/get_entry_type.py
  dataplex/snippets/list_aspect_types.py
  dataplex/snippets/list_entry_groups.py
  dataplex/snippets/list_entry_types.py
  dataplex/snippets/update_aspect_type.py
  dataplex/snippets/update_entry_group.py
  dataplex/snippets/update_entry_type.py
Labels: samples, api: dataplex

#12774 refactor (TPU): Refactored tests to use Mocking for TPU sample operations
  tpu/test_tpu.py
Labels: samples, api: tpu

#12772 feat: Created a new sample for creating VMs without consuming reservations.
  compute/client_library/ingredients/compute_reservation/create_not_consume_reservation.py
  compute/client_library/recipes/compute_reservations/create_not_consume_reservation.py
  compute/client_library/snippets/compute_reservations/create_not_consume_reservation.py
  compute/client_library/snippets/tests/test_compute_reservation.py
Labels: api: compute, samples

#12781 feat: New Compute reservation Sample
  compute/client_library/ingredients/compute_reservation/create_vm_template_not_consume_reservation.py
  compute/client_library/recipes/compute_reservations/create_vm_template_not_consume_reservation.py
  compute/client_library/snippets/compute_reservations/create_vm_template_not_consume_reservation.py
  compute/client_library/snippets/tests/test_compute_reservation.py
Labels: api: compute, samples

#12787 feat: Consistency group Samples : Create + Delete operations
  compute/client_library/ingredients/disks/сonsistency_groups/__init__.py
  compute/client_library/ingredients/disks/сonsistency_groups/create_consistency_group.py
  compute/client_library/ingredients/disks/сonsistency_groups/delete_consistency_group.py
  compute/client_library/recipes/disks/сonsistency_groups/__init__.py
  compute/client_library/recipes/disks/сonsistency_groups/create_consistency_group.py
  compute/client_library/recipes/disks/сonsistency_groups/delete_consistency_group.py
  compute/client_library/snippets/disks/сonsistency_groups/__init__.py
  compute/client_library/snippets/disks/сonsistency_groups/create_consistency_group.py
  compute/client_library/snippets/disks/сonsistency_groups/delete_consistency_group.py
  compute/client_library/snippets/tests/test_consistency_groups.py
Labels: api: compute, samples, snippet-bot:force-run

#12788 docs(discoveryengine): Add Search Tuning Samples
  discoveryengine/search_sample.py
  discoveryengine/train_custom_model_sample.py
  discoveryengine/train_custom_model_sample_test.py
  discoveryengine/update_serving_config_sample.py
  discoveryengine/update_serving_config_sample_test.py
Labels: samples, api: discoveryengine

#12768 Update Maintenance DAG
  composer/workflows/airflow_db_cleanup.py
Labels: api: composer, samples

#12784 feat: New Disks Samples. Secondary disk + Secondary region disk + Secondary custom disk
  compute/client_library/ingredients/disks/create_secondary_custom.py
  compute/client_library/ingredients/disks/create_secondary_disk.py
  compute/client_library/ingredients/disks/create_secondary_region_disk.py
  compute/client_library/recipes/disks/create_secondary_custom.py
  compute/client_library/recipes/disks/create_secondary_disk.py
  compute/client_library/recipes/disks/create_secondary_region_disk.py
  compute/client_library/snippets/disks/create_secondary_custom.py
  compute/client_library/snippets/disks/create_secondary_disk.py
  compute/client_library/snippets/disks/create_secondary_region_disk.py
  compute/client_library/snippets/tests/test_disks.py
Labels: api: compute, samples

#12804 feat(dataplex): add quickstart for dataplex
  dataplex/quickstart/noxfile_config.py
  dataplex/quickstart/quickstart.py
  dataplex/quickstart/quickstart_test.py
Labels: samples, api: dataplex
