Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2025-03, with the labels that each got.

#13023 feat(securitycenter): Add Resource SCC Org Mgmt API SHA Custom Modules (GetEff, ListEff, ListDesc, Simulate)
  securitycenter/snippets_management_api/noxfile_config.py
  securitycenter/snippets_management_api/requirements-test.txt
  securitycenter/snippets_management_api/security_health_analytics_custom_modules.py
  securitycenter/snippets_management_api/security_health_analytics_custom_modules_test.py
Labels: api: securitycenter, samples

#13198 chore(datastore): delete and migrate invalid region tags in the whole folder - step 1
  datastore/cloud-ndb/flask_app.py
  datastore/cloud-ndb/quickstart.py
  datastore/cloud-ndb/requirements.txt
Labels: api: datastore, samples

#13195 chore(gae): delete old region tags in iap/js/poll.js
  appengine/standard/iap/js/poll.js
Labels: api: appengine, samples

#13081 feat(securitycenter): Add Resource SCC Org Mgt API ETD Custom Modules (GetEff, ListEff, ListDesc, Validate)
  securitycenter/snippets_management_api/event_threat_detection_custom_modules.py
  securitycenter/snippets_management_api/event_threat_detection_custom_modules_test.py
  securitycenter/snippets_management_api/noxfile_config.py
Labels: api: securitycenter, samples

#13205 fix: update CODEOWNER for practice-folder
  .github/CODEOWNERS
Labels: samples

#13208 docs(generative_ai): Update Dynamic Retrieval for Grounding to include Mode
  generative_ai/grounding/requirements.txt
  generative_ai/grounding/web_example.py
Labels: samples

#13220 chore: set gcs-sdk-team as CODEOWNERS
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: samples

#13215 chore(aiplatformprediction): delete samples 'custom-prediction-routines' and 'online_prediction'
  ml_engine/custom-prediction-routines/README.md
  ml_engine/custom-prediction-routines/predictor-interface.py
  ml_engine/custom-prediction-routines/preprocess.py
  ml_engine/custom-prediction-routines/scikit-predictor.py
  ml_engine/custom-prediction-routines/setup.py
  ml_engine/custom-prediction-routines/tensorflow-predictor.py
  ml_engine/online_prediction/README.md
  ml_engine/online_prediction/noxfile_config.py
  ml_engine/online_prediction/predict.py
  ml_engine/online_prediction/predict_test.py
  ml_engine/online_prediction/requirements-test.txt
  ml_engine/online_prediction/requirements.txt
  ml_engine/online_prediction/resources/census_example_bytes.pb
  ml_engine/online_prediction/resources/census_test_data.json
  ml_engine/online_prediction/scikit-xg-predict.py
Labels: api: ml, samples

#13216 update model version to 2.0
  generative_ai/model_tuning/supervised_advanced_example.py
  generative_ai/model_tuning/supervised_example.py
Labels: samples

#13211 feat(tpu): Updating TPU samples to feature TPUv5e
  tpu/create_tpu.py
  tpu/create_tpu_spot.py
  tpu/create_tpu_with_script.py
  tpu/delete_tpu.py
  tpu/get_tpu.py
  tpu/list_tpu.py
  tpu/queued_resources_create.py
  tpu/queued_resources_create_network.py
  tpu/queued_resources_create_spot.py
  tpu/queued_resources_create_startup_script.py
  tpu/queued_resources_create_time_bound.py
  tpu/queued_resources_delete.py
  tpu/queued_resources_delete_force.py
  tpu/queued_resources_get.py
  tpu/queued_resources_list.py
  tpu/start_tpu.py
  tpu/stop_tpu.py
Labels: samples, api: tpu

#13226 feat: Veo sample with image input
  genai/video_generation/requirements.txt
  genai/video_generation/test_video_generation_examples.py
  genai/video_generation/videogen_with_img.py
Labels: samples

#13223 fix(securitycenter): delete deprecated samples and fix failing samples
  securitycenter/snippets/requirements-test.txt
  securitycenter/snippets/requirements.txt
  securitycenter/snippets/snippets_findings.py
  securitycenter/snippets/snippets_findings_test.py
  securitycenter/snippets/snippets_notification_receiver.py
  securitycenter/snippets/snippets_orgs_test.py
Labels: api: securitycenter, samples

#13053 feat(dialogflow-cx): Example implementation of Streaming Detect Intent with continuous microphone input and audio output
  dialogflow-cx/requirements-test.txt
  dialogflow-cx/requirements.txt
  dialogflow-cx/streaming_detect_intent_infinite.py
  dialogflow-cx/streaming_detect_intent_infinite_test.py
Labels: samples

#13229 chore(gae): delete samples in appengine/standard/localtesting/
  appengine/standard/localtesting/README.md
  appengine/standard/localtesting/datastore_test.py
  appengine/standard/localtesting/env_vars_test.py
  appengine/standard/localtesting/login_test.py
  appengine/standard/localtesting/mail_test.py
  appengine/standard/localtesting/queue.yaml
  appengine/standard/localtesting/resources/queue.yaml
  appengine/standard/localtesting/runner.py
  appengine/standard/localtesting/task_queue_test.py
Labels: api: appengine, samples

#13193 chore(video): delete samples in beta_snippets.py
  videointelligence/samples/analyze/beta_snippets.py
  videointelligence/samples/analyze/beta_snippets_test.py
Labels: api: videointelligence, samples

#13201 feat(BigQuery): Programmatic retries for a continuous query
  bigquery/continuous-queries/programmatic_retries.py
  bigquery/continuous-queries/programmatic_retries_test.py
  bigquery/continuous-queries/requirements-test.txt
  bigquery/continuous-queries/requirements.txt
Labels: api: bigquery, samples, waiting-response

#13231 fix(bigquery): fix typos and comments in cloud-client samples
  bigquery/cloud-client/conftest.py
  bigquery/cloud-client/grant_access_to_dataset.py
  bigquery/cloud-client/grant_access_to_table_or_view.py
  bigquery/cloud-client/revoke_access_to_table_or_view.py
  bigquery/cloud-client/revoke_dataset_access.py
  bigquery/cloud-client/view_dataset_access_policy.py
  bigquery/cloud-client/view_table_or_view_access_policy.py
Labels: api: bigquery, samples

#13224 chore: Remove `openai` directory
  generative_ai/openai/chat_openai_example.py
  generative_ai/openai/chat_openai_image_example.py
  generative_ai/openai/chat_openai_image_stream_example.py
  generative_ai/openai/chat_openai_stream_example.py
  generative_ai/openai/credentials_refresher_class_example.py
  generative_ai/openai/credentials_refresher_usage_example.py
  generative_ai/openai/noxfile_config.py
  generative_ai/openai/requirements-test.txt
  generative_ai/openai/requirements.txt
  generative_ai/openai/test_openai_examples.py
Labels: samples

#13202 chore(datastore): delete invalid region tag 'ndb_flask' - Region tag migration step 3
  datastore/cloud-ndb/flask_app.py
Labels: api: datastore, samples

#13234 fix(ppai): update accelorator, eos
  people-and-planet-ai/geospatial-classification/README.ipynb
  people-and-planet-ai/geospatial-classification/e2e_test.py
Labels: samples, api: people-and-planet-ai

#13235 chore(language): remove markdown files from migration
  language/AUTHORING_GUIDE.md
  language/CONTRIBUTING.md
  language/README.md
Labels: api: language, samples

#13238 fix(template): update template to not test 3.13
  generative_ai/template_folder/noxfile_config.py
Labels: samples

#13239 chore(deps): bump deps for generative_ai/embeddings
  generative_ai/embeddings/requirements.txt
Labels: samples

#13237 fix: make mock span expected format
  functions/v2/http_logging/main_test.py
Labels: api: cloudfunctions, samples

#13240 chore(functions): delete region tag and update sample for Python 3.9+
  functions/ocr/app/main.py
  functions/ocr/app/noxfile_config.py
  functions/ocr/app/requirements.txt
Labels: api: cloudfunctions, samples

#13236 feat(model_garden): add new samples to list models and deploy a model
  model_garden/gemma/gemma3_deploy.py
  model_garden/gemma/models_deploy_options_list.py
  model_garden/gemma/models_deployable_list.py
  model_garden/gemma/noxfile_config.py
  model_garden/gemma/requirements-test.txt
  model_garden/gemma/requirements.txt
  model_garden/gemma/test_model_garden_examples.py
Labels: samples

#13244 docs: Remove Grounded Generation Samples
  discoveryengine/standalone_apis_sample.py
  discoveryengine/standalone_apis_sample_test.py
Labels: samples, api: discoveryengine

#13241 chore(gae): fix region tags in appengine folder
  appengine/standard/endpoints-frameworks-v2/echo/app.yaml
  appengine/standard/endpoints-frameworks-v2/echo/main.py
  appengine/standard/images/api/blobstore.py
  appengine/standard/images/api/requirements-test.txt
  appengine/standard/images/api/requirements.txt
  appengine/standard/migration/incoming/appengine_config.py
  appengine/standard/migration/incoming/requirements-test.txt
  appengine/standard/migration/incoming/requirements.txt
Labels: api: appengine, samples

#13247 docs(generative_ai): Remove `inference` folder (duplicate samples)
  generative_ai/inference/inference_api_test.py
  generative_ai/inference/non_stream_multimodality_basic.py
  generative_ai/inference/non_stream_text_basic.py
  generative_ai/inference/noxfile_config.py
  generative_ai/inference/requirements-test.txt
  generative_ai/inference/requirements.txt
  generative_ai/inference/stream_multimodality_basic.py
  generative_ai/inference/stream_text_basic.py
Labels: samples

#13248 update to comment about model region availability
  model_garden/anthropic/anthropic_batchpredict_with_bq.py
Labels: samples

#13243 test(secretmanager): add test_create_secret_without_ttl
  secretmanager/snippets/snippets_test.py
Labels: api: secretmanager, samples

#13251 chore(gae): delete invalid region tag 'env_vars'
  appengine/standard/endpoints-frameworks-v2/echo/app.yaml
Labels: api: appengine, samples

#13253 docs(texttospeech): Update TTS Samples to use Chirp 3 Model
  texttospeech/snippets/streaming_tts_quickstart.py
  texttospeech/snippets/synthesize_text.py
Labels: api: texttospeech, samples

#13252 Link to official documentation to interpret Assessment
  recaptcha_enterprise/demosite/app/urls.py
Labels: api: recaptchaenterprise, samples, asset: flagship

#13256 fix(documentai): refactor 'documentai_quickstart' sample for latest style guide
  documentai/snippets/quickstart_sample.py
  documentai/snippets/quickstart_sample_test.py
Labels: samples, api: documentai

#13257 refactor(genai): Update samples to use latest version of Gen AI SDK
  genai/README.md
  genai/batch_prediction/batchpredict_embeddings_with_gcs.py
  genai/batch_prediction/batchpredict_with_bq.py
  genai/batch_prediction/batchpredict_with_gcs.py
  genai/batch_prediction/requirements.txt
  genai/bounding_box/boundingbox_with_txt_img.py
  genai/bounding_box/requirements.txt
  genai/content_cache/requirements.txt
  genai/controlled_generation/ctrlgen_with_class_schema.py
  genai/controlled_generation/ctrlgen_with_enum_class_schema.py
  genai/controlled_generation/ctrlgen_with_enum_schema.py
  genai/controlled_generation/ctrlgen_with_nested_class_schema.py
  genai/controlled_generation/ctrlgen_with_nullable_schema.py
  genai/controlled_generation/requirements.txt
  genai/count_tokens/counttoken_compute_with_txt.py
  genai/count_tokens/counttoken_resp_with_txt.py
  genai/count_tokens/counttoken_with_txt.py
  genai/count_tokens/counttoken_with_txt_vid.py
  genai/count_tokens/requirements.txt
  genai/embeddings/requirements.txt
  genai/express_mode/api_key_example.py
  genai/express_mode/requirements.txt
  genai/live/live_with_txt.py
  genai/live/requirements.txt
  genai/provisioned_throughput/provisionedthroughput_with_txt.py
  genai/provisioned_throughput/requirements.txt
  genai/safety/requirements.txt
  genai/safety/safety_with_txt.py
  genai/template_folder/requirements.txt
  genai/text_generation/requirements.txt
  genai/text_generation/textgen_chat_stream_with_txt.py
  genai/text_generation/textgen_chat_with_txt.py
  genai/tools/requirements.txt
  genai/tools/tools_code_exec_with_txt.py
  genai/tools/tools_func_desc_with_txt.py
  genai/video_generation/requirements.txt
  model_garden/anthropic/requirements.txt
Labels: samples

#13260 feat(genai): update thinking model name
  genai/text_generation/thinking_textgen_with_txt.py
Labels: samples

#13259 feat(parametermanager): added samples for handling cmek in parameter for global and regional
  parametermanager/snippets/create_param_with_kms_key.py
  parametermanager/snippets/regional_samples/create_regional_param_with_kms_key.py
  parametermanager/snippets/regional_samples/remove_regional_param_kms_key.py
  parametermanager/snippets/regional_samples/snippets_test.py
  parametermanager/snippets/regional_samples/update_regional_param_kms_key.py
  parametermanager/snippets/remove_param_kms_key.py
  parametermanager/snippets/requirements-test.txt
  parametermanager/snippets/requirements.txt
  parametermanager/snippets/snippets_test.py
  parametermanager/snippets/update_param_kms_key.py
Labels: samples

#13258 fix(documentai): refactor 'quickstart' sample
  documentai/snippets/quickstart_sample.py
  documentai/snippets/quickstart_sample_test.py
Labels: samples, api: documentai

#13268 docs(genai): Add Grounding Sample for Vertex AI Search
  genai/tools/test_tools_examples.py
  genai/tools/tools_vais_with_txt.py
Labels: samples

#13262 Pytorch upgrade in `gemma-flex-template` docker image
  dataflow/gemma-flex-template/Dockerfile
Labels: samples

#13255 feat(translate): add region tag 'import_client_library' and refactor sample
  translate/samples/AUTHORING_GUIDE.md
  translate/samples/CONTRIBUTING.md
  translate/samples/snippets/noxfile_config.py
  translate/samples/snippets/translate_v3_translate_text.py
  translate/samples/snippets/translate_v3_translate_text_test.py
Labels: api: translate, samples
