Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2025-01, with the labels that each got.

#13012 feat: Created Snapshot Schedule Samples -> Get, Create, Delete, List operations
  compute/client_library/ingredients/snapshots/schedule_attach_disk.py
  compute/client_library/ingredients/snapshots/schedule_create.py
  compute/client_library/ingredients/snapshots/schedule_delete.py
  compute/client_library/ingredients/snapshots/schedule_get.py
  compute/client_library/ingredients/snapshots/schedule_list.py
  compute/client_library/ingredients/snapshots/schedule_remove_disk.py
  compute/client_library/ingredients/snapshots/schedule_update.py
  compute/client_library/recipes/snapshots/schedule_attach_disk.py
  compute/client_library/recipes/snapshots/schedule_create.py
  compute/client_library/recipes/snapshots/schedule_delete.py
  compute/client_library/recipes/snapshots/schedule_get.py
  compute/client_library/recipes/snapshots/schedule_list.py
  compute/client_library/recipes/snapshots/schedule_remove_disk.py
  compute/client_library/recipes/snapshots/schedule_update.py
  compute/client_library/snippets/snapshots/schedule_attach_disk.py
  compute/client_library/snippets/snapshots/schedule_create.py
  compute/client_library/snippets/snapshots/schedule_delete.py
  compute/client_library/snippets/snapshots/schedule_get.py
  compute/client_library/snippets/snapshots/schedule_list.py
  compute/client_library/snippets/snapshots/schedule_remove_disk.py
  compute/client_library/snippets/snapshots/schedule_update.py
  compute/client_library/snippets/tests/test_disks.py
  compute/client_library/snippets/tests/test_snapshots.py
Labels: api: compute, samples

#12969 chore(documentai): delete sample documentai_process_document_processor_version
  documentai/snippets/process_document_sample.py
Labels: samples, api: documentai

#13030 chore(job): migrate regions step 3 - remove regions in base_company_sample.py & custom_attribute_sample.py
  jobs/v3/api_client/base_company_sample.py
  jobs/v3/api_client/custom_attribute_sample.py
Labels: api: jobs, samples

#13022 Update poll.js to include XML Header in fetch request
  appengine/standard/iap/js/poll.js
Labels: api: appengine, samples

#13024 fix: Changed the "consistency_groups" folder name to correct.
  compute/client_library/ingredients/disks/consistency_groups/__init__.py
  compute/client_library/ingredients/disks/consistency_groups/add_disk_consistency_group.py
  compute/client_library/ingredients/disks/consistency_groups/clone_disks_consistency_group.py
  compute/client_library/ingredients/disks/consistency_groups/create_consistency_group.py
  compute/client_library/ingredients/disks/consistency_groups/delete_consistency_group.py
  compute/client_library/ingredients/disks/consistency_groups/list_disks_consistency_group.py
  compute/client_library/ingredients/disks/consistency_groups/remove_disk_consistency_group.py
  compute/client_library/ingredients/disks/consistency_groups/stop_replication_consistency_group.py
  compute/client_library/recipes/disks/consistency_groups/__init__.py
  compute/client_library/recipes/disks/consistency_groups/add_disk_consistency_group.py
  compute/client_library/recipes/disks/consistency_groups/clone_disks_consistency_group.py
  compute/client_library/recipes/disks/consistency_groups/create_consistency_group.py
  compute/client_library/recipes/disks/consistency_groups/delete_consistency_group.py
  compute/client_library/recipes/disks/consistency_groups/list_disks_consistency_group.py
  compute/client_library/recipes/disks/consistency_groups/remove_disk_consistency_group.py
  compute/client_library/recipes/disks/consistency_groups/stop_replication_consistency_group.py
  compute/client_library/snippets/disks/consistency_groups/__init__.py
  compute/client_library/snippets/disks/consistency_groups/add_disk_consistency_group.py
  compute/client_library/snippets/disks/consistency_groups/clone_disks_consistency_group.py
  compute/client_library/snippets/disks/consistency_groups/create_consistency_group.py
  compute/client_library/snippets/disks/consistency_groups/delete_consistency_group.py
  compute/client_library/snippets/disks/consistency_groups/list_disks_consistency_group.py
  compute/client_library/snippets/disks/consistency_groups/remove_disk_consistency_group.py
  compute/client_library/snippets/disks/consistency_groups/stop_replication_consistency_group.py
  compute/client_library/snippets/tests/test_consistency_groups.py
  compute/client_library/snippets/tests/test_disks.py
Labels: api: compute, samples

#13038 chore(job): fix regions in jobs/v3/api_client/ histogram_sample.py & quickstart.py
  jobs/v3/api_client/histogram_sample.py
  jobs/v3/api_client/quickstart.py
Labels: api: jobs, samples

#13011 chore(gke): migrate region step 1 - update regions adding gke_ prefix and _python suffix
  kubernetes_engine/django_tutorial/polls.yaml
Labels: api: container, samples

#13034 chore(job): fix regions in files starting with 'e' to 'g' from folder 'jobs/v3/api_client/'
  jobs/v3/api_client/email_alert_search_sample.py
  jobs/v3/api_client/featured_job_search_sample.py
  jobs/v3/api_client/general_search_sample.py
Labels: api: jobs, samples

#13043 chore(gke): migrate region step 1 - update regions adding gke_ prefix and _yaml_python suffix
  kubernetes_engine/django_tutorial/polls.yaml
Labels: api: container, samples

#13042 chore(endpoints): migrate region tags step 1 & 3 - rename regions in k8s-grpc-bookstore.yaml
  endpoints/kubernetes/k8s-grpc-bookstore.yaml
Labels: samples, api: endpoints

#13044 chore: Update cloud build triggers to use cloud logging only
  .kokoro/docker/cloudbuild.yaml
Labels: samples

#13033 chore(endpoints): migration step 3 - remove old regions in openapi-appengine.yaml
  endpoints/getting-started/openapi-appengine.yaml
Labels: samples, api: endpoints

#13031 chore(job): migration step 3 - delete region tags in jobs/v3/api_client/base_job_sample.py
  jobs/v3/api_client/base_job_sample.py
Labels: api: jobs, samples

#13002 docs(samples): Remove Beam version from requirements.txt file
  dataflow/flex-templates/getting_started/requirements.txt
Labels: samples

#13045 chore(gae): migrate region tags step 1 & 3 - mail/app.yaml
  appengine/standard/mail/app.yaml
Labels: api: appengine, samples

#13009 chore(endpoints): rename region tags at endpoints/getting-started/k8s/esp_echo_http.yaml
  endpoints/getting-started/k8s/esp_echo_http.yaml
Labels: samples, api: endpoints

#13029 chore(endpoints): region migration step 3 - remove regions in open-api.yaml
  endpoints/getting-started/openapi.yaml
Labels: samples, api: endpoints

#13047 chore(gae): rename regions in standard/multitenancy
  appengine/standard/multitenancy/datastore.py
  appengine/standard/multitenancy/memcache.py
  appengine/standard/multitenancy/taskqueue.py
Labels: samples

#12818 feat(vertex-ai): add sample for text translation with gemini
  generative_ai/text_generation/gemini_translate_text.py
  generative_ai/text_generation/test_text_generation_examples.py
Labels: samples, api: vertex-ai

#13035 chore(deps): update dependency google-crc32c, update min python version
  secretmanager/snippets/noxfile_config.py
  secretmanager/snippets/requirements.txt
Labels: api: secretmanager, samples

#13051 chrore(gae): fix region tags for images thumbnailer in appengine/standard/images/api/
  appengine/standard/images/api/blobstore.py
  appengine/standard/images/api/main.py
Labels: api: appengine, samples

#13046 fix(gke): delete old region "gke_kubernetes_deployment_python"
  kubernetes_engine/django_tutorial/polls.yaml
Labels: api: container, samples

#13052 chore(compute): delete region 'all' in generate_wrapped_rsa_key.py
  compute/encryption/generate_wrapped_rsa_key.py
Labels: api: compute, samples

#13055 chore(gae): rename regions in standard/storage/appengine-client/main.py
  appengine/standard/storage/appengine-client/main.py
  appengine/standard/storage/appengine-client/requirements-test.txt
Labels: samples

#13063 fix(workflows): Fix Quickstart for Cloud Client
  workflows/cloud-client/main.py
  workflows/cloud-client/main_test.py
Labels: samples, api: workflows

#13068 chore(gae): remove region tag 'form' from HTML templates
  appengine/standard/mailjet/requirements-test.txt
  appengine/standard/mailjet/templates/index.html
  appengine/standard/pubsub/requirements-test.txt
  appengine/standard/pubsub/templates/index.html
  appengine/standard_python3/pubsub/templates/index.html
Labels: api: appengine, samples

#13070 Update modify_policy_add_member.py
  iam/cloud-client/snippets/modify_policy_add_member.py
Labels: api: iam, samples

#13071 Apply code review suggestions to replace "member" with "principal" in additional places
  iam/cloud-client/snippets/modify_policy_add_member.py
  iam/cloud-client/snippets/modify_policy_remove_member.py
Labels: api: iam, samples

#13072 chore(compute): migrate region tags step 1 in metadata (watch maintenance notices)
  compute/metadata/main.py
  compute/metadata/vm_identity.py
  compute/metadata/vm_identity_test.py
Labels: api: compute, samples

#13005 chore(job): rename and delete tags at jobs/v3/api_client/location_search_sample.py
  jobs/v3/api_client/location_search_sample.py
Labels: api: jobs, samples

#13075 fix: remove incorrect information for datalabeling/README.md
  datalabeling/README.md
Labels: api: datalabeling, samples

#13076 fix: remove dataproc/README.md
  dataproc/README.md
Labels: api: dataproc, samples

#13077 fix: remove invalid video/cloud-client directory
  video/cloud-client/README.rst
Labels: samples

#13079 chore(gae): migrate region tags step 1 - at standard/ndb/overview/main.py
  appengine/standard/ndb/overview/main.py
  appengine/standard/ndb/overview/requirements-test.txt
  appengine/standard/ndb/overview/requirements.txt
Labels: api: appengine, samples

#13078 chore(gae): delete regions from migration/ndb/overview/main.py
  appengine/standard/migration/ndb/overview/README.md
  appengine/standard/migration/ndb/overview/main.py
  appengine/standard/migration/ndb/overview/requirements-test.txt
  appengine/standard/migration/ndb/overview/templates/index.html
Labels: api: appengine, samples

#13074 fix: isort --profile google
  appengine/standard/migration/incoming/main.py
  appengine/standard/migration/storage/main.py
  appengine/standard/migration/storage/main_test.py
  appengine/standard/migration/taskqueue/pull-counter/appengine_config.py
  appengine/standard/migration/taskqueue/pull-counter/main.py
  appengine/standard/migration/taskqueue/pull-counter/main_test.py
  appengine/standard/migration/urlfetch/async/main.py
  appengine/standard/migration/urlfetch/async/main_test.py
  appengine/standard/migration/urlfetch/requests/main_test.py
Labels: api: appengine, samples

#13082 chore(gae): migrate region tags step 3 - at standard/ndb/overview/main.py
  appengine/standard/ndb/overview/main.py
Labels: api: appengine, samples

#12799 Fix KPO sample imports
  composer/workflows/kubernetes_pod_operator_c2.py
Labels: api: composer, samples

#13083 chore(compute): migrate regions step 3 - delete old region tags from metadata/main.py
  compute/metadata/main.py
Labels: api: compute, samples

#12988 docs(generative_ai): Add Vertex AI Express Mode Sample
  generative_ai/express_mode/api_key_example.py
  generative_ai/express_mode/api_key_example_test.py
  generative_ai/express_mode/noxfile_config.py
  generative_ai/express_mode/requirements-test.txt
  generative_ai/express_mode/requirements.txt
Labels: samples

#12760 fix: sqlalchemy dependencies
  cloud-sql/mysql/sqlalchemy/Dockerfile
  cloud-sql/mysql/sqlalchemy/requirements.txt
  cloud-sql/postgres/sqlalchemy/Dockerfile
  cloud-sql/postgres/sqlalchemy/requirements.txt
  cloud-sql/sql-server/sqlalchemy/Dockerfile
  cloud-sql/sql-server/sqlalchemy/requirements.txt
Labels: api: cloudsql, samples

#13090 chore(gae): delete region tags from standard/xmpp folder
  appengine/standard/xmpp/requirements-test.txt
  appengine/standard/xmpp/requirements.txt
  appengine/standard/xmpp/xmpp.py
Labels: api: appengine, samples

#13086 chore(monitoring): delete region tag 'all' from monitoring/api/v3/api-client/list_resources.py
  monitoring/api/v3/api-client/list_resources.py
Labels: api: monitoring, samples

#13092 chore(gae): delete region tags from standard/migration/urlfetch and remove Python 2 refs
  appengine/standard/migration/urlfetch/async/README.md
  appengine/standard/migration/urlfetch/async/main.py
  appengine/standard/migration/urlfetch/async/requirements-test.txt
  appengine/standard/migration/urlfetch/requests/README.md
  appengine/standard/migration/urlfetch/requests/main.py
  appengine/standard/migration/urlfetch/requests/requirements-test.txt
Labels: api: appengine, samples

#13094 chore(compute): delete region tags from 'api' and 'oslogin' folders
  compute/api/startup-script.sh
  compute/oslogin/service_account_ssh.py
Labels: api: compute, samples

#13089 chore(deps): update dependencies langchain-google-vertexai
  genai/template_folder/requirements.txt
  generative_ai/batch_predict/requirements.txt
  generative_ai/chat_completions/requirements.txt
  generative_ai/context_caching/requirements.txt
  generative_ai/controlled_generation/requirements.txt
  generative_ai/embeddings/requirements.txt
  generative_ai/evaluation/requirements.txt
  generative_ai/extensions/requirements.txt
  generative_ai/function_calling/requirements.txt
  generative_ai/grounding/requirements.txt
  generative_ai/image/requirements.txt
  generative_ai/image_generation/requirements.txt
  generative_ai/inference/requirements.txt
  generative_ai/model_garden/requirements.txt
  generative_ai/model_tuning/requirements.txt
  generative_ai/openai/requirements.txt
  generative_ai/prompts/requirements.txt
  generative_ai/reasoning_engine/requirements.txt
  generative_ai/safety/requirements.txt
  generative_ai/system_instructions/requirements.txt
  generative_ai/template_folder/requirements.txt
  generative_ai/text_generation/requirements.txt
  generative_ai/text_models/requirements.txt
  generative_ai/token_count/requirements.txt
  generative_ai/understand_audio/requirements.txt
  generative_ai/understand_docs/requirements.txt
  generative_ai/understand_video/requirements.txt
  generative_ai/video/requirements.txt
Labels: samples

#13096 chore(cloudrun): migrate region tags for dockerfiles and yaml from run folder - part 2
  run/pubsub/Dockerfile
  run/system-package/Dockerfile
Labels: api: run, samples

#13017 chore(job): migrate regions step 3 - remove regions in auto_complete_sample.py
  jobs/v3/api_client/auto_complete_sample.py
Labels: api: jobs, samples

#13099 docs(generative_ai): Update Grounding with Google Search sample to include dynamic retrieval
  generative_ai/grounding/requirements.txt
  generative_ai/grounding/web_example.py
Labels: samples

#13100 chore(deps): update protobuf in secretmanager/snippets/requirements.txt
  secretmanager/snippets/requirements.txt
Labels: api: secretmanager, samples

#13095 chore(cloudrun): migrate region tags for dockerfiles and yaml from run folder - part 1
  run/django/cloudmigrate.yaml
  run/hello-broken/Dockerfile
  run/helloworld/Dockerfile
  run/image-processing/Dockerfile
Labels: api: run, samples

#13101 docs(gen_ai): Add Vertex AI Express Mode Sample for Google Gen AI SDK
  genai/express_mode/api_key_example.py
  genai/express_mode/api_key_example_test.py
  genai/express_mode/noxfile_config.py
  genai/express_mode/requirements-test.txt
  genai/express_mode/requirements.txt
Labels: samples

#13108 docs(gemma2): spell check fix
  gemma2/gemma2_predict_gpu.py
  gemma2/gemma2_predict_tpu.py
  gemma2/gemma2_test.py
Labels: samples

#13115 feat(genai): add python samples for text generation
  genai/text_generation/noxfile_config.py
  genai/text_generation/requirements-test.txt
  genai/text_generation/requirements.txt
  genai/text_generation/test_text_generation.py
  genai/text_generation/textgen_chat_with_txt.py
  genai/text_generation/textgen_chat_with_txt_stream.py
  genai/text_generation/textgen_config_with_txt.py
  genai/text_generation/textgen_sys_instr_with_txt.py
  genai/text_generation/textgen_with_txt.py
  genai/text_generation/textgen_with_txt_img.py
  genai/text_generation/textgen_with_txt_stream.py
Labels: samples, api: vertex-ai

#13110 chore(gae): delete samples in flexible_python37_and_earlier: /extending_runtime and /disk
  appengine/flexible_python37_and_earlier/disk/app.yaml
  appengine/flexible_python37_and_earlier/disk/main.py
  appengine/flexible_python37_and_earlier/disk/main_test.py
  appengine/flexible_python37_and_earlier/disk/noxfile_config.py
  appengine/flexible_python37_and_earlier/disk/requirements-test.txt
  appengine/flexible_python37_and_earlier/disk/requirements.txt
  appengine/flexible_python37_and_earlier/extending_runtime/.dockerignore
  appengine/flexible_python37_and_earlier/extending_runtime/Dockerfile
  appengine/flexible_python37_and_earlier/extending_runtime/app.yaml
  appengine/flexible_python37_and_earlier/extending_runtime/main.py
  appengine/flexible_python37_and_earlier/extending_runtime/main_test.py
  appengine/flexible_python37_and_earlier/extending_runtime/noxfile_config.py
  appengine/flexible_python37_and_earlier/extending_runtime/requirements-test.txt
  appengine/flexible_python37_and_earlier/extending_runtime/requirements.txt
Labels: api: appengine, samples

#13106 chore(gae): fix region tags from standard: mailjet mail and flask folders
  appengine/standard/flask/hello_world/main.py
  appengine/standard/flask/hello_world/requirements-test.txt
  appengine/standard/flask/hello_world/requirements.txt
  appengine/standard/mail/handle_bounced_email.py
  appengine/standard/mail/handle_incoming_email.py
  appengine/standard/mail/header.py
  appengine/standard/mail/requirements-test.txt
  appengine/standard/mail/requirements.txt
  appengine/standard/mail/send_mail.py
  appengine/standard/mail/send_message.py
  appengine/standard/mail/user_signup.py
  appengine/standard/mailjet/main.py
Labels: api: appengine, samples

#12817 chore(language): delete region tag 'language_python_migration_imports'
  language/snippets/cloud-client/v1/quickstart.py
Labels: api: language, samples

#13109 controlled generation(genai): Add new code samples
  genai/controlled_generation/ctrlgen_with_class_schema.py
  genai/controlled_generation/ctrlgen_with_enum_schema.py
  genai/controlled_generation/ctrlgen_with_nested_class_schema.py
  genai/controlled_generation/ctrlgen_with_nullable_schema.py
  genai/controlled_generation/noxfile_config.py
  genai/controlled_generation/requirements-test.txt
  genai/controlled_generation/test_controlled_generation_samples.py
Labels: samples

#13116 feat(genai): add python samples for text generation (2nd batch)
  genai/text_generation/test_data/latte.jpg
  genai/text_generation/test_data/scones.jpg
  genai/text_generation/test_text_generation.py
  genai/text_generation/textgen_transcript_with_gcs_audio.py
  genai/text_generation/textgen_with_gcs_audio.py
  genai/text_generation/textgen_with_multi_img.py
  genai/text_generation/textgen_with_multi_local_img.py
  genai/text_generation/textgen_with_mute_video.py
  genai/text_generation/textgen_with_video.py
Labels: samples

#13103 chore(cloudrun): migrate region tags for dockerfiles and yaml from run folder - part 1 - step 3
  run/django/cloudmigrate.yaml
  run/hello-broken/Dockerfile
  run/helloworld/Dockerfile
  run/image-processing/Dockerfile
Labels: api: run, samples

#13124 feat: Imagen model update
  generative_ai/image_generation/generate_image.py
Labels: samples
