Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2025-07, with the labels that each got.

#13472 fix: Update the default model name for the ranking api default name
  discoveryengine/standalone_apis_sample.py
Labels: samples, api: discoveryengine

#13427 fix(retail): add region tag forPython - Update create_product.py
  retail/interactive-tutorials/product/create_product.py
Labels: samples, api: retail

#13480 Change what we do with manually triggered dag_runs to being pruned too.
  composer/workflows/airflow_db_cleanup.py
Labels: api: composer, samples

#13476 chore: fix typo
  alloydb/notebooks/embeddings_batch_processing.ipynb
Labels: api: notebooks, samples

#13485 feat: veo samples for advanced control features
  genai/video_generation/test_video_generation_examples.py
  genai/video_generation/videogen_with_first_last_frame.py
  genai/video_generation/videogen_with_no_rewrite.py
  genai/video_generation/videogen_with_vid.py
Labels: samples

#13491 fix(retail): add region tag for Python - UPdate set_inventory.py
  retail/interactive-tutorials/product/set_inventory.py
Labels: samples, api: retail

#13500 fix(retail): add region tag for Python - Update search with filtering
  retail/interactive-tutorials/search/search_with_filtering.py
Labels: samples, api: retail

#13499 fix(retail): add region tag for Python - Update search with ordering
  retail/interactive-tutorials/search/search_with_ordering.py
Labels: samples, api: retail

#13484 feat(secretmanager): Added samples for tags field
  secretmanager/snippets/bind_tags_to_secret.py
  secretmanager/snippets/create_secret_with_tags.py
  secretmanager/snippets/regional_samples/bind_tags_to_regional_secret.py
  secretmanager/snippets/regional_samples/create_regional_secret_with_tags.py
  secretmanager/snippets/regional_samples/snippets_test.py
  secretmanager/snippets/requirements.txt
  secretmanager/snippets/snippets_test.py
Labels: api: secretmanager, samples

#13465 fix(retail): add region tag for Python- Update add fullfillment places.py
  retail/interactive-tutorials/product/add_fulfillment_places.py
Labels: samples, api: retail

#13494 fix(retail): add region tag for Python - Update import user events inline source
  retail/interactive-tutorials/events/import_user_events_inline.py
Labels: samples, api: retail

#13493 fix(retail): add region tag for Python - Update import user events from big query
  retail/interactive-tutorials/events/import_user_events_big_query.py
Labels: samples, api: retail

#13489 fix(parametermanager): fix examples in parameter manager docs sample
  parametermanager/snippets/create_param_version_with_secret.py
  parametermanager/snippets/regional_samples/create_regional_param_version_with_secret.py
  parametermanager/snippets/regional_samples/remove_regional_param_kms_key.py
  parametermanager/snippets/regional_samples/update_regional_param_kms_key.py
Labels: samples, api: parametermanager

#13509 chore(batch prediction) Updates code samples to use gemini 2.5 flash instead of gemini 2.0 flash
  genai/batch_prediction/batchpredict_with_bq.py
  genai/batch_prediction/batchpredict_with_gcs.py
Labels: samples

#13512 feat(batch predition): Adds get_batch_prediction_job.py code sample
  genai/batch_prediction/get_batch_job.py
  genai/batch_prediction/test_batch_prediction_examples.py
Labels: samples

#13524 feat: update veo3 model version
  genai/video_generation/requirements.txt
  genai/video_generation/videogen_with_img.py
  genai/video_generation/videogen_with_txt.py
Labels: samples

#13497 Add script to efficiently delete a large number of nested empty folders in an HNS bucket.
  storage/hierarchical-namespace/README.md
  storage/hierarchical-namespace/delete_empty_folders.py
Labels: api: storage, samples

#13514 feat(discoveryengine): Add user pseudo id to answer query sample
  discoveryengine/answer_query_sample.py
  discoveryengine/documents_sample_test.py
Labels: samples, api: discoveryengine
