Repository GoogleCloudPlatform/python-docs-samples, pull requests merged in 2025-08, with the labels that each got.

#13536 fix(ci): update default django static bucket name
  run/django/e2e_test_cleanup.yaml
  run/django/e2e_test_setup.yaml
Labels: api: run, samples

#13529 feat: Update session sample with the new SessionServiceClient
  discoveryengine/requirements.txt
  discoveryengine/session_sample.py
Labels: samples, api: discoveryengine

#13542 feat(genai): update Imagen 4 model
  genai/image_generation/imggen_with_txt.py
Labels: samples

#13513 feat(dataproc): create pyspark nodegroup cluster sample
  dataproc/snippets/noxfile_config.py
  dataproc/snippets/submit_pyspark_job_to_driver_node_group_cluster.py
  dataproc/snippets/submit_pyspark_job_to_driver_node_group_cluster_test.py
Labels: api: dataproc, samples

#13464 fix(retail): add region tag for Python - search with query expansion spec
  retail/interactive-tutorials/search/search_with_filtering_test.py
  retail/interactive-tutorials/search/search_with_query_expansion_spec.py
Labels: samples, api: retail

#13552 feat(genai): Update samples to use Gemini 2.5 Flash MM
  genai/image_generation/imggen_mmflash_edit_img_with_txt_img.py
  genai/image_generation/imggen_mmflash_locale_aware_with_txt.py
  genai/image_generation/imggen_mmflash_multiple_imgs_with_txt.py
  genai/image_generation/imggen_mmflash_txt_and_img_with_txt.py
  genai/image_generation/imggen_mmflash_with_txt.py
  genai/image_generation/imggen_virtual_try_on_with_txt_img.py
  genai/image_generation/test_image_generation.py
  genai/image_generation/test_image_generation_mmflash.py
Labels: samples
